<div class="moj-scrollable-pane">

  {% set rows = data[data['v8CareHomeBedsAndOccupancy']]['Care home beds and occupancy'] %}
  {% set selectedBedTypes = data.bedType3 or [] %}
  {% if selectedBedTypes and (selectedBedTypes is string) %}
  {% set selectedBedTypes = [selectedBedTypes] %}
  {% endif %}
  {% set noFiltersSet = (not selectedBedTypes) or (selectedBedTypes.length == 0) %}
  <table class="govuk-table">
    <caption class="govuk-table__caption">Table 2: care home bed numbers per 100,000 adult population – Suffolk <abbr title="Local Authority">LA</abbr>, 1 February 2025 to 1 October 2025</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-third">Indicator</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Feb</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Mar</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Apr</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">May</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Jun</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Jul</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Aug</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Sep</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Oct</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% set rowsRendered = 0 %}
      {% for row in rows %}
      {% set matchesBedType = (selectedBedTypes.length == 0) or (row["Indicator"] in selectedBedTypes) %}
      {% if matchesBedType %}
      {% set rowsRendered = rowsRendered + 1 %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{row["Indicator"]}}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">{{row["Feb"]}}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">{{row["Mar"]}}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">{{row["Apr"]}}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">{{row["May"]}}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">{{row["Jun"]}}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">{{row["Jul"]}}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">{{row["Aug"]}}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">{{row["Sep"]}}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">{{row["Oct"]}}</td>
      </tr>
      {% endif %}
      {% endfor %}
      <!-- {% if rowsRendered == 0 %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" colspan="10">No results match your selection.</td>
      </tr>
      {% endif %} -->
    </tbody>
  </table>

</div>

<div class="govuk-form-block">
  <p class="govuk-body data-source">Sources: Capacity Tracker from the Department of Health and Social Care (DHSC), population estimates from the Office for National Statistics (ONS)</p>
</div>