{% if data.signedInState == "signedInBasic" %}
{% extends "v10/layouts/signed-in-basic.html" %}
{% elif data.signedInState == "signedInSelectLocation" %}
{% extends "v10/layouts/signed-in-select-location.html" %}
{% elif data.signedInState == "signedInHome" %}
{% extends "v10/layouts/signed-in-home.html" %}
{% elif data.signedInState == "signedIn" %}
{% extends "v10/layouts/signed-in.html" %}
{% elif data.signedInState == "signedInMenu" %}
{% extends "v10/layouts/signed-in-menu.html" %}
{% else %}
{% extends "v10/layouts/default.html" %}
{% endif %}

{% set pageName = "Accessibility statement for " + serviceName %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{pageName}}</h1>
    <p class="govuk-body">This accessibility statement applies to the {{serviceName}} (GASCD) service at <a href="https://getadultsocialcaredata.com" class="govuk-link">https://getadultsocialcaredata.com</a>.</p>
    
    <h2 class="govuk-heading-m">Using the service</h2>
    <p class="govuk-body"> This service is run by the Department for Health and Social Care (DHSC). We want as many people as possible to be able to use this service. For example, that means you should be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>change colours, contrast levels and fonts using browser or device settings</li>
      <li>zoom in up to 400&#37; without the text spilling off the screen</li>
      <li>navigate most of the website and platform using a keyboard or speech recognition software</li>
      <li>listen to most of the website and platform using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
    </ul>
    <p class="govuk-body">We’ve also made the text as simple as possible to understand.</p>
    <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

    <h2 class="govuk-heading-m">How accessible this service is</h2>
    <p class="govuk-body">We know that some parts of the service are not yet fully accessible:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>There are several issues with the Provision and occupancy topic area which assisted technology users may wish to avoid for the time being</li>
      <li>We recommend assisted technology users to use the read mode when accessing the sign in page to allow you to avoid issues with the cookie messaging</li>
    </ul>
    
    <h2 class="govuk-heading-m">Feedback and contact information</h2>
    <p class="govuk-body">We’re always looking to improve the accessibility of the service.</p>
    <p class="govuk-body">If you find any problems not listed on this page, or think we’re not meeting accessibility requirements, <a href="mailto:gascd.enquiries@dhsc.gov.uk" class="govuk-link">contact us</a>.</p>
    
    <h2 class="govuk-heading-m">Enforcement procedure</h2>
    <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>
    <p class="govuk-body">If you’re not happy with how we respond to your complaint, contact the <a href="https://www.equalityadvisoryservice.com" class="govuk-link">Equality Advisory and Support Service</a>, which is run on behalf of <abbr title="Equality and Human Rights Commission">EHRC</abbr>.</p>
    
    <h2 class="govuk-heading-m">Technical information about this service's accessibility</h2>
    <p class="govuk-body">The <abbr title="Department of Health and Social Care">DHSC</abbr> is committed to making the service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
    
    <h2 class="govuk-heading-m">Compliance status</h2>
    <p class="govuk-body">The Digital Accessibility Centre (DAC) tested the <abbr title="{{serviceName}}">GASCD</abbr> service on 03 February 2026.</p>
    <p class="govuk-body">This website is not compliant with the <a href="https://www.w3.org/TR/WCAG22/" class="govuk-link">Web Content Accessibility Guidelines version 2.2</a> AA standard. The non-compliances are listed below.</p>

    <h2 class="govuk-heading-m">Non-accessible content</h2>
    <p class="govuk-body">The content listed below is non-accessible for the following reasons:</p>

    <h3 class="govuk-heading-s">Non-compliance with the accessibility regulations</h3>
    <ol class="govuk-list govuk-list--number">
      <li>In the provision and occupancy topic a filter box where only one filter can be applied currently gives screen reader users unnecessary list information. This fails WCAG 2.2 success criterion 1.3.1 (Info and Relationships).</li>
      <li>In the provision and occupancy topic there is an incorrect heading structure causing confusion in some filter boxes for screen reader users. This fails WCAG 2.2 success criterion 1.3.1 (Info and Relationships).</li>
      <li>On the location select page, there is currently incomplete error messaging when users try to submit with mandatory fields left empty. This fails WCAG 2.2 success criterion 3.3.1 (Error Identification).</li>
      <li>On the home page, skip links may not go to the start of page content and will move to the middle of the page instead.  This affects some assistive technologies. This fails WCAG 2.2 success criterion 2.4.1 (Bypass Blocks).</li>
      <li>In the provision and occupancy topic a filter button ‘show bed numbers’ currently has the wrong voice command attached to it. This affects voice activation users.  This fails WCAG 2.2 success criterion 2.5.3 (Label in Name).</li>
      <li>In the provision and occupancy topic the 'bed type' search feature presented has been programmed incorrectly.  Some search inputs have duplicate ids meaning that some voice activation software cannot select all options. Search results may also be presented in a nested form to screen reader users. There are some duplicate ids between filter functions on the same page which may lead to unexpected filtering results. The clear all button within some search features may result in unexpected change of focus on the page making keyboard navigation difficult. This is affecting a variety of assistive technology users. This fails WCAG 2.2 success criterion 1.3.1 (Info and Relationships), 4.1.2 (Name, Role, Value), 2.5.3 (Label in Name) and 2.4.3 (Focus Order).</li>
      <li>In the Provision and occupancy topic, there is an html error which may cause some screen readers to display incomplete information. This fails WCAG 2.2 success criterion 4.1.2 (Name, Role, Value).</li>
      <li>In the provision and occupancy topic the trend graph currently does not have an alternative version and does not work with screen readers. This graph also currently has restricted navigation when using a keyboard. This fails WCAG 2.2 success criterion 1.1.1 (Non-text Content), 1.3.1 (Info and Relationships), 2.1.1 (Keyboard) and 4.1.2 (Name, Role, Value).</li>
      <li>In the provision and occupancy topic there are currently some graphs using non-compliant colour contrast and there is no alternative way of viewing the data. This fails WCAG 2.2 success criterion 1.4.1 (Use of Colour).</li>
      <!-- <li>An additional cookies service message box on the sign in page has a button ‘Hide this message’ that is not properly connected to the message. This affects screen readers when not in reading mode. This fails WCAG 2.2 success criterion 2.4.6 (Headings and Labels).</li> -->
      <li>At the top of the home page the blue link text ‘give your feedback’ against the pale blue background fails to meet the minimum text contrast requirements making it difficult for some users to identify the link text. This fails WCAG 2.2 success criterion 1.4.3 (Contrast).</li>
      <li>In the provision and occupancy topic text within the figure 1 graph does not meet minimum text contrast requirements which may cause issues for some users. This fails WCAG 2.2 success criterion 1.4.3 (Contrast).</li>
      <li>In the provision and occupancy topic some graph content does not meet the minimum non text contrast requirements which may cause issues for some users. This fails WCAG 2.2 success criterion 1.4.11 (Non-text Contrast).</li>
      <li>In the provision and occupancy topic some table captions require unexpected scrolling to read them when displayed in 320 x 700 reflow resolution. This may cause difficulties for some users. This fails WCAG 2.2 success criterion 1.4.10 (Reflow).</li>
      <li>In the provision and occupancy topic a text box on a graph currently does not display correctly for users with additional text spacing turned on. This fails WCAG 2.2 success criterion 1.4.12 (Text Spacing).</li>
      <li>In the provision and occupancy topic a graph currently has content that displays when hovered over with a mouse cursor but does not disappear when cursor is moved. This may obscure information and cause navigation issues for some users. This fails WCAG 2.2 success criterion 1.4.13 (Content on Hover or Focus).</li>
    </ol>
    <p class="govuk-body">We plan to resolve this by the 1 July 2026.</p>
    
    <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
    <p class="govuk-body">This statement was prepared on 20 February 2026.</p>
    <p class="govuk-body">The service was last tested on 3 February 2026. The test was carried out by the Digital Accessibility Centre (DAC).</p>
  </div>

</div>
{% endblock %}