{% extends "v5/layouts/logged-in.html" %}

{% set pageName = "Adult social care beds per 100,000 adult population" %}

{% block beforeContent %}
<a href="../../landing-pages/care-home-capacity/care-homes" class="govuk-back-link" >Back</a>
{% endblock %}

{% block content %}
<style>

  /* Contents box styling */
  .contents-box {
    background-color: #f3f2f1; /* GOV.UK light grey */
    padding: 20px;
    margin-bottom: 20px;
    /* max-width: 63%; Adjusted width for better spacing */
  }
  
  /* Remove default list indentation */
  .govuk-list--number {
    counter-reset: main-counter;
    list-style-type: none;
    padding-left: 0; /* Remove padding */
    margin-left: 0; /* Remove margin */
  }
  
  .govuk-list--number > li {
    counter-increment: main-counter;
  }
  
  .govuk-list--number > li::before {
    content: counter(main-counter) ". ";
    font-weight: normal;
  }
  
  /* Styling for the nested (child) unordered list */
  .nested-list {
    counter-reset: sub-counter;
    list-style-type: none;
    padding-left: 1.5rem; /* Align nested items properly */
    margin-left: 0;
  }
  
  .nested-list li {
    counter-increment: sub-counter;
  }
  
  .nested-list li::before {
    content: counter(main-counter) ". " counter(sub-counter) ". ";
    font-weight: normal;
  }

</style>

<div class="govuk-grid-row">
    
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Care home capacity data</span>
    <h1 class="govuk-heading-l">{{pageName}}</h1>
    <p class="govuk-body-l">The total number of beds recorded by care providers across health and adult social care, adjusted to a rate of 100,000 adults in the local authority population.</p>
      
    <div class="contents-box">
      <h2 class="govuk-heading-m">Contents</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#preferences" class="govuk-link">Choose your data preferences</a>
        <li><a href="#data" class="govuk-link">Data</a>
        <!-- <li><a href="#smart-insights" class="govuk-link">Smart insights (experimental)</a> -->
        <li><a href="#footnotes" class="govuk-link">Footnotes</a>
        <li><a href="#related" class="govuk-link">Related information</a></li>
      </ul>
    </div>

    <h2 class="govuk-heading-m govuk-!-margin-top-9" id="preferences">Choose your data preferences</h2>
    <p class="govuk-body">Change these to update the data shown.</p>

    <dl class="govuk-summary-list">
  
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Locations</dt>
        <dd class="govuk-summary-list__value">
          Suffolk
          <br>
          East of England
        </dd>
        <dd class="govuk-summary-list__actions"><a href="#" class="govuk-link" data-message="Sorry, this hasn’t been designed yet">Change<span class="govuk-visually-hidden"> locations</span></a></dd>
      </div>

    </dl>

    <h2 class="govuk-heading-m govuk-!-margin-top-7" id="data">Data</h2>
    <p class="govuk-body">Find out how <a href="#" class="govuk-link" data-message="Sorry, this hasn’t been designed yet">[DATA FOOTNOTE]</a> is defined, sourced, and updated.</p>
    <dl class="govuk-summary-list">
  
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Filters</dt>
        <dd class="govuk-summary-list__value">	
          Total beds
          <br>
          Dementia Nursing
          <br>
          Dementia Residential
        </dd>
        <dd class="govuk-summary-list__actions"><a href="#" class="govuk-link" data-message="Sorry, this hasn’t been designed yet">Change<span class="govuk-visually-hidden"> locations</span></a></dd>
      </div>

    </dl>
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">Contents</h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#chart">Bar chart</a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#time-series">Trends over time</a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#map">Map</a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#table">Table</a>
        </li>
      </ul>

      <div class="govuk-tabs__panel" id="chart">
        <!-- <h3 class="govuk-heading-s">Bar chart</h3> -->
        {% include "./_chart.html" %}
        <p class="govuk-body">
          Source: <a href="#" class="govuk-link" target="_blank" data-message="Sorry, this hasn’t been designed yet">Capacity Tracker (opens in new tab)</a>
          <br>
          Data correct as of 24 December 2024
          <br>
          <a href="#" class="govuk-link" data-message="Sorry, this hasn’t been designed yet">Download chart image (PNG)</a>
        </p>
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="time-series">
        <!-- <h3 class="govuk-heading-m">Trends over time</h3> -->
        {% include "./_time-series.html" %}
        <p class="govuk-body">
          Source: <a href="#" class="govuk-link" target="_blank" data-message="Sorry, this hasn’t been designed yet">Capacity Tracker (opens in new tab)</a>
          <br>
          Data correct as of 24 December 2024
          <br>
          <a href="#" class="govuk-link" data-message="Sorry, this hasn’t been designed yet">Download chart image (PNG)</a>
        </p>
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="map">
        <h3 class="govuk-heading-s">Map</h3>
        <p class="govuk-body">The map view is not yet available.</p>
        <p class="govuk-body">We are working to introduce this feature to the service. In the meantime, you can explore the data by chart, time series or table.</p>
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="table">
        <!-- <h3 class="govuk-heading-m">Table</h3> -->

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--s">Adult social care beds per 100,000 adult population at 24 December 2024</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Location</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Suffolk</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">East of England region</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">All England</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Total beds</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">2,398.4</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">1,969.5</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">2,088.2</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Dementia nursing</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">160.1</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">126.0</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">182.1</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Dementia residential</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">648.8</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">486.6</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">432.8</td>
            </tr>
          </tbody>
        </table>

        <p class="govuk-body">
          Source: <a href="#" class="govuk-link" target="_blank" data-message="Sorry, this hasn’t been designed yet">Capacity Tracker (opens in new tab)</a>
          <br>
          Data correct as of 24 December 2024
          <br>
          <a href="#" class="govuk-link" data-message="Sorry, this hasn’t been designed yet">Download table data (CSV)</a>
        </p>
      </div>

    </div>

  </div>

</div>

<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">
    <!-- <h2 class="govuk-heading-m" id="smart-insights">Smart insights (experimental)</h2>

    <div class="govuk-inset-text">
      Smart insights use artificial intelligence (AI) to analyse this data, highlighting trends and patterns to support your own analysis. As this is experimental, verify the insights to check they are appropriate and meet your needs. <a class="govuk-link" href="help/smart-insights">Learn more about smart insights</a>
    </div>

    <h3 class="govuk-heading-s">Summary of key trends</h3>
    <p class="govuk-body">Suffolk has a higher number of dementia residential beds per 100,000 adult population (648.8) compared to the East of England region (486.6) and England overall (432.8). This suggests a stronger focus on residential dementia care in Suffolk than in many other areas.</p>

    <p class="govuk-body">Additionally, while Suffolk provides more total care beds per 100,000 people (2,398.4) than the East of England region (1,969.5), its provision of dementia nursing beds (160.1 per 100,000) is slightly lower than the national average (182.1). This indicates that while residential dementia care is well-supported, access to specialist nursing care for dementia may be more limited compared to the national picture.</p>

    <h3 class="govuk-heading-s">Insight 1: Strong focus on dementia residential care in Suffolk</h3>
    <p class="govuk-body">Suffolk has a 33% higher provision of dementia residential beds per 100,000 people than the East of England region and 50% more than the national average. This suggests that dementia residential care is more widely available in Suffolk compared to other areas.</p>
    
    <h4 class="govuk-heading-s">How you might use this insight</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>Review how demand for dementia residential care compares to other types of adult social care to ensure resources align with future needs.</li>
      <li>Assess whether the focus on dementia residential care affects the availability of other care types, such as general nursing or specialist mental health care.</li>
    </ul>

    <h3 class="govuk-heading-s">Insight 2: Lower provision of dementia nursing care compared to national average</h3>
    <p class="govuk-body">While Suffolk has a strong provision of dementia residential care, its dementia nursing care beds per 100,000 adult population (160.1) are lower than the national average (182.1). This may indicate fewer options for those needing more intensive nursing support.</p>

    <h4 class="govuk-heading-s">How you might use this insight</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>Explore whether demand for dementia nursing care in Suffolk is increasing and if additional provision is needed.</li>
      <li>Consider whether individuals with complex dementia care needs have sufficient access to specialised nursing care locally.</li>
    </ul> -->

    <h2 class="govuk-heading-m govuk-!-margin-top-7" id="footnotes">Footnotes</h2>
    <p class="govuk-body">Find out how this indicator is defined, sourced, and updated.</p>
    <p class="govuk-body"><a href="../../help/beds-per-100000-adult-population" class="govuk-link">View footnotes</a></p>

    <h2 class="govuk-heading-m govuk-!-margin-top-7" id="related">Related information</h2>
    <p class="govuk-body">For more information on population age, check the latest Market Position Statement and Joint Strategic Needs Assessment. You will usually find these on the local authority's website.</p>
  </div>

</div>
{% endblock %}