<div id="dhsc-filter--action2" class="dhsc-filter--action" style="display: none;">
  <button id="dhsc-filter--button2" class="govuk-button" type="button" aria-expanded="false">
    <span class="dhsc-filter--button-content">Show filters</span>
    <i id="dhsc-filter--icon2" class="fa fa-plus" aria-hidden="true"><span id="dhsc-filter--icon2-content" class="govuk-visually-hidden">Open</span></i>
  </button>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <div id="dhsc-filter--content2" class="dhsc-filter--content">

      <form action="data-update-filters2" method="post" novalidate>

        <div class="govuk-grid-row">
          
          <div class="govuk-grid-column-one-third govuk-grid-column-one-third-searchable-radios-section">
            {% include "./_2-age-groups.html" %}
          </div>

        </div>

        <div class="govuk-grid-row govuk-!-margin-top-4">

          <div class="govuk-grid-column-full">

            <div class="govuk-button-group">
              <button id="update-filters2" type="submit" class="govuk-button" data-module="govuk-button" name="filterApplied2" value="Yes">Apply</button>
              {% if data.filterApplied2 %}
              <a href="?filterApplied2=&ageGroup2=#data2" class="govuk-link app-button--link">Clear all</a>
              {% endif %}
            </div>
            
          </div>

        </div>

      </form>

    </div>

  </div>

</div>
{% if data.filterApplied2 %}

<div class="app-c-filter-summary">
  <h5 class="app-c-filter-summary__heading">Active filters</h5>
  <ul class="app-c-filter-summary__remove-filters">
    <li>
      <a class="app-c-filter-summary__remove-filter" href="?filterApplied2=&ageGroup2=#data2">
        <span class="app-c-filter-summary__remove-filter-text">
          <span class="govuk-visually-hidden">Remove filter</span>
          Age group: {{data.ageGroup2 or 'Aged 85 and over'}}
        </span>
      </a>
    </li>
  </ul>

  <div>
    <a class="app-c-filter-summary__clear-filters govuk-link govuk-link--no-visited-state" href="?filterApplied2=&ageGroup2=#data2">Clear all filters</a>
  </div>

</div>
{% endif %}