{% extends "v7/gov-uk/one-login/layouts/signed-out.html" %}

<!-- Set a blank service name (i.e. not creditor portal) -->
{% set serviceName %}
{% endset %}

{% block pageTitle %}
  How do you want to get security codes? - GOV.UK One Login – Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">

    <form action="choose-security-code-validation" method="post" novalidate>

      {% if error %}
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        
        <div role="alert">
          <h2 class="govuk-error-summary__title">There is a problem</h2>

          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#choose-security-codes">Choose how you want to get security codes</a>
              </li>
            </ul>
          </div>

        </div>

      </div>
      {% endif %}

      <div class="govuk-form-group{% if error %} govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset" aria-describedby="choose-security-codes-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">How do you want to get security codes?</h1>
          </legend>
        
          <div id="choose-security-codes-hint" class="govuk-hint">
            Choose how you'll get security codes when signing in to your GOV.UK One Login. This will remove your old phone number or authenticator app from your GOV.UK One Login.
          </div>

          {% if error %}
          <p id="choose-security-codes-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Choose how you want to get security codes</p>
          {% endif %}
          
          <div class="govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="choose-security-codes" name="choose-security-codes" type="radio" value="Text message">
              <label class="govuk-label govuk-radios__label" for="choose-security-codes">Text message</label>
            </div>
                
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="choose-security-codes-2" name="choose-security-codes" type="radio" value="Authenticator app for smartphone, tablet or computer">
              <label class="govuk-label govuk-radios__label" for="choose-security-codes-2">Authenticator app for smartphone, tablet or computer</label>
            </div>
                
          </div>
        
        </fieldset>
      
      </div>
          
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">What is an authenticator app?</span>
        </summary>

        <div class="govuk-details__text">
          <p class="govuk-body">An authenticator app creates a security code that helps confirm it’s you when you sign in.</p>
          <p class="govuk-body">You can use an authenticator app on your smartphone, tablet or desktop computer. Download an authenticator app for your smartphone or tablet from your app store or search online for an authenticator app for your computer.</p>
        </div>

      </details>

      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>

  </div>

</div>
{% endblock %}