{% extends "v5/layouts/logged-in.html" %}

{% block content %}
<style>

  table {
    margin: 2em 0;
    text-align: left;
    vertical-align: top;
    border-collapse: collapse;
    font-family: "GDS Transport", arial, sans-serif;
  }

  .companies-table {
    display: block;
    min-width: 600px;
  }

  caption {
    text-align: left;
    font-size: 1.4em;
  }

  th, td {
    /* border: 1px solid #666; */
    padding: 1em;
  }

  th {
    background-color: #acbcd5;
    /* #a15dbc; */
    color: #000;
    font-weight: normal;
  }

  tr {
    box-shadow: 0 3px 3px rgb(0 0 0 / 0.1);
  }

  tr:hover {
    text-decoration: underline;
  }

  tr:nth-child(odd) {
    background-color: #fff;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  } 

  #search-queries {
    font-family: "GDS Transport", arial, sans-serif;
    border: none;
    margin-bottom: 1.5em;
  }

  .search-queries-label {
    display: block;
  }

  .search-queries-input {
    padding: 1em;
    margin-top: 0.5em;
    width: 40em;
    border-radius: 5px;
  }

  .govuk-grid-column-one-half {
    background: #f3f2f1;
    border: 0.5em solid white;
  }

</style>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Get adult social care data</h1>
    <p class="govuk-body-l">Access the latest data on adult social care capacity and population needs across England.</p>
    <h2 class="govuk-heading-m govuk-!-margin-top-7">Adult social care capacity</h2>
  </div>

</div>

<div class="govuk-grid-row">
  <a href="../landing-pages/care-home-capacity/care-homes">
        
    <div class="govuk-grid-column-one-half ">
      <h2>Care home capacity data</h2>
      <p>Find and compare capacity data for residential care homes and nursing homes.</p>
    </div>

  </a>

  <a href="#">
      
    <div class="govuk-grid-column-one-half" data-message="Sorry, this hasn’t been designed yet">
      <h2 data-message="Sorry, this hasn’t been designed yet">Domiciliary care capacity data</h2>
      <p data-message="Sorry, this hasn’t been designed yet">Explore capacity data for home care, supported housing, supported living and shared lives schemes.</p>
    </div>

  </a>
</div>

<!-- <div class="govuk-grid-row">
  <a href="#">
    
    <div class="govuk-grid-column-one-half">
      <h2>Unpaid care</h2>
      <p>Explore data and insights about people providing unpaid care to adults.</p>
    </div>
    
  </a>

  <a href="#">
    
    <div class="govuk-grid-column-one-half">
      <h2>Current market and provision</h2>
      <p>Assess the local care market, including provider availability, occupancy levels and service quality.</p>
    </div>
    
  </a>
</div> -->

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-margin-top-7" style="margin-top: 1em;">Population needs</h2>
  </div>
  
  <a href="../landing-pages/current-population-needs/index">
  
    <div class="govuk-grid-column-one-half">
      <h2>Current population needs</h2>
      <p>Assess data indicators on a range of factors shaping current population needs for adult social care.</p>
    </div>
  
  </a>

  <a href="#">
      
    <div class="govuk-grid-column-one-half" data-message="Sorry, this hasn’t been designed yet">
      <h2 data-message="Sorry, this hasn’t been designed yet">Future population needs</h2>
      <p data-message="Sorry, this hasn’t been designed yet">Identify potential future needs for adult social care based on projected population changes.</p>
    </div>

  </a>
</div>

<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m" style="margin-top: 2em;">Supporting information</h2>
    <h3 class="govuk-heading-m"><a href="../help/user-guide">User guide</a></h3>
    <p class="govuk-body">Learn about this service and how data sources are used to develop a range of indicators.</p>
  </div>

</div>
{% endblock %}