{% extends "v6/layouts/logged-in-menu.html" %}

{% set pageName = "Financial spend and unpaid care" %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{pageName}}</h1>
    <p class="govuk-body-l">[Topic introduction text block]</p>
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <div class="gem-c-cards">
      <ul class="gem-c-cards__list gem-c-cards__list--one-column">
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="#">Financial spend on adult social care</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Summary teaser (max 12 words) on information available for this subtopic.</p>
          </div>
        
        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="#">Unpaid care</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Summary teaser (max 12 words) on information available for this subtopic.</p>
          </div>
        
        </li>
      </ul>
    </div>

  </div>

</div>
{% endblock %}