{% extends "v6/layouts/logged-in.html" %}

{% set pageName = "Financial spend and unpaid care" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../../home"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{pageName}}</h1>
    <p class="govuk-body-l">Find data on adult social care spending and the support provided by unpaid carers.</p>

    <div class="gem-c-cards">
      <ul class="gem-c-cards__list gem-c-cards__list--one-column">
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="financial-spend/data" data-message="Sorry, this hasn’t been designed yet">Financial spend on adult social care</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">View a breakdown of spending by service type over the last 3 financial years.</p>
          </div>
        
        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="#" data-message="Sorry, this hasn’t been designed yet">Unpaid care</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Compare national, regional and local statistics on people who provide unpaid care.</p>
          </div>
        
        </li>
      </ul>
    </div>

  </div>

</div>
{% endblock %}