<div class="moj-scrollable-pane">

  <table class="govuk-table">
    {% if data.selectedServiceType == "Care home" %}
    <caption class="govuk-table__caption">Table 3: care home bed numbers and occupancy levels &ndash; {{data.selectedLocationName or 'Ashfield Court (Exeter)'}}, Suffolk <abbr title="Local Authority">LA</abbr>, East of England region and England, October 2025</caption>
    {% else %}
    <caption class="govuk-table__caption">Table 3: care home bed numbers and occupancy levels &ndash; Suffolk <abbr title="Local Authority">LA</abbr>, East of England region and England, October 2025</caption>
    {% endif %}
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        {% if data.selectedServiceType == "Care home" %}
        <th scope="col" class="govuk-table__header">Indicator</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">{{data.selectedLocationName or 'Ashfield Court (Exeter)'}}</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Suffolk</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">East of England</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">England</th>
        {% else %}
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Indicator</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric">Suffolk</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric">East of England</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric">England</th>
        {% endif %}
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Beds per care home</td>
        {% if data.selectedServiceType == "Care home" %}
        <td class="govuk-table__cell govuk-table__cell--numeric">85</td>
        {% endif %}
        <td class="govuk-table__cell govuk-table__cell--numeric">20<br>(median)</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">23<br>(median)</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">25<br>(median)</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Occupancy level</td>
        {% if data.selectedServiceType == "Care home" %}
        <td class="govuk-table__cell govuk-table__cell--numeric">93&#37;</td>
        {% endif %}
        <td class="govuk-table__cell govuk-table__cell--numeric">87&#37;<br>(average)</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">89&#37;<br>(average)</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">89&#37;<br>(average)</td>
      </tr>
    </tbody>
  </table>

</div>

<div class="govuk-form-block">
  <p class="govuk-body data-source">Source: Capacity Tracker from the Department of Health and Social Care (DHSC)</p>
</div>