{# 
  NOTE:
  We intentionally do NOT use the ONS chart Nunjucks macro.

  Reasons:
  - Macro requires custom Nunjucks filters/globals not supported cleanly in GOV.UK Prototype Kit
  - Caused conflicts with tojson / extend functions
  - We instead render the same HTML structure manually and pass Highcharts config via JSON.

  This approach is:
  - More stable
  - Easier to debug
  - Compatible with scoped ONS CSS
#}
<div class="govuk-form-group ons-scope">

  <div data-highcharts-base-chart data-highcharts-type="{{lineChart.chartType}}" data-highcharts-theme="{{lineChart.theme}}" data-highcharts-title="{{lineChart.title}}" data-highcharts-id="{{lineChart.id}}">
    <figure class="ons-chart" aria-describedby="chart-audio-description-{{lineChart.id}}">
      <h2 class="govuk-heading-s">{{lineChart.title | safe}}</h2>
      {% if lineChart.subtitle %}
      <h3 class="ons-chart__subtitle">{{lineChart.subtitle}}</h3>
      {% endif %}
      <p class="ons-u-vh" id="chart-audio-description-{{lineChart.id}}">{{lineChart.description}}</p>

      <div data-highcharts-chart-container class="ons-chart__container" tabindex="0" role="region" aria-label="chart container" aria-describedby="chart-instructions-{{lineChart.id}}">
        
        <div id="chart-instructions-{{lineChart.id}}" class="ons-u-vh">
          Use the Tab key to move focus into the chart. Once inside, use the arrow keys to navigate between data points. As you move, tooltips will be announced to describe each point. Touch device users, explore by touch or with swipe gestures.
        </div>

        <div data-highcharts-chart class="ons-chart__chart">

        </div>

      </div>

      {% if lineChart.fallbackImageUrl %}
      {% set fallbackImageId = "fallback-image--" + lineChart.id %}
      <noscript id="{{fallbackImageId}}">
        <img src="{{lineChart.fallbackImageUrl}}" alt="{{lineChart.fallbackImageAlt or 'Fallback image for the chart as JavaScript is disabled'}}" class="ons-chart__fallback-image">
      </noscript>
      {% endif %}
      {% if lineChart.caption %}
      <figcaption class="ons-chart__caption">{{lineChart.caption}}</figcaption>
      {% endif %}
    </figure>

    <script type="application/json" data-highcharts-config--{{lineChart.id}}>
      {{lineHighchartsConfig | safe}}
    </script>
  </div>

</div>