{% extends "v6/layouts/logged-in.html" %}

{% set pageName = "Community social care providers - services and locations" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../../home"
    },
    {
      text: "Community social care",
      href: "../subtopics"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<style>

  /* Data visualisation component box styling */
  .data-box {
    background-color: #f3f2f1;
    padding: 20px; 
    margin-bottom: 20px;
  }

  /* Expansion on the GOV.UK Design System tabs component https://design-system.service.gov.uk/components/tabs) to make it work in our service */
  .govuk-tabs {
    margin: 0;
  }
  @media (min-width: 40.0625em) {
    .govuk-tabs__panel {
      background-color: #ffffff;
    }
  }

  /* 'Back to top' link component used on GOV.UK (e.g. https://www.gov.uk/government/collections/monthly-statistics-for-adult-social-care-england) */
  .govuk-frontend-supported .gem-c-contents-list-with-body__sticky-element {
    position: absolute;
    bottom: 0
  }
  .govuk-frontend-supported .gem-c-contents-list-with-body__sticky-element--stuck-to-window {
    bottom: 0;
    position: fixed
  }
  .govuk-frontend-supported .gem-c-contents-list-with-body__sticky-element--enabled {
    transition: opacity, .3s, ease;
    opacity: 1
  }
  @media(max-width: 40.0525em) {
    .govuk-frontend-supported .gem-c-contents-list-with-body__sticky-element--enabled {
      position: static
    }
  }
  .govuk-frontend-supported .gem-c-contents-list-with-body__sticky-element--hidden {
    opacity: 0;
    pointer-events: none
  }

  .gem-c-contents-list-with-body__link-container {
    margin: 0 auto;
    padding: 0
  }
  @media(min-width: 40.0625em) {
    .gem-c-contents-list-with-body__link-container {
      max-width: 1024px
    }
  }

  .gem-c-contents-list-with-body__link-container .gem-c-back-to-top-link {
    margin-left: 0;
    margin-right: 0
  }

  .gem-c-contents-list-with-body__list-container {
    margin-bottom: 15px
  }
  @media(min-width: 40.0625em) {
    .gem-c-contents-list-with-body__list-container {
      margin-bottom: 50px
    }
  }

  .gem-c-contents-list-with-body__link-wrapper {
    padding-bottom: 10px
  }

  .gem-c-contents-list-with-body__link-wrapper .gem-c-back-to-top-link {
    padding-bottom: 10px
  }

  .gem-c-contents-list-with-body__link-wrapper.gem-c-contents-list-with-body__sticky-element--stuck-to-window {
    background-color: #f3f2f1;
    bottom: -1px;
    left: 0;
    margin: 0;
    padding: 0;
    padding-left: 0;
    position: fixed;
    width: 100%;
    z-index: 10
  }
  @media(min-width: 40.0625em) {
    .gem-c-contents-list-with-body__link-wrapper.gem-c-contents-list-with-body__sticky-element--stuck-to-window {
      padding-left: 10px
    }
  }

  .gem-c-contents-list-with-body__link-wrapper.gem-c-contents-list-with-body__sticky-element--stuck-to-window .gem-c-back-to-top-link {
    margin-bottom: 0;
    padding: 15px;
    width: 66%
  }
  @media(min-width: 40.0625em) {
    .gem-c-contents-list-with-body__link-wrapper.gem-c-contents-list-with-body__sticky-element--stuck-to-window .gem-c-back-to-top-link {
      padding: 20px
    }
  }

  .gem-c-back-to-top-link {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .gem-c-back-to-top-link__icon {
    float: left;
    margin-right: .3em;
    width: .8em;
    height: .968em;
  }

</style>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{pageName}}</h1>
    <p class="govuk-body-l">Summary teaser (max 12 words) on information available for this subtopic.</p>

    <h2 class="govuk-heading-l govuk-!-margin-top-9">Data overview</h2>
    <p class="govuk-body">Data overview summary information, e.g. broad guidance.</p>
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <div class="data-box">

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h3 class="govuk-heading-m">Data visualisation caption</h3>
        <p class="govuk-body">Data visualisation immediate context.</p>

        <h3 class="govuk-tabs__title">Contents</h3>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#data-map">Map</a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data-table">Table</a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data-download">Download links</a>
          </li>
        </ul>

        <div class="govuk-tabs__panel" id="data-map">
          <p class="govuk-body">Add data visualisation here.</p>
        </div>

        <div class="govuk-tabs__panel" id="data-table">
          <p class="govuk-body">Add tabular data here.</p>
        </div>

        <div class="govuk-tabs__panel" id="data-download">
          <p class="govuk-body">Add design for downloading data here.</p>
        </div>

      </div>

    </div>

  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-margin-top-9">Trends</h2>
    <p class="govuk-body">Trends summary information, e.g. limitation.</p>
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <div class="data-box">

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h3 class="govuk-heading-m">Data visualisation caption</h3>
        <p class="govuk-body">Data visualisation immediate context.</p>

        <h3 class="govuk-tabs__title">Contents</h3>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#trend-chart">Chart</a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#trend-table">Table</a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#trend-download">Download links</a>
          </li>
        </ul>

        <div class="govuk-tabs__panel" id="trend-chart">
          <p class="govuk-body">Add data visualisation here.</p>
        </div>

        <div class="govuk-tabs__panel" id="trend-table">
          <p class="govuk-body">Add tabular data here.</p>
        </div>

        <div class="govuk-tabs__panel" id="trend-download">
          <p class="govuk-body">Add design for downloading data here.</p>
        </div>

      </div>

    </div>

  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-margin-top-9">Subtopic data indicator definition(s)</h2>
    <p class="govuk-body">Summary text on any non-specialist points.</p>

    <div class="gem-c-cards">
      <ul class="gem-c-cards__list gem-c-cards__list--one-column">
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="#">Methodology page</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Short description.</p>
          </div>
        
        </li>
      </ul>
    </div>

    <h2 class="govuk-heading-l govuk-!-margin-top-9">Find more information on your local care market</h2>
    <p class="govuk-body"><a href="#" class="govuk-link" data-message="This link would take you to the Market Position Statement on the Suffolk local authority website.">Market Position Statement for Suffolk (opens in new tab)</a></p>
    <p class="govuk-body">Most local authorities in England publish Market Position Statements (MPS) to help care providers understand the local care market.</p>
    <p class="govuk-body">You can usually find these <abbr title="Market Position Statement">MPS</abbr> documents on local authority websites.</p>
    <p class="govuk-body"><abbr title="Market Position Statement">MPS</abbr> documents include information on:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>supply and demand in the local care market</li>
      <li>forecasts of future supply and demand for adult social care services</li>
      <li>how the local authority will support the local care market to meet demand</li>
      <li>how the local authority will engage with care providers on challenges in the sector, such as funding pressures</li>
    </ul>

    <h2 class="govuk-heading-l govuk-!-margin-top-9">Related subtopics</h2>

    <div class="gem-c-cards">
      <ul class="gem-c-cards__list gem-c-cards__list--one-column">
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="#">Subtopic name</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Summary teaser (max 12 words) on information available for this subtopic.</p>
          </div>
        
        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="#">Subtopic name</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Summary teaser (max 12 words) on information available for this subtopic.</p>
          </div>
        
        </li>
      </ul>
    </div>

    <!-- TO DO: Get this component working as a progressive enhancement (i.e. with JavaScript as per the live GOV.UK examples) -->
    <div data-sticky-element class="gem-c-contents-list-with-body__link-wrapper govuk-!-margin-top-9">
    
      <div class="gem-c-contents-list-with-body__link-container">
        <a class="govuk-link gem-c-back-to-top-link govuk-!-display-none-print" href="#top">
          <svg class="gem-c-back-to-top-link__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>
          Contents
        </a>
      </div>

    </div>

  </div>

</div>
{% endblock %}