# Node.js ignores
node_modules/

# Prototype ignores - per-user
.tmp/
.env
migrate.log
usage-data-config.json

# General ignores
.DS_Store
.idea
/.vs/dhsc-gascd-prototype/FileContentIndex/19fbc7d6-9c44-4cdf-9af0-fae4a5dfdd0f.vsidx
/.vs/dhsc-gascd-prototype/FileContentIndex/29f9fb12-5e8b-4efd-9b50-348d5e134049.vsidx
/.vs/dhsc-gascd-prototype/FileContentIndex/b11879e4-a7cf-4981-ae9c-89b5c0b71bf7.vsidx
/.vs/dhsc-gascd-prototype/FileContentIndex/7942a159-dbe0-478b-bb17-1a07b476fa39.vsidx
/.vs/dhsc-gascd-prototype/FileContentIndex/db15b7a2-ce27-442f-ab23-85bd926f56e1.vsidx
/.vs/dhsc-gascd-prototype/FileContentIndex/fc473fdb-c886-4fa4-8b42-2081d00f3f2c.vsidx
/.vs/dhsc-gascd-prototype/FileContentIndex/5ee9ee75-e9eb-47ec-8d6a-e22d691da869.vsidx
/.vs/dhsc-gascd-prototype/FileContentIndex/12da63fc-36db-4d8b-92be-e96afb9a98e0.vsidx
/.vs/dhsc-gascd-prototype/FileContentIndex/8a68dd55-fc9e-4591-b1e8-421076f9c1a9.vsidx
/.vs/dhsc-gascd-prototype/FileContentIndex/ed65788d-86c5-467e-aac8-6a6166e13964.vsidx
