{% extends "v9/layouts/signed-in-menu.html" %}

{% set pageName = "Browse" %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{pageName}}</h1>

    <h2 class="govuk-heading-l">Topics</h2>

    <div class="gem-c-cards">
      <ul class="gem-c-cards__list gem-c-cards__list--one-column">
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="topics/residential-care/subtopics">Care provision</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Find data on care provision and the support provided by unpaid carers across England.</p>
          </div>
        
        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="topics/financial-spend-and-unpaid-care/subtopics">Funding</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Find data on <abbr title="Local Authority">LA</abbr> funding.</p>
          </div>
        
        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="topics/population-needs/subtopics">Population needs</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Find data on a range of care need indicators, such as household economic factors and disability prevalence.</p>
          </div>
        
        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="topics/future-planning/subtopics">Future planning</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Find estimated and experimental data on future population needs.</p>
          </div>
        
        </li>
      </ul>
    </div>

    <h2 class="govuk-heading-l govuk-!-margin-top-5">Service information</h2>

    <div class="gem-c-cards">
      <ul class="gem-c-cards__list gem-c-cards__list--one-column">
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="home">Homepage</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Return to the main page.</p>
          </div>
        
        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="service-information/data-indicator-details">Data indicator details</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Information on data sources.</p>
          </div>
        
        </li>
      </ul>
    </div>

  </div>

</div>
{% endblock %}