{% extends "v9/layouts/signed-in.html" %}

{% set pageName = "Population size and age group percentages" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../../../home"
    },
    {
      text: "Population needs",
      href: "../subtopics"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">{{pageName}}</h1>
    <!-- <p class="govuk-body-l">Population data at district, <abbr title="Local Authority">LA</abbr>, regional and national levels for England.</p> -->
    <p class="govuk-body-l">Population data at <abbr title="Local Authority">LA</abbr>, regional and national levels for England.</p>

    <div class="govuk-form-group">
      <h2 class="govuk-heading-l govuk-!-margin-top-9">Data overview</h2>
      <!-- <p class="govuk-body">Data overview summary information, e.g. broad guidance.</p> -->
      {% include "./filters/_page-filter-component.html" %}
    </div>

  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <div class="data-box govuk-form-group">

      <div class="govuk-tabs" data-module="govuk-tabs">

        <div class="govuk-form-group">
          <h3 class="govuk-heading-m">Adult population size with age group percentages</h3>
          <p class="govuk-body">Find out how <a href="../../../help/population-size" class="govuk-link">population size</a> and <a href="../../../help/population-age" class="govuk-link">age group percentages</a> are calculated.</p>
        </div>

        <h3 class="govuk-tabs__title">Contents</h3>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data1-table">Table</a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data1-more-information">Text summary</a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data1-download">Download</a>
          </li>
        </ul>

        <div class="govuk-tabs__panel" id="data1-table">
          {% include "./data-visualisations/_1-table.html" %}
        </div>

        <div class="govuk-tabs__panel" id="data1-more-information">
          <h4 class="govuk-heading-s">Text summary</h4>
          <p class="govuk-body">Suffolk has a <strong>similar proportion of people aged 65 and over (21.4%) compared to the national average (21.4%)</strong>. This suggests the need for care services adjusted by population size in this <abbr title="Local Authority">LA</abbr> may be in line with the national average.</p>
        </div>

        <div class="govuk-tabs__panel" id="data1-download">
          <h4 class="govuk-heading-s">Download</h4>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="/public/downloads/v9/population-needs/population-size-and-age-group-percentages/table-1-adult-population-size-with-age-group-percentages.csv">Export table data (CSV)</a>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </div>

</div>

<!-- <div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <div class="data-box govuk-form-group">

      <div class="govuk-tabs" data-module="govuk-tabs">

        <div class="govuk-form-group">
          <h3 id="data2" class="govuk-heading-m">Age group percentages at district and Middle Layer Super Output Area (MSOA) level</h3>
          <p class="govuk-body">Find out <a href="../../../help/population-age" class="govuk-link">how age group percentages are calculated</a>.</p>
          {% include "./filters/_2-filter-component.html" %}
        </div>

        <h3 class="govuk-tabs__title">Contents</h3>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data2-map">Map</a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data2-table">Table</a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data2-download">Download</a>
          </li>
        </ul>

        <div class="govuk-tabs__panel" id="data2-map">
          {% include "./data-visualisations/_2-map.html" %}
        </div>

        <div class="govuk-tabs__panel" id="data2-table">
          {% include "./data-visualisations/_2-table.html" %}
        </div>

        <div class="govuk-tabs__panel" id="data2-download">
          <h4 class="govuk-heading-s">Download</h4>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#" data-message="Sorry, this hasn’t been designed yet">Download current map image (PNG)</a>
            </li>
            <li>
              <a class="govuk-link" href="/public/downloads/v9/population-needs/population-size-and-age-group-percentages/table-2-age-group-percentages-at-district-and-middle-layer-super-output-area-level.csv">Export table data (CSV)</a>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </div>

</div> -->

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <div class="data-box govuk-form-group">

      <div class="govuk-tabs" data-module="govuk-tabs">

        <div class="govuk-form-group">
          <h3 id="data3" class="govuk-heading-m">Age group percentages for regional <abbr title="Local Authority">LA</abbr>s</h3>
          <p class="govuk-body">Find out <a href="../../../help/population-age" class="govuk-link">how age group percentages are calculated</a>.</p>
          {% include "./filters/_3-filter-component.html" %}
        </div>

        <h3 class="govuk-tabs__title">Contents</h3>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data3-table">Table</a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data3-download">Download</a>
          </li>
        </ul>

        <div class="govuk-tabs__panel" id="data3-table">
          {% include "./data-visualisations/_3-table.html" %}
        </div>

        <div class="govuk-tabs__panel" id="data3-download">
          <h4 class="govuk-heading-s">Download</h4>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="/public/downloads/v9/population-needs/population-size-and-age-group-percentages/table-3-age-group-percentages-for-regional-las.csv">Export table data (CSV)</a>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l govuk-!-margin-top-9">Data indicator details</h2>
    <p class="govuk-body">Use the links to view details on the data source, how the data was collected and any limitations to consider when using the data.</p>

    <div class="gem-c-cards">
      <ul class="gem-c-cards__list gem-c-cards__list--one-column">
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../../../help/population-age">Age group percentages</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: Office for National Statistics.<br>Yearly updates, limitations apply. </p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../../../help/population-size">Population size</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: Office for National Statistics.<br>Yearly updates, limitations apply. </p>
          </div>

        </li>
      </ul>
    </div>

    <h2 class="govuk-heading-l govuk-!-margin-top-9">Related data</h2>

    <div class="gem-c-cards">
      <ul class="gem-c-cards__list gem-c-cards__list--one-column">
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../dementia-prevalence/data">Dementia prevalence and estimated diagnosis rate</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Data on registered dementia diagnoses with estimates for undiagnosed dementia.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../household-composition-and-economic-factors/data">Economic factors and household composition</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Data on household deprivation, property ownership and older people living alone.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../disability-prevalence/data">General health, disability and learning disability</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Data on disability prevalence, learning disability diagnoses and reasons for accessing care.</p>
          </div>

        </li>
      </ul>
    </div>

    <h2 class="govuk-heading-l govuk-!-margin-top-9">Information on the local care market</h2>
    <p class="govuk-body" data-module="edge"><a href="#" class="govuk-link" data-message="This link would take you to the Market Position Statement on the Suffolk LA website.">Market Position Statement for Suffolk (opens in new tab)</a></p>
    <p class="govuk-body">Most <abbr title="Local Authority">LA</abbr>s in England publish Market Position Statements (MPS) to help care providers understand the local care market.</p>
    <p class="govuk-body">You can usually find these <abbr title="Market Position Statement">MPS</abbr> documents on <abbr title="Local Authority">LA</abbr> websites.</p>
    <p class="govuk-body"><abbr title="Market Position Statement">MPS</abbr> documents include information on:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>supply and demand in the local care market</li>
      <li>forecasts of future supply and demand for adult social care services</li>
      <li>how the <abbr title="Local Authority">LA</abbr> will support the local care market to meet demand</li>
      <li>how the <abbr title="Local Authority">LA</abbr> will engage with care providers on challenges in the sector, such as funding pressures</li>
    </ul>

    <!-- TO DO: Get this component working as a progressive enhancement (i.e. with JavaScript as per the live GOV.UK examples) -->
    <div data-sticky-element class="gem-c-contents-list-with-body__link-wrapper govuk-!-margin-top-9">

      <div class="gem-c-contents-list-with-body__link-container">
        <a class="govuk-link gem-c-back-to-top-link govuk-!-display-none-print" href="#top">
          <svg class="gem-c-back-to-top-link__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>
          Back to top
        </a>
      </div>

    </div>

  </div>

</div>
{% endblock %}

{% block pageScripts %}
<!-- Filters (progressive enhancement) code that loads and controls the dynamic filters for this page -->
<script src="/public/javascripts/v9/filters.js"></script>
<!-- Font Awesome 4 icons for the notifications -->
<link href="/public/open-source/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
{% endblock %}