{% extends "v6/layouts/logged-in.html" %}

{% set pageName = "About this service" %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">      
    <nav class="moj-side-navigation" aria-label="Side navigation">
      <h2 class="govuk-heading-m">Service information</h2>
      <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item"><a href="../signed-in/home">Homepage</a></li>
        <li class="moj-side-navigation__item moj-side-navigation__item--active"><a href="about" aria-current="location">About this service</a></li>
        <li class="moj-side-navigation__item"><a href="#" data-message="Sorry, this hasn’t been designed yet">Indicator definitions and data sources</a></li>
        <li class="moj-side-navigation__item"><a href="smart-insights">About smart insights (experimental)</a></li>
        <li class="moj-side-navigation__item"><a href="user-guide">User guide</a></li>
      </ul>
    </nav>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{pageName}}</h1>
    <p class="govuk-body-l">Find out about Get adult social data and what this service offers.</p>
    <p class="govuk-body">Get adult social care data is a digital insight tool that provides access to a wide range of datasets relevant to adult social care in England.</p>
    <p class="govuk-body">The service brings together data from the Care Quality Commission, Office for National Statistics, NHS England, Capacity Tracker and other sources. <a href="#" class="govuk-link" data-message="Sorry, this hasn’t been designed yet">Learn more about the data sources</a>.</p>
    <p class="govuk-body">When new data is published, the service updates automatically so you can get insights based on the most current information.</p>
    <p class="govuk-body">You can use this service to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><strong>access data and track indicators</strong> across a range of topics, using the latest available information</li>
      <li><strong>explore and visualise data</strong> with interactive tools that help you to identify patterns, trends and insights</li>
      <li><strong>support decision-making and strategic planning</strong> by downloading datasets and charts in formats you can integrate into your own analyses</li>
    </ul>
    <p class="govuk-body"><a href="../signed-in/menu" class="govuk-link">View other help topics</a></p>
  </div>

</div>
{% endblock %}