{#
  For guidance on how to use layouts see:
  https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "di-govuk-one-login-service-header/service-header.njk" import govukOneLoginServiceHeader %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block stylesheets %}
{{super()}}
<link href="/public/css/v6/styles.css" rel="stylesheet" type="text/css" />
<link href="/public/css/v6/print.css" media="print" rel="stylesheet" type="text/css" />
<link href="/public/css/x-govuk/accessible-autocomplete.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% set menu %}
<li class="govuk-service-navigation__item govuk-service-navigation__item-start">
  Greenfields Care Home <a class="govuk-service-navigation__link govuk-service-navigation__link-change" href="#">Change</a>
</li>
<li class="govuk-service-navigation__item">
  <a class="govuk-service-navigation__link gem-c-layout-super-navigation-header__navigation-item-link" href="/browse" hidden="hidden"><span class="gem-c-layout-super-navigation-header__navigation-item-link-inner">Menu</span></a>
  <button aria-controls="super-navigation-menu" aria-expanded="false" aria-label="Show navigation menu" class="gem-c-layout-super-navigation-header__navigation-top-toggle-button" data-text-for-hide="Hide navigation menu" data-text-for-show="Show navigation menu" data-toggle-desktop-group="top" data-toggle-mobile-group="top" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;text&quot;:&quot;Menu&quot;,&quot;index_section&quot;:1,&quot;index_section_count&quot;:2,&quot;section&quot;:&quot;Menu&quot;}" id="super-navigation-menu-toggle" type="button">
    <span class="gem-c-layout-super-navigation-header__navigation-top-toggle-button-inner">Menu</span>
  </button>
</li>
{% endset %}

{% block header %}
{{ govukOneLoginServiceHeader({
  homepageLink: "/",
  oneLoginLink: "#",
  signOutLink: "#",
  rebrand: true,
  serviceNavigationParams: { 
    rebrand: true,
    navigation: [
      {
        href: "#navigation1", 
        text: "Navigation item 1" 
      },
      {
        href: "#navigation2", 
        text: "Navigation item 2",
        active: true
      },
      {
        href: "#navigation3", 
        text: "Navigation item 3"
      }
    ],
    slots: {
      navigationEnd: menu
    },
    serviceName: serviceName,
    serviceUrl: "/v6/logged-in/index"
  }
}) }}

<div class="govuk-width-container">
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a href="https://forms.office.com/e/s9FCDSibN0" class="govuk-link" rel="noreferrer noopener" target="_blank">give your feedback (opens in new tab)</a>.'
  }) }}
</div>
{% endblock %}

{% set bodyAttributes = {
  "data-module": "edge"
} %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: [
      {
        href: "/v6/help/user-guide",
        text: "User guide"
      },
      {
        href: "https://forms.office.com/e/s9FCDSibN0",
        text: "Feedback"
      }
    ]
  }
}) }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <!-- X-GOV.UK Prototype Components (https://x-govuk.github.io/govuk-prototype-components) JavaScript added and referenced directly to avoid using the plugin (https://x-govuk.github.io/govuk-prototype-components/get-started) as this causes multiple errors in the prototype (raised with the X-GOV.UK Prototype Components team on Thursday 26/06/25 via the #govuk-prototype-kit Slack channel - via the UK Government Digital workspace) -->
  <script type="module" src="/public/javascripts/x-govuk/govuk-prototype-components.min.js"></script>
  <script type="module" src="/public/javascripts/x-govuk/init.js"></script>
  <!-- D3 is a third party (OPEN SOURCE) JavaScript library for visualizing data (https://d3js.org)-->
  <script src="https://d3js.org/d3.v4.js"></script>
  <!-- Custom global jQuery and JavaScript for GASCD -->
  <script src="/public/javascripts/v6/custom-global-behaviour.js"></script>
{% endblock %}