{% extends "private-beta/2025/august/layouts/signed-in.html" %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Get adult social care data</h1>
    <p class="govuk-body-l govuk-!-margin-bottom-9">Access the latest data on population needs and adult social care capacity at national, regional and local levels in England.</p>
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half">
    <a href="current-population-needs/present-demand" class="app-card">
      <h2 class="govuk-heading-m app-card__heading">Current population needs and capacity</h2> 
      <p class="govuk-body">Find and compare data indicators for current population needs and adult social care capacity.</p>
    </a>
  </div>

  <div class="govuk-grid-column-one-half">
    <a href="population-age/population-age" class="app-card">
      <h2 class="govuk-heading-m app-card__heading">Map of population age percentages</h2>
      <p class="govuk-body">Use the map to view population percentages for older age groups at local levels in England.</p>
    </a>
  </div>

</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m" id="feedback">Give your feedback on this service</h2>
    <p class="govuk-body">Thank you for volunteering to test this new digital service from the Department of Health and Social Care (DHSC).</p>
    <p class="govuk-body">We're keen to hear about your experience using the service. Your feedback will help us make improvements and add features for you.</p>
    <p class="govuk-body"><a href="https://forms.office.com/e/s9FCDSibN0" class="govuk-link" rel="noreferrer noopener" target="_blank">Fill in the feedback survey (opens in new tab)</a></p>
  </div>

</div>
{% endblock %}