{% extends "v5/layouts/logged-in.html" %}

{% set pageName = "Your dashboard" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-xl">Get adult social care data</h2>
    <p class="govuk-body-l">Access the latest data relevant to adult social care in England.</p>
  </div>
</div>
<!-- 

Panels 

-->
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Explore data
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#map">
        Map
      </a>
    </li>
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#locations">
        Locations
      </a>
    </li>
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#time-series">
        Time series
      </a>
    </li>
    
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#table">
        Table
      </a>
    </li>
  </ul>
  <!-- 
  
  Panel contents 
  
  -->
  <div class="govuk-tabs__panel" id="map">
    <h3>Ages map</h3>
    <div class="govuk-grid-row">
      <div class="my-grid-column-one-third">
        {% include "./_search-locations.html" %}
      </div>  
      <div class="govuk-grid-column-two-thirds">
        {% include "./_cp-map.html" %}
      </div>
    </div>
  </div>  
  <div class="govuk-tabs__panel" id="locations">
    <h2>Locations</h2>          
  </div>
</div>
        
        <!-- Closes govuk-grid-row -->
        
        {% endblock %}