{% extends "layouts/main.html" %}

{% set pageName="Current demand" %}

{% block content %} 
<a href="../dashboard/all-indicators" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
      <!-- 
      
      Left column 
      
    -->
    <div class="govuk-grid-column-one-third">      
      <nav class="moj-side-navigation" aria-label="Side navigation">
        <h3>Contents</h3>
        {% set items = [
          { link: "#settings", heading: "Settings" },
          { link: "#age", heading: "Demand: Age and disability" },
          { link: "#total", heading: "Capacity: Total beds per 100,000 people" },
          { link: "#care-providers", heading: "Capacity: Residential care providers" }
        ] %}
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item moj-side-navigation__item--active"><a href="#introduction">Introduction</a></li class="moj-side-navigation__item">
         {% for item in items %}
            <li class="moj-side-navigation__item"><a href="{{item.link}}">{{item.heading}}</a></li class="moj-side-navigation__item">
         {% endfor %}
        </ul>
      </nav>
</div>
  <div class="govuk-grid-column-two-thirds">
    <!-- <span class="govuk-caption-l">Demand and capacity</span> -->
    <h1 class="govuk-heading-l">{{pageName}}</h1>
    <!-- 
      
      Main content
      
    -->
    <style>
      h2{margin-top:4em}
    </style>
    <h2 id="summary">Introduction</h2>
    <p class="govuk-body">
      Understanding current demand for adult social care services helps identify where needs are being met and where gaps may exist. Here you can find key indicators to help you gain insights into current demand, both met and potentially unmet, and factors driving demand.
</p><p>
You can find information about this data, including how it is compiled, updated, and the time ranges it covers in
    </p>

        <h2 id="settings">Settings</h2>
        <!-- <p class="govuk-body">You can change these settings to view data for specific areas.</p> -->
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Selected locations
            </dt>
            <dd class="govuk-summary-list__value">
              Greenfields Care, Suffolk, East of England
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
        </dl>
         <!-- 
        
        Age and disability
        
        -->
        
    <h2 id="age">
      <span class="govuk-caption-m">Demand</span>
      Age and disability</h2>
    <p>You can filter this data by age, disability and location.</p>
    <form action="total_beds-edit.html">
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Explore data
      </button>
    </form>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <th scope="col" class="govuk-table__header">Location</th>
        <th scope="col" class="govuk-table__header">Population</th>
        <th scope="col" class="govuk-table__header">Aged 18-65</th>
        <th scope="col" class="govuk-table__header">Aged 65 and over</th>
        <th scope="col" class="govuk-table__header">Disability rates</th>
      </thead>
      <tbody>
       <tr class="govuk-table__row">
      <td class="govuk-table__cell">Suffolk</td>
      <td class="govuk-table__cell">400,123</td>
      <td class="govuk-table__cell">45%</td>
      <td class="govuk-table__cell">18%</td>
      <td class="govuk-table__cell">9%</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">East of England</td>
        <td class="govuk-table__cell">5.1 million</td>
        <td class="govuk-table__cell">41%</td>
        <td class="govuk-table__cell">8%</td>
        <td class="govuk-table__cell">9%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">All England</td>
          <td class="govuk-table__cell">56 million</td>
          <td class="govuk-table__cell">32%</td>
          <td class="govuk-table__cell">7%</td>
          <td class="govuk-table__cell">6%</td>
          </tr>
      </tbody>
      </table>

            <!-- 
      
      Total beds
    
    -->
    
    <h2 id="total">
      <span class="govuk-caption-m">Capacity</span>
      Total beds per 100,000 people</h2>
    <p>You can filter these figures by local authority, care setting or type of care. 
    </p>
    <form action="total_beds.html">
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Explore data
      </button>
    </form>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <th scope="col" class="govuk-table__header">Location</th>
        <th scope="col" class="govuk-table__header">Beds per 100,000 people</th>
        <th scope="col" class="govuk-table__header">Aged 18 - 65</th>
        <th scope="col" class="govuk-table__header">Aged 65 and over</th>
        <th scope="col" class="govuk-table__header">Beds occupied</th>
      </thead>
      <tbody>
       <tr class="govuk-table__row">
      <td class="govuk-table__cell">Suffolk</td>
      <td class="govuk-table__cell">1,024</td>
      <td class="govuk-table__cell">35%</td>
      <td class="govuk-table__cell">75%</td>
      <td class="govuk-table__cell">82%</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">East of England</td>
        <td class="govuk-table__cell">778</td>
        <td class="govuk-table__cell">39%</td>
        <td class="govuk-table__cell">61%</td>
        <td class="govuk-table__cell">78%</td>
        </tr>
      </tbody>
      </table>
       
     <!-- 
      
      CPs in Suffolk
    
    -->
   
    <h2 id="care-providers">
      <span class="govuk-caption-m">Capacity</span>
      Residential care providers in Suffolk</h2>
    <p>You can filter these figures by care settings and type of care. 
    </p>
    <p>We keep the names of other Care Providers anonymous. </p>
    <form action="total_beds-edit.html">
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Explore data
      </button>
    </form>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <th scope="col" class="govuk-table__header">Care provider</th>
        <th scope="col" class="govuk-table__header">Size</th>
        <th scope="col" class="govuk-table__header">Total beds</th>
        <th scope="col" class="govuk-table__header">Occupied beds</th>
      </thead>
      <tbody>
       <tr class="govuk-table__row">
      <td class="govuk-table__cell">Greenfields Care</td>
      <td class="govuk-table__cell">Small</td>
      <td class="govuk-table__cell">20</td>
      <td class="govuk-table__cell">18</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Care Provider 2</td>
        <td class="govuk-table__cell">Medium</td>
        <td class="govuk-table__cell">43</td>
        <td class="govuk-table__cell">35</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Care Provider 3</td>
          <td class="govuk-table__cell">Large</td>
          <td class="govuk-table__cell">85</td>
          <td class="govuk-table__cell">71</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Care Provider 4</td>
            <td class="govuk-table__cell">Small</td>
            <td class="govuk-table__cell">15</td>
            <td class="govuk-table__cell">15</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Care Provider 5</td>
              <td class="govuk-table__cell">Small</td>
              <td class="govuk-table__cell">12</td>
              <td class="govuk-table__cell">12</td>
              </tr>
      </tbody>
      </table>
    


    <p class="govuk-body"><a class="govuk-link" href="#">Back </a></p>
    
    {% endblock%}