{% extends "layouts/data.html" %}

{% set pageName="Your dashboard" %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-xl">Get adult social care data</h2>

      <p class="govuk-body-l">Access the latest data relevant to adult social care in England.</p>
      <h2 class="govuk-heading-l">Featured topics</h2>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">
      <h2>
        <a href="../landing-pages/current-population-need-capacity" class="govuk-link">
          Current population needs and overall capacity at local authority level
        </a>
      </h2>
      <p>
        Explore factors shaping adult social care needs and local service capacity.
      </p>
    </div>
    <div class="govuk-grid-column-one-half">
      <h2>
        <a href="#" class="govuk-link">
        Current market
        </a>
      </h2>
      <p>
        Assess care provider availability and service performance.
      </p>
    </div>
  </div> <!-- Closes govuk-grid-row -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2>
        <a href="../landing-pages/future-population-needs" class="govuk-link">
        Future population needs
        </a>
      </h2>
      <p>
        Identify the potential future needs for adult social care.
      </p>
    </div>
  </div> <!-- Closes govuk-grid-row -->

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">Supporting information</h2>

      <h3 class="govuk-heading-m"><a href="">Data catalogue</a></h3>
      <p class="govuk-body">View all of the data available in this service.</p>

      <h3 class="govuk-heading-m"><a href="../help/user-guide.html">User guide</a></h3>
      <p class="govuk-body">Need help getting started? Learn how to use this service and make the most of its features.</p>

      <h3 class="govuk-heading-m"><a href="blog-article.html">Data in action blog</a></h3>
      <p class="govuk-body">Explore ideas, insights and perspectives on how data can drive better outcomes in adult social care.</p>
    </div>
  </div> <!-- Closes govuk-grid-row -->

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">What's new</h2>
      <h3 class="govuk-heading-m">March 2025 update</h3>

      <p class="govuk-body">We’ve made several improvements to help you find and use data more easily:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><strong>More detailed data</strong> - Access more insights on local population needs and capacity.</li>
        <li><strong>Find data faster</strong> - Improved location and category filters make it easier to get relevant data.</li>
        <li><strong>View smaller areas</strong> - You can now view demographic data below local authority level, where available.</li>
      </ul>
      <p class="govuk-body">We're always looking to improve, so please <a href="" class="govuk-link" target="_blank">share your feedback (opens in new tab)</a>.</p>
    </div>
  </div> <!-- Closes govuk-grid-row -->

</div> <!-- Closes govuk-grid-column-full -->

</div> <!-- Closes govuk-grid-row -->

{% endblock %}