{% extends "d3/layouts/main.html" %}

{% set pageName = "Population projections - local authority based by single year of age" %}

{% block content %}
<!-- Test out loading data within the D3 file, not a separate CSV file -->

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
<a href="d3" class="govuk-back-link">Back</a>
<h1>{{pageName}}</h1>

<style>
  text{font-family:"GDS Transport", arial, sans-serif;font-size:1em}
</style>

<p>Here's an SVG bar chart created with D3.js:</p>

<!-- Show a horizontal scroll bar on smaller screens; increase the font size.  -->
<style>
  @media only screen and (max-width: 500px) {
    #my_dataviz{
      width:400px; 
      overflow-x: scroll;
    }
  }
  .legendTitle, .chartText{font-size:1.2em}
  .chartAxis{font-size:1.5em}
</style>

<!-- Add a svg area, empty -->
<div id="my_dataviz"></div>

<!-- D3.js chart -->
<!-- Based on the example https://d3-graph-gallery.com/intro_d3js.html -->
<script>
// set the dimensions and margins of the graph
var margin = {top: 50, right: 300, bottom: 100, left: 100},
    width = 800 - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;

// append the svg object to the body of the page
var svg = d3.select("#my_dataviz")
  .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

// Create data - wrap all the graph commands in this function:
d3.csv("/public/csv/nomis_2025_02_21_121138.csv", function(data) {
// this is the equivalent of eg var loaded = [ {x:10, y:20}, {x:40, y:90}, {x:80, y:50} ]

// Add X axis
var x = d3.scaleLinear()
    .domain([0, 3000])
    .range([ 0, width]);
  svg.append("g")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x))
    .selectAll("text")
      .attr("transform", "translate(-10,0)rotate(-45)")
      .style("text-anchor", "end")
      .attr("class","chartAxis");

  // Y axis
  var y = d3.scaleBand()
    .range([ 0, height ])
    .domain(data.map(function(d) { return d.LA; }))
    .padding(.6);
  svg.append("g")
    .call(d3.axisLeft(y))
    .attr("class","chartText");

  //Bars
  svg.selectAll("myRect")
    .data(data)
    .enter()
    .append("rect")
    .attr("x", x(0) )
    .attr("y", function(d) { return y(d.Suffolk); })
    .attr("width", function(d) { return x (d.Year); })
    .attr("height", y.bandwidth() )
    .attr("fill", "#69b3a2");

    svg.attr("transform",  "translate(150 50)")

    // Add a legend
const legend = svg.append("g");
legend.append("text")
	.text("Beds per 100,000 population")
	.attr("x", 0)
	.attr("y", -20)
	.attr("class", "legendTitle");
   //  Log the data
    console.log(data);
   });
</script>

    </div>
    </div
{% endblock %}