{% extends "v9/gov-uk/one-login/layouts/default.html" %}

<!-- Set a blank service name (i.e. not get adult social care data) -->
{% set serviceName %}
{% endset %}

{% block pageTitle %}
  Enter your email address to sign in to your GOV.UK One Login - GOV.UK One Login – Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="enter-password" method="post" novalidate>      

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="sign-in-email">Enter your email address to sign in to your GOV.UK One Login</label>
        </h1>      
        <input class="govuk-input" id="sign-in-email" name="sign-in-email" type="email" spellcheck="false" autocomplete="email">
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>

  </div>

</div>
{% endblock %}