{% extends "v7/layouts/default.html" %}

{% set pageName = "For your security, we signed you out" %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{pageName}}</h1>
    <p class="govuk-body">We closed your session because you were inactive for 20 minutes.</p>
    <p class="govuk-body">You will need to sign in again.</p>
    <a href="/v7/gov-uk/one-login/start" class="govuk-button">Sign in</a>
  </div>

</div>
{% endblock %}