{% extends "private-beta/2025/december/layouts/default.html" %}

{% set pageName = "You have signed out" %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{pageName}}</h1>
    <p class="govuk-body"><a href="../gov-uk/one-login/start" class="govuk-button">Sign in again</a></p>

    <h2 class="govuk-heading-m">Give your feedback on the service</h2>
    <p class="govuk-body">Thank you for volunteering to test the new Get adult social care data service from the Department of Health and Social Care (DHSC).</p>
    <p class="govuk-body">We're keen to hear about your experience using the service. Your feedback will help us make improvements and add new features.</p>
    <p class="govuk-body"><a href="https://forms.office.com/e/s9FCDSibN0" class="govuk-link" rel="noreferrer noopener" target="_blank">Fill in the feedback survey (opens in new tab)</a></p>
  </div>

</div>
{% endblock %}