{% extends "v5/layouts/main.html" %}

{% set pageName = "Customise view" %}

{% block content %} 
<a href="../dashboard/capacity" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- <span class="govuk-caption-m">Total beds per 100,000 population</span>  -->
    <h1 class="govuk-heading-l">{{pageName}}</h1>
    <p class="govuk-body">Select which disability types you want to include in the data</p>
    <!-- 
    
    General  
    
    -->
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Disability type
        </legend>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses" checked>
            <label class="govuk-label govuk-checkboxes__label" for="waste">
              Option 1
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
              Option 2
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
              Option 3
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
              Option 4
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
              Option 5
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
              Option 6
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
              Option 7
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
              Option 8
            </label>
          </div>
        

        <div class="govuk-checkboxes__divider">or</div>
      
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="none" data-behaviour="exclusive">
          <label class="govuk-label govuk-checkboxes__label" for="countries-5">
            Select all types
          </label>
        </div>

      </fieldset>
    </div>
 
    </fieldset>
  <form action="total_beds-edit">
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Apply changes
    </button>
  </form>
  <p class="govuk-body"><a href="" class="govuk-link">Cancel and go back</a></p>

</div>

{% endblock %}