{% extends "v5/layouts/landing-page.html" %}

{% set pageName = "Population age" %}

{% block content %} 
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!--<span class="govuk-caption-l">Demand and capacity</span>-->
    <h1 class="govuk-heading-l">{{pageName}}</h1>
    <p class="govuk-body-l">View the different age ranges in English local authorities and districts. </p>
    
    
    <style>
      /* Contents Box Styling */
      .contents-box {
        background-color: #f3f2f1; /* GOV.UK light grey */
        padding: 20px;
        margin-bottom: 20px;
        max-width: 63%; /* Adjusted width for better spacing */
      }
      
      /* Remove default list indentation */
      .govuk-list--number {
        counter-reset: main-counter;
        list-style-type: none;
        padding-left: 0; /* Remove padding */
        margin-left: 0; /* Remove margin */
      }
      
      .govuk-list--number > li {
        counter-increment: main-counter;
      }
      
      .govuk-list--number > li::before {
        content: counter(main-counter) ". ";
        font-weight: normal;
      }
      
      /* Styling for the nested (child) ordered list */
      .nested-list {
        counter-reset: sub-counter;
        list-style-type: none;
        padding-left: 1.5rem; /* Align nested items properly */
        margin-left: 0;
      }
      
      .nested-list li {
        counter-increment: sub-counter;
      }
      
      .nested-list li::before {
        content: counter(main-counter) "." counter(sub-counter) ". ";
        font-weight: normal;
      }
      
      /* Bridge Text Styling */
      .bridge-text {
        margin-top: 20px;
        font-weight: bold;
      }
    </style>
    
    <!-- Contents Box -->
    <div class="contents-box">
      <h2 class="govuk-heading-m">Contents</h2>
      <ol class="govuk-list govuk-list--number">
        <li><a href="#preferences" class="govuk-link">Map: Population by area</a>
          <li><a href="#carehome" class="govuk-link">Table: Population by age</a></li>
          <li><a href="#carehome" class="govuk-link">Charts</a></li>
          <li><a href="#time-series" class="govuk-link">Time series</a></li>
          <li><a href="#footnotes" class="govuk-link">Footnotes</a></li>
          <li><a href="#related" class="govuk-link">Related information</a></li>
        </ol>
      </div>
      
      <!-- 
      
      Main content
      
      -->
      <style>
        h2{margin-top:4em}
      </style>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-width-full">
          <h3 id="unpaid-care" class="govuk-heading-m govuk-!-padding-top-9">1. Map: population by area</h3>
          <!-- Tab start -->
          <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
              Contents
            </h2>
            <ul class="govuk-tabs__list">
              <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#care-homes-map">
                  Map
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#map-table">
                  Table
                </a>
              </li>
              </ul>
              <div class="govuk-tabs__panel" id="care-homes-map">
                <h3>Map</h3>
                <p>Default location: Greenfields Care, Mid Suffolk, Suffolk, East of England</p>
                <a type="submit" style="margin-right:1em" class="govuk-button govuk-button--secondary" data-module="govuk-button" href="edit-locations">
                  Edit locations
                </a>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h1 class="govuk-fieldset__heading">
                        Age range
                      </h1>
                    </legend>
                    <!-- <div id="changedName-hint" class="govuk-hint">
                      This includes changing your last name or spelling your name differently
                    </div> -->
                    <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="18to64">
                        <label class="govuk-label govuk-radios__label" for="changedName">
                          18 to 64
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="65andover">
                        <label class="govuk-label govuk-radios__label" for="changedName-2">
                          65 and over
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="85andover" checked>
                        <label class="govuk-label govuk-radios__label" for="changedName-2">
                          85 and over
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <iframe width="100%" height="600px" title="ONS Census Maps" frameborder="0" src="https://www.ons.gov.uk/census/maps/choropleth/population/age/resident-age-11a/aged-85-years-and-over/?lad=E07000203&embed=true&embedInteractive=true&embedAreaSearch=false&embedCategorySelection=false&embedView=viewport&embedBounds=0.4518427976473447%2C51.95149998586203%2C1.7552472023533312%2C52.516917630727676" />    
              </iframe>
          </div>
          <div class="govuk-tabs__panel" id="map-table">
            <h3>Population by area</h3>
            <a type="submit" style="margin-right:1em" class="govuk-button govuk-button--secondary" data-module="govuk-button" href="edit-locations">
              Edit locations
            </a>
            <a type="submit" style="margin-right:1em" class="govuk-button govuk-button--secondary" data-module="govuk-button" href="edit-indicators">
              Edit indicators
            </a>
            {% include "./_locations-table-short.html" %}
            </div>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          
          <!-- 
          
          CPs in Suffolk
          
          -->
          
          <h3 id="care-home" class="govuk-heading-m govuk-!-padding-top-9">2. Table: Population by age</h3>
          <a type="submit" style="margin-right:1em" class="govuk-button govuk-button--secondary" data-module="govuk-button" href="edit-locations">
            Edit locations
          </a>
          <a type="submit" style="margin-right:1em" class="govuk-button govuk-button--secondary" data-module="govuk-button" href="edit-indicators">
            Edit indicators
          </a>
        </div>
        <div class="govuk-grid-column-full">
          {% include "./_locations-table.html" %}
          
          <p class="govuk-body">Source: Capacity Tracker<br>
            Data correct as of 5 February 2025</p>
            
          </div>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <h2 id="charts">3. Charts</h2>
          <a type="submit" style="margin-right:1em" class="govuk-button govuk-button--secondary" data-module="govuk-button" href="edit-locations">
            Edit locations
          </a>
          <a type="submit" style="margin-right:1em" class="govuk-button govuk-button--secondary" data-module="govuk-button" href="edit-locations">
            Edit indicators
          </a>
          {% include "./_locations-bar-chart.html" %}
        </div>
        
        <div class="govuk-grid-column-two-thirds">
          <h2 id="time-series">4. Time series</h2>
          <a type="submit" style="margin-right:1em" class="govuk-button govuk-button--secondary" data-module="govuk-button" href="edit-locations">
            Edit indicators
          </a>
          {% include "./_time-series.html" %}
          <h2 id="footnotes">5. Footnotes</h2>
          
          <p class="govuk-body">
            Find out how each indicator is defined, sourced, and updated.
          </p>
          <p class="govuk-body">Select an indicator to view its footnotes:</p>
          <ol class="govuk-list govuk-list--bullet">
            <!--
            <li><a href="../../help/population-size.html" class="govuk-link">Population size</a></li>
            <li><a href="../../help/population-age.html" class="govuk-link">Percentage of population in age group</a></li>
            <li><a href="../../help/disability-prevalence.html" class="govuk-link">Disability prevalence</a></li>-->
            <li><a href="../../help/" class="govuk-link">People providing unpaid care, by hours per week</a></li>
            <li><a href="../../help/" class="govuk-link">Domiciliary care providers per 100,000 adult population</a></li>
            <li><a href="../../help/" class="govuk-link">People receiving domiciliary care per 100,000 adult population</a></li>
            <li><a href="../../help/" class="govuk-link">Workforce hours paid per person receiving domiciliary care</a></li>
            <li><a href="../../help/" class="govuk-link">Domiciliary care workers per 100,000 adult population</a></li>
            <li><a href="../../help/beds-per-100000-adult-population.html" class="govuk-link">Adult social care beds per 100,000 adult population</a></li>
            <li><a href="../../help/percentage-beds-occupied" class="govuk-link">Percentage of adult social care beds occupied</a></li>
            <li><a href="../../help/beds-care-provider-location" class="govuk-link">Number of adult social care beds in care provider location</a></li>
            
          </ol>
          
          
          
          <h2 id="related">6. Related information</h2>
          
          <p class="govuk-body">
            For more information on capacity, check the latest Market Position Statement and Joint Strategic Needs Assessment. You will usually find these on the local authority's website.
          </p>
          
          <p class="govuk-body"><a class="govuk-link" href="#">Back </a></p>
          
        </div>
      </div>
      {% endblock %}