{% extends "v5/layouts/data.html" %}

{% set pageName = "Current demand and provision" %}

{% block content %} 
<a href="../dashboard/get-data" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
      <!-- 
      
      Left column 
      
    -->
    <div class="govuk-grid-column-one-third">      
      <nav class="moj-side-navigation" aria-label="Side navigation">
        <h3>Contents</h3>
        {% set items = [
          { link: "#definition", heading: "Indicator definition and supporting information" },
          { link: "#settings", heading: "Your selected locations" },
          { link: "#drivers", heading: "Drivers of demand" },
          { link: "#provision", heading: "Current provision - care homes: local authority-level insights" },
          { link: "#capacity", heading: "Current provision - care homes: care provider-level insights" },
          { link: "#smart-insights", heading: "Smart insights (experimental)" }
        ] %}
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item moj-side-navigation__item--active"><a href="#introduction">Introduction</a></li class="moj-side-navigation__item">
         {% for item in items %}
            <li class="moj-side-navigation__item"><a href="{{item.link}}">{{item.heading}}</a></li class="moj-side-navigation__item">
         {% endfor %}
        </ul>
      </nav>
</div>
  <div class="govuk-grid-column-two-thirds">
    <!-- <span class="govuk-caption-l">Demand and capacity</span> -->
    <h1 class="govuk-heading-l">{{pageName}}</h1>
    <!-- 
      
      Main content
      
    -->
    <style>
      h2{margin-top:4em}
    </style>
    <h2 class="govuk-heading-m" id="summary">Introduction</h2>
    <p class="govuk-body">
      Understanding current demand and provision for adult social care services helps identify where needs are being met and where gaps may exist.</p>
      
    <p class="govuk-body">
      Here you can explore factors driving demand in your local authority and find insights into current provision to meet that demand.
    </p>

    <h2 id="definition">Indicator definition and supporting information</h2>

    <p class="govuk-body">
      Find detailed information about each indicator, including data definitions, data source, update schedule, and any limitations to be aware of being using the data.
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="../help/beds-per-100000-people.html" class="govuk-link">Adult social care beds per 100,000 adult population</a></li>
      <li><a href="../help/population-by-age.html" class="govuk-link">Population by age</a></li>
      <li><a href="../help/population-by-disability.html" class="govuk-link">Population by disability</a></li>
      <li><a href="../help/care-provider-locations-by-size.html" class="govuk-link">Care provider locations by size </a></li>
      </ul>

    <h2 id="indicator-definitions">Your selected locations</h2>
        <p class="govuk-body">Select locations to view and compare data.</p>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Selected locations
            </dt>
            <dd class="govuk-summary-list__value">
              Care Provider A, Suffolk, East of England
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="present-demand-locations">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
        </dl>
         <!-- 
        
        Age and disability
        
        -->


      <h2 id="drivers">
        <!--<span class="govuk-caption-m">Current demand</span>-->
        Drivers of demand</h2>

        <p class="govuk-body">Demand for adult social care is influenced by a range of factors, including the age structure, disability profile and rate of dementia diagnosis in your population.</p>

        <p class="govuk-body">Areas with a higher proportion of older adults, people with disabilities or rates of dementia diagnosis typically experience greater pressure on services.</p>

        <p class="govuk-body">Suffolk has a <strong>larger proportion of people aged 65 and over (18%) compared to the national average (7%)</strong>. This suggests demand for care services adjusted by population size in this local authority may be higher than average.</p>
      
    <h3 class="govuk-heading-m">Explore the data: demographic factors</h3>

    <p>You can filter this data by type of disability.</p>
    <form action="">
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Explore data
      </button>
    </form>
    <!---
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Location</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Population</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Aged 18-65</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Aged 65 and over</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Disability rates</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Registered dementia patients per 100,000</th>
      </thead>
      <tbody>
       <tr class="govuk-table__row">
      <td class="govuk-table__cell">Suffolk</td>
      <td class="govuk-table__cell">400,123</td>
      <td class="govuk-table__cell">45%</td>
      <td class="govuk-table__cell">18%</td>
      <td class="govuk-table__cell">9%</td>
      <td class="govuk-table__cell">X</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">East of England</td>
        <td class="govuk-table__cell">5.1 million</td>
        <td class="govuk-table__cell">41%</td>
        <td class="govuk-table__cell">8%</td>
        <td class="govuk-table__cell">9%</td>
        <td class="govuk-table__cell">Y</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">All England</td>
          <td class="govuk-table__cell">56 million</td>
          <td class="govuk-table__cell">32%</td>
          <td class="govuk-table__cell">7%</td>
          <td class="govuk-table__cell">6%</td>
          <td class="govuk-table__cell">Z</td>
          </tr>
      </tbody>
      </table>
    -->
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"></th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Suffolk</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">East of England</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">All England</th>
        </thead>
        <tbody>
        <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Population</th>
        <td class="govuk-table__cell">400,123</td>
        <td class="govuk-table__cell">5.1 million</td>
        <td class="govuk-table__cell">56 million</td>
        </tr>
        <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Aged 18-65</th>
        <td class="govuk-table__cell">45%</td>
        <td class="govuk-table__cell">41%</td>
        <td class="govuk-table__cell">32%</td>
        </tr>
        <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Aged 65 and over</th>
        <td class="govuk-table__cell">18%</td>
        <td class="govuk-table__cell">8%</td>
        <td class="govuk-table__cell">7%</td>
        </tr>
        </tr>
        <tr class="govuk-table__row"></tr>
        <th scope="row" class="govuk-table__header">Disability rates</th>
          <td class="govuk-table__cell">9%</td>
          <td class="govuk-table__cell">9%</td>
         <td class="govuk-table__cell">6%</td>
      </tr>
      <tr class="govuk-table__row"></tr>
      <th scope="row" class="govuk-table__header">Registered dementia patients per 100,000</th>
        <td class="govuk-table__cell">X</td>
        <td class="govuk-table__cell">Y</td>
        <td class="govuk-table__cell">Z</td>
      </tr>
        </tbody>
        </table>

      <p class="govuk-body"><a href="" class="govuk-link">Download table data (CSV)</a></p>

      <p class="govuk-body">Source: Office for National Statistics<br>
        Data correct as of 1 January 2025<br>
        <a href="../help/population-by-age.html" class="govuk-link">View supporting information for Population by age</a></br>
        <a href="../help/population-by-disability.html" class="govuk-link">View supporting information for Population by disability</a>
      </p>

     <!-- 
      
      CPs in Suffolk
    
    -->
   
    <h2 id="current">
      Current provision - care homes: local authority-level insights</h2>

      <p class="govuk-body">The number of adult social care beds per 100,000 adult population provides an indicator of current care provision. A higher number suggests more sufficient provision.</p>
      
      <p class="govuk-body">Care homes in Suffolk have <strong>18.4 beds per 100,000 people</strong>, compared to the East of England regional average of 12.2 per 100,000.</p>
        
      <p class="govuk-body">Despite a higher provision, Suffolk care homes are <strong>operating at 85% occupancy</strong>, exceeding the regional average (77%) and national average (75%). This suggests a more limited capacity to meet demand than the regional and national average.</p>
      
    <h3 class="govuk-heading-m">
      Explore the data: adult social care beds per 100,000 adult population and occupancy</h3>
    <p>You can filter this data by type of beds. 
    </p>
    <form action="../../private-beta/2025/june/total-beds.html">
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Explore data
      </button>
    </form>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Location</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Adult social care bed type</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Beds per 100,000 adult population </th>
        <!-- <th scope="col" class="govuk-table__header">Aged 18 - 65</th> -->
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Beds occupied</th>
      </thead>
      <tbody>
       <tr class="govuk-table__row">
      <td class="govuk-table__cell">Suffolk</td>
      <td class="govuk-table__cell">All types</td>
      <td class="govuk-table__cell">18.4</td>
      <!-- <td class="govuk-table__cell">35%</td> -->
      <td class="govuk-table__cell">85%</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">East of England region</td>
        <td class="govuk-table__cell">All types</td>
        <td class="govuk-table__cell">12.2</td>
        <!-- <td class="govuk-table__cell">39%</td> -->
        <td class="govuk-table__cell">77%</td>
        </tr>
      </tbody>
      </table>
       
      <p class="govuk-body"><a href="" class="govuk-link">Download table data (CSV)</a></p>
   
      <p class="govuk-body">Source: Capacity Tracker<br>
        Data correct as of 5 February 2025<br>
        <a href="../help/beds-per-100000-people.html" class="govuk-link">View supporting information for this data</a></p>
 

    <h2 id="capacity">
      <!--<span class="govuk-caption-m">Current demand</span>-->
      Current provision - care homes: care provider-level insights</h2>

      <p class="govuk-body">Examining individual care providers offers insight into how your provision compares with other care providers in your local authority, as well as regionally and nationally.</p>

      <p class="govuk-body">Care Provider A is a small provider with <strong>20 total beds</strong>, compared to the median (53 beds) in Suffolk. The table provides more information on the breakdown of bed types provided by Care Provider A.</p>
      
      <p class="govuk-body">Care Provider A has <strong>90% occupancy</strong> for all adult social care beds compared to the median occupancy of all care homes in Suffolk, suggesting limited availability for new admissions.</p>
      
    <h3 class="govuk-heading-m">
      Explore the data: care providers in Suffolk</h3>
    <p>You can filter this data by bed types and change your comparator group.</p>
    <form action="total_beds.html">
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Explore data
      </button>
    </form>
  </form>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <th scope="col" class="govuk-table__header">Care provider</th>
        <th scope="col" class="govuk-table__header">Size</th>
        <th scope="col" class="govuk-table__header">Total beds</th>
        <th scope="col" class="govuk-table__header">Beds occupied</th>
      </thead>
      <tbody>
       <tr class="govuk-table__row">
      <td class="govuk-table__cell">Care Provider A</td>
      <td class="govuk-table__cell">Small</td>
      <td class="govuk-table__cell">20</td>
      <td class="govuk-table__cell">90% (18 beds)</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Suffolk</td>
        <td class="govuk-table__cell">All</td>
        <td class="govuk-table__cell">53 (median)</td>
        <td class="govuk-table__cell">85%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">East of England</td>
          <td class="govuk-table__cell">All</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">All England</td>
            <td class="govuk-table__cell">All</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
            </tr>
      
      </tbody>
      </table>

      <p class="govuk-body"><a href="" class="govuk-link">Download table data (CSV)</a></p>

      <p class="govuk-body">Source: Capacity Tracker<br>
        Data correct as of 5 February 2025<br>
      <a href="../help/beds-per-100000-people.html" class="govuk-link">View supporting information for this data</a></p>
 
      <!--Smart insights-->

      <h2 id="smart-insights">Smart insights (experimental)</h2>
      <div class="govuk-inset-text">
        Smart insights use artificial intelligence (AI) to analyse this data, highlighting trends and patterns to support your own analysis. As this is experimental, verify the insights to check they are appropriate and meet your needs. <a class="govuk-link" href="">Learn more about smart insights</a>
      </div>

      <h3 class="govuk-heading-s">Summary of key trends</h3>
      <p>Within the provided data, it is clear that Suffolk has a higher rate of hospital beds per 100,000 people (18.0) compared to the East of England (12.2). Also notable is the higher rate of bed occupancy in the 65 and over age group in Suffolk (75%) relative to the East of England (61%). Suffolk also shows a higher overall bed occupancy rate (82%) compared to the East of England (78%). Disability rates across both areas remain at 9%, higher than the national average of 6% for all of England.

      <h3 class="govuk-heading-s">Insight 1: High Bed Occupancy in Older Adults in Suffolk</h3>
      <p>Suffolk shows an elevated bed occupancy rate of 75% for individuals aged 65 and over, which is higher compared to the East of England’s 61%. This suggests that the demand for care services for older adults in Suffolk is relatively high.</p>
      <h4 class="govuk-heading-s">How you might use this insight</h4>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>Planning for increased capacity in adult social care services specifically targeting the elderly could be vital in Suffolk. This could involve investing in more residential care homes or additional supportive housing aimed at seniors.</li>
        <li>Developing specialised health and wellness programmes aimed at maintaining the health and independence of older adults might help in reducing the high bed occupancy rates.</li>
     </ul>

     <h3 class="govuk-heading-s">Insight 2: Disability Rates Consistent with Region but Higher than National Average</h3>
     <p>Disability rates in Suffolk and the East of England are both at 9%, which is consistent within the region but higher than the national average of 6% for all of England. This could indicate a need for targeted support for disabled adults within these regions.</p>
     <h4 class="govuk-heading-s">How you might use this insight</h4>
     
     <ul class="govuk-list govuk-list--bullet">
       <li>A potential strategy might include implementing more comprehensive community-based services and support systems that address the specific needs of individuals with disabilities, ensuring they have access to day-to-day activities and health services.</li>
       <li>Investing in training for adult social care professionals on best practices in disability management might improve the quality of care and outcomes for people with disabilities in these regions.</li>
    </ul>
 
    <!--
      <h2 id="about">About this data</h2>
     
     <p class="govuk-body">Find detailed information about each dataset.</p>
      
      <details class="govuk-details" id="chart1">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Beds per 1,000 people
          </span>
        </summary>
        <div class="govuk-details__text">
          
          <ul class="govuk-list govuk-list--bullet">

            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--s">Details for Beds per 1,000 people</caption>

              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">What this measures</td>
                  <td class="govuk-table__cell">The total number of beds recorded by care providers across health and adult social care, adjusted to a rate of 1,000 people in the population.</td>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Data source</th>
                  <td class="govuk-table__cell"><a href="" class="govuk-link" target="_blank">Capacity Tracker (opens in new tab)</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Data last updated</th>
                  <td class="govuk-table__cell">5 February 2025</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Update frequency</th>
                  <td class="govuk-table__cell">Daily</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Date range</th>
                  <td class="govuk-table__cell">From 30 September 2017 to 5 February 2025.</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Methodology</th>
                  <td class="govuk-table__cell">The total number of beds is the number of beds reported by care providers, including those in use and those available for new admissions. 
                    <br> <br>
                    Total beds includes mental health, learning disabilities, and end-of-life care beds in residential and nursing care homes.The data covers both self-funded and local authority-funded beds.
                    <br> <br>
                    Care providers update this information daily or whenever changes occur using the Capacity Tracker tool. They report how many beds are available and occupied in care settings such as nursing homes, residential care, and community care.
                    <br> <br>
                    The data is grouped by local areas, regions, and nationally so it is easier to compare. The information is checked and updated regularly to make sure it is as accurate as possible.</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Limitations</th>
                  <td class="govuk-table__cell">Data is self-reported.</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Data definitions</th>
                  <td class="govuk-table__cell">Definitions are not available. You may need to contact the data provider.</td>
                </tr>
              </tbody>
            </table>
        </div>
      </details>

      <details class="govuk-details" id="chart2">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Population by age and disability
          </span>
        </summary>
        <div class="govuk-details__text">
          
          <ul class="govuk-list govuk-list--bullet">

            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--s">Details for Population by age and disability</caption>

              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">What this measures</td>
                  <td class="govuk-table__cell"> The distribution of the population by age and the percentage of the population considered disabled.</td>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Data source</th>
                  <td class="govuk-table__cell"><a href="" class="govuk-link" target="_blank">Capacity Tracker (opens in new tab)</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Data last updated</th>
                  <td class="govuk-table__cell">5 February 2025</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Update frequency</th>
                  <td class="govuk-table__cell">Daily</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Date range</th>
                  <td class="govuk-table__cell">From 30 September 2017 to 5 February 2025.</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Methodology</th>
                  <td class="govuk-table__cell">The total number of beds is the number of beds reported by care providers, including those in use and those available for new admissions.
                    <br> <br>
                    Care providers update this information daily or whenever changes occur using the Capacity Tracker tool. They report how many beds are available and occupied in care settings such as nursing homes, residential care, and community care.
                    <br> <br>
                    Beds are sorted into categories such as mental health, learning disabilities, and end-of-life care.
                    <br> <br>
                    The data is grouped by local areas, regions, and nationally so it is easier to compare. The information is checked and updated regularly to make sure it is as accurate as possible.</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Limitations</th>
                  <td class="govuk-table__cell">None reported.</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Data definitions</th>
                  <td class="govuk-table__cell">Definitions are not available. You may need to contact the data provider.</td>
                </tr>
              </tbody>
            </table>
        </div>
      </details>

      <details class="govuk-details" id="chart3">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Residential care providers in Suffolk
          </span>
        </summary>
        <div class="govuk-details__text">
          
          <ul class="govuk-list govuk-list--bullet">

            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--s">Details for Residential care providers in Suffolk</caption>

              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">What this measures</td>
                  <td class="govuk-table__cell">The total number of beds recorded by care providers across health and adult social care, adjusted to a rate of 1,000 people in the population.</td>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Data source</th>
                  <td class="govuk-table__cell"><a href="" class="govuk-link" target="_blank">Capacity Tracker (opens in new tab)</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Data last updated</th>
                  <td class="govuk-table__cell">5 February 2025</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Update frequency</th>
                  <td class="govuk-table__cell">Daily</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Date range</th>
                  <td class="govuk-table__cell">From 30 September 2017 to 5 February 2025.</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Methodology</th>
                  <td class="govuk-table__cell">The total number of beds is the number of beds reported by care providers, including those in use and those available for new admissions. 
                    <br> <br>
                    Total beds includes mental health, learning disabilities, and end-of-life care beds in residential and nursing care homes.The data covers both self-funded and local authority-funded beds.
                    <br> <br>
                    Care providers update this information daily or whenever changes occur using the Capacity Tracker tool. They report how many beds are available and occupied in care settings such as nursing homes, residential care, and community care.
                    <br> <br>
                    The data is grouped by local areas, regions, and nationally so it is easier to compare. The information is checked and updated regularly to make sure it is as accurate as possible.</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Limitations</th>
                  <td class="govuk-table__cell">None reported.</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Data definitions</th>
                  <td class="govuk-table__cell">Definitions are not available. You may need to contact the data provider.</td>
                </tr>
              </tbody>
            </table>
        </div>
      </details>
    -->

    <p class="govuk-body"><a class="govuk-link" href="#">Back </a></p>
    
    {% endblock %}