{% extends "v5/layouts/data.html" %}

{% set pageName = "Customise view" %}

{% block content %} 
<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!--<span class="govuk-caption-m">Total beds</span>-->
    <h1 class="govuk-heading-l">{{pageName}}</h1>
    <p class="govuk-body">Select a chart type, choose a time period, and filter the data to explore different views.</p>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Chart format
          </h1>
        </legend>
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes" checked>
            <label class="govuk-label govuk-radios__label" for="changedName">
              Line
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="changedName-2">
              Bar
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="changedName-2">
              Map
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <h2>Time period</h2>
        <div class="date-pickers">
      <div class="moj-datepicker" data-module="moj-date-picker">
        <div class="govuk-form-group">
          <label class="govuk-label" for="date">
            Start date 
          </label>
          <input class="govuk-input moj-js-datepicker-input " id="date" name="date" type="text" aria-describedby="date-hint" autocomplete="off" value="1/04/2021">
        </div>
      </div>
      
      <div class="moj-datepicker" data-module="moj-date-picker">
        <div class="govuk-form-group">
          <label class="govuk-label" for="date">
            End date
          </label>
          <input class="govuk-input moj-js-datepicker-input " id="date" name="date" type="text" aria-describedby="date-hint" autocomplete="off" value="1/11/2023">
        </div>
      </div>
   <h2>Filters</h2>
   <table class="govuk-table">
    <!-- <caption class="govuk-table__caption govuk-table__caption--l">Months and rates</caption> -->
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Filters</th>
        <th scope="col" class="govuk-table__header">Active (2)</th>
        <th scope="col" class="govuk-table__header">Available (21)</th>
        <th scope="col" class="govuk-table__header">Action</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">General</th>
        <td class="govuk-table__cell">Total beds per 100,000 people</td>
        <td class="govuk-table__cell">
          <ul class="govuk-list">
            <li>Residential</li>
            <li>Nursing</li>
            <li>General</li>
              <li>Dementia</li>
              <li>Mental health</li>
              <li>Learning disability</li>
              <li>Adult community contacts </li>
              <li>Adult hospice at home beds </li>
              <li>Adult inpatient</li>
              <li>Community rehabilitation - NHS or LA funded </li>
              <li>Community rehabilitation - private funded </li>
              <li>Community support </li>
              <li>End of life </li>
              <li>Transitional</li>
              <li>YPD young physically disabled </li>
          </ul>
        </td>
        <td class="govuk-table__cell"><a href="total_beds-edit-filters">Change</a></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Local authorities</th>
        <td class="govuk-table__cell">Suffolk</td>
        <td class="govuk-table__cell">
152 available
        </td>
        <td class="govuk-table__cell"><a href="total_beds-edit-filters">Change</a></td>

      </tr>
    </tbody>
  </table>
   <!-- <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Filter by
      </dt>
      <dd class="govuk-summary-list__value">
        Total beds
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="total_beds-edit-filters">Change<span class="govuk-visually-hidden"> name</span></a>
      </dd>
    </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Age range
        </dt>
        <dd class="govuk-summary-list__value">
          All ages
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="total_beds-edit-filters">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd>
      </div>
    </dl> -->

      <form action="total_beds#timeseries">
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Apply changes
    </button>
    </form>
  </div>

    {% endblock %}