{% extends "v9/layouts/signed-in.html" %}

{% set pageName = "Data indicator details" %}

{% block beforeContent %}
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{pageName}}</h1>
    <p class="govuk-body-l">This page lists all the data indicators (or metrics) used in the Get adult social care data service.</p>
    <p class="govuk-body">Use the links to view details on the data sources, how the data was collected and any limitations to consider when using the data.</p>

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Care provision data indicators</h2>

    <div class="gem-c-cards">
      <ul class="gem-c-cards__list gem-c-cards__list--one-column">
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../help/beds-per-100000-adult-population">Adult social care beds per 100,000 adult population</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Sources: Capacity Tracker, Office for National Statistics.<br>Daily updates, limitations apply.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../help/beds-per-100000-adult-population-over-time">Adult social care beds per 100,000 adult population - over time</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Sources: Capacity Tracker, Office for National Statistics.<br>Daily updates, limitations apply.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="govuk-heading-s gem-c-cards__sub-heading">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../help/total-number-community-social-care-providers">Number of community social care providers</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: Care Quality Commission. <br>Monthly updates, limitations apply.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="govuk-heading-s gem-c-cards__sub-heading">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../help/number-people-receiving-care-from-community-social-care-provider">Number of people receiving care from a community social care provider</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: Capacity Tracker.<br>Daily updates, limitations apply.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="govuk-heading-s gem-c-cards__sub-heading">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../help/percentage-beds-occupied">Occupancy level percentages for adult social care beds</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: Capacity Tracker. <br>Daily updates, limitations apply.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="govuk-heading-s gem-c-cards__sub-heading">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../help/percentage-people-aged-5-and-over-who-provide-unpaid-care">People aged 5 and over who provide unpaid care</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: Office for National Statistics.<br>Updated every 10 years, limitations might apply.</p>
          </div>

        </li>
      </ul>

    </div>

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Funding data indicators</h2>

    <div class="gem-c-cards">

      <ul class="gem-c-cards__list gem-c-cards__list--one-column">
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../help/total-financial-spend-adult-social-care"><abbr title="Local Authority">LA</abbr> funding for adult social care</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: NHS England.<br>Yearly updates, limitations might apply.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="govuk-heading-s gem-c-cards__sub-heading">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../help/total-financial-spend-long-term-community-adult-social-care"><abbr title="Local Authority">LA</abbr> funding for long&#45;term community adult social care</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: NHS England.<br>Yearly updates, limitations might apply.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="govuk-heading-s gem-c-cards__sub-heading">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../help/percentages-financial-spend-long-term-and-short-term-care"><abbr title="Local Authority">LA</abbr> funding for short&#45;term and long&#45;term adult social care</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: NHS England.<br>Yearly updates, limitations might apply.</p>
          </div>

        </li>
      </ul>

    </div>

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Population needs data indicators</h2>

    <div class="gem-c-cards">

      <ul class="gem-c-cards__list gem-c-cards__list--one-column">
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="govuk-heading-s gem-c-cards__sub-heading">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../help/population-age">Age group percentages</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: Office for National Statistics.<br>Yearly updates, limitations apply. </p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="govuk-heading-s gem-c-cards__sub-heading">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../help/dementia-prevalence">Dementia prevalence</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: Department of Health and Social Care.<br>Yearly updates, limitations apply.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="govuk-heading-s gem-c-cards__sub-heading">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../help/disability-prevalence">Disability prevalence</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: Office for National Statistics.<br>Updated every 10 years, limitations might apply.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="govuk-heading-s gem-c-cards__sub-heading">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../help/estimated-dementia-diagnosis-rate-aged-65-and-over">Estimated dementia diagnosis rate for people aged 65 and over</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: Department of Health and Social Care.<br>Yearly updates, limitations apply.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="govuk-heading-s gem-c-cards__sub-heading">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../help/household-deprivation">Households ‘deprived in 4 dimensions’</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: Office for National Statistics.<br>Updated every 10 years, limitations might apply. </p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="govuk-heading-s gem-c-cards__sub-heading">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../help/households-where-property-is-owned-outright">Households where the property is owned outright</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: Office for National Statistics.<br>Updated every 10 years, limitations might apply. </p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="govuk-heading-s gem-c-cards__sub-heading">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../help/one-person-households-where-person-aged-65-or-over">One-person households where the person is aged 65 or over</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: Office for National Statistics.<br>Updated every 10 years, limitations might apply. </p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="govuk-heading-s gem-c-cards__sub-heading">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../help/learning-disability-prevalence">Learning disability prevalence</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: Department of Health and Social Care.<br>Yearly updates, limitations apply.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="govuk-heading-s gem-c-cards__sub-heading">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../help/people-who-reported-bad-or-very-bad-health">People who reported bad or very bad health</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: Office for National Statistics.<br>Updated every 10 years, limitations might apply.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="govuk-heading-s gem-c-cards__sub-heading">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../help/population-size">Population size</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: Office for National Statistics.<br>Yearly updates, limitations apply. </p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="govuk-heading-s gem-c-cards__sub-heading">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../help/primary-reason-for-accessing-long-term-adult-social-care">Primary reason for people to access long-term adult social care</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: NHS England.<br>Yearly updates, limitations might apply.</p>
          </div>

        </li>
      </ul>
    </div>

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Future funding data indicators</h2>

    <div class="gem-c-cards">

      <ul class="gem-c-cards__list gem-c-cards__list--one-column">
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../help/linked-health-and-socia-care-data">Linked health and social care data</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: Hospital episode statistics (HES), Emergency care dataset (ECDS) and Client level data (CLD).<br>Yearly updates (Financial Year).</p>
          </div>

        </li>
      </ul>

    </div>

  </div>

</div>
{% endblock %}