{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Configure your user journey (v{{version}}) – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style>

  /* Minor workaround to remove the light grey (#f4f8fb) footer due to the content container not having enough in it */
  html {
    height: 100%;
  }

</style>

<div class="govuk-form-group">
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
</div>

<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl">v{{version}}</span>
  Configure your user journey
</h1>

<form action="config-validation" method="post" novalidate>
  <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">User type</legend>
      
      <div class="govuk-radios" data-module="govuk-radios">

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="user_type1" name="userType" type="radio" value="Multi Academy Trust (MAT)" checked="checked">
          <label class="govuk-label govuk-radios__label" for="user_type1">Multi Academy Trust (MAT)</label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="user_type2" name="userType" type="radio" value="Single Academy Trust (SAT)">
          <label class="govuk-label govuk-radios__label" for="user_type2">Single Academy Trust (SAT)</label>
        </div>

      </div>

    </fieldset>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Entry point</legend>
    
      <div class="govuk-radios" data-module="govuk-radios">
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="entry_point_1" name="entryPoint" type="radio" value="Start page on GOV.UK (Estate Management Portal)">
          <label class="govuk-label govuk-radios__label" for="entry_point_1">Start page on GOV.UK (Estate Management Portal)</label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="entry_point_2" name="entryPoint" type="radio" value="Department for Education Sign-in">
          <label class="govuk-label govuk-radios__label" for="entry_point_2">Department for Education Sign-in</label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="entry_point_3" name="entryPoint" type="radio" value="Home (Estate Management Portal)">
          <label class="govuk-label govuk-radios__label" for="entry_point_3">Home (Estate Management Portal)</label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="entry_point_4" name="entryPoint" type="radio" value="{{serviceName}}" checked="checked">
          <label class="govuk-label govuk-radios__label" for="entry_point_4">{{serviceName}}</label>
        </div>

      </div>

    </fieldset>
  </div>

</form>
{% endblock %}