{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% set pageName = "All user journeys (" + version + ")" %}

{% block content %}
<div class="govuk-form-group">
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
</div>

<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl">{{version}}</span>
  All user journeys
</h1>

<h2 class="govuk-heading-l heading-override">Entry points into {{serviceName | lower}}</h2>
<ol class="govuk-list govuk-list--number">
  <li><a href="start-private-beta">Start page (private beta)</a> <strong class="govuk-tag govuk-tag--purple">In progress</strong></li>
  <li><a href="start">Start page on GOV.UK</a> <strong class="govuk-tag govuk-tag--purple">In progress</strong></li>
</ol>

<div class="externalService">
  <span class="govuk-caption-l">Last synchronised: 8 October 2025</span>
  <h2 class="govuk-heading-l heading-override">GOV.UK One Login</h2>

  <ul class="govuk-list govuk-list--bullet">  
    <li><a href="gov-uk/one-login/start">Create your GOV.UK One Login or sign in</a></li>
  </ul>

  <h3 class="govuk-heading-m heading-override">Create a GOV.UK One Login</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="gov-uk/one-login/create-account/enter-email">Enter your email address</a></li>
    <li><a href="gov-uk/one-login/create-account/check-email">Check your email</a></li>
    <ul class="govuk-list--bullet">
      <li><i class="fa fa-envelope" aria-hidden="true"><span class="govuk-visually-hidden">Email</span></i> <a href="gov-uk/one-login/notifications/email/create-account/security-code-email">Security code email</a></li>
      <li>Send the code again - <a href="gov-uk/one-login/create-account/resend-code">Get security code</a></li>
    </ul>
    <li><a href="gov-uk/one-login/create-account/create-password">Create your password</li>
    <li><a href="gov-uk/one-login/create-account/get-security-code">Choose how to get security codes</a></li>
    <ul class="govuk-list--bullet">
      <li>Text message - <a href="gov-uk/one-login/create-account/enter-phone-number">Enter your mobile phone number</a></li>
      <li>Text message - <a href="gov-uk/one-login/create-account/check-phone">Check your phone</a></li>
      <ul class="govuk-list--bullet">
        <li><i class="fa fa-comment" aria-hidden="true"><span class="govuk-visually-hidden">SMS</span></i> <a href="gov-uk/one-login/notifications/sms/create-account/security-code-text-message">Security code text message</a></li>
        <li>Send the code again - <a href="gov-uk/one-login/create-account/resend-code-sms">Get security code</a></li>
      </ul>
      <li>Authenticator app for smartphone, tablet or computer - <a href="gov-uk/one-login/create-account/auth-app">Set up an authenticator app</a></li>
    </ul>
    <li><a href="gov-uk/one-login/create-account/account-created">You’ve created your GOV.UK One Login</a></li>
    <li><i class="fa fa-envelope" aria-hidden="true"><span class="govuk-visually-hidden">Email</span></i> <a href="gov-uk/one-login/notifications/email/create-account/account-created-email">Created GOV.UK One Login email</a></li>
  </ul>

  <h3 class="govuk-heading-m heading-override">Sign in</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="gov-uk/one-login/sign-in/enter-email">Enter your email address to sign in to your GOV.UK One Login</a></li>
    <li><a href="gov-uk/one-login/sign-in/enter-password">Enter your password</a></li>
    <li><a href="gov-uk/one-login/sign-in/check-phone">Check your phone</a></li>
    <ul class="govuk-list--bullet">
      <li><i class="fa fa-comment" aria-hidden="true"><span class="govuk-visually-hidden">SMS</span></i> <a href="gov-uk/one-login/notifications/sms/sign-in/security-code-text-message">Security code text message</a></li>
      <li>Send the code again - <a href="gov-uk/one-login/sign-in/resend-code-sms">Get security code</a></li>
    </ul>
    <li><a href="gov-uk/one-login/sign-in/enter-authenticator-app-code">Enter the 6 digit security code shown in your authenticator app</a></li>
  </ul>

  <h3 class="govuk-heading-m heading-override">I’ve forgotten my password</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="gov-uk/one-login/sign-in/forgotten-password/check-email">Check your email</a></li>
    <ul class="govuk-list--bullet">
      <li><i class="fa fa-envelope" aria-hidden="true"><span class="govuk-visually-hidden">Email</span></i> <a href="gov-uk/one-login/notifications/email/forgotten-password/password-reset-security-code-email">Password reset security code email</a></li>
      <li>Send the code again - <a href="gov-uk/one-login/sign-in/forgotten-password/resend-code">Get security code</a></li>
    </ul>
    <li><a href="gov-uk/one-login/sign-in/forgotten-password/reset-password">Reset your password</a></li>
    <li><i class="fa fa-envelope" aria-hidden="true"><span class="govuk-visually-hidden">Email</span></i> <a href="gov-uk/one-login/notifications/email/forgotten-password/password-reset-confirmation-email">Password reset confirmation email</a></li>
    <li><i class="fa fa-comment" aria-hidden="true"><span class="govuk-visually-hidden">SMS</span></i> <a href="gov-uk/one-login/notifications/sms/forgotten-password/password-reset-confirmation-text-message">Password reset confirmation text message</a></li>
  </ul>

  <h3 class="govuk-heading-m heading-override">Change how you get security codes</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="gov-uk/one-login/sign-in/change-security-codes/check-email">Check your email</a></li>
    <ul class="govuk-list--bullet">
      <li><i class="fa fa-envelope" aria-hidden="true"><span class="govuk-visually-hidden">Email</span></i> <a href="gov-uk/one-login/notifications/email/change-security-codes/security-code-email">Security code email</a></li>
      <li>Send the code again - <a href="gov-uk/one-login/sign-in/change-security-codes/resend-code">Get security code</a></li>
    </ul>
    <li><a href="gov-uk/one-login/sign-in/change-security-codes/choose-security-code">How do you want to get security codes?</a></li>
    <ul class="govuk-list--bullet">
      <li>Text message - <a href="gov-uk/one-login/sign-in/change-security-codes/enter-phone-number">Enter your mobile phone number</a></li>
      <li>Text message - <a href="gov-uk/one-login/sign-in/change-security-codes/check-phone">Check your phone</a></li>
      <ul class="govuk-list--bullet">
        <li><i class="fa fa-comment" aria-hidden="true"><span class="govuk-visually-hidden">SMS</span></i> <a href="gov-uk/one-login/notifications/sms/change-security-codes/security-code-text-message">Security code text message</a></li>
        <li>Send the code again - <a href="gov-uk/one-login/sign-in/change-security-codes/resend-code-sms">Get security code</a></li>
      </ul>
      <li>Authenticator app for smartphone, tablet or computer - <a href="gov-uk/one-login/sign-in/change-security-codes/auth-app">Set up an authenticator app</a></li>
    </ul>
    <li><a href="gov-uk/one-login/sign-in/change-security-codes/changed-security-codes">You've changed how you get security codes</a></li>
    <li><i class="fa fa-envelope" aria-hidden="true"><span class="govuk-visually-hidden">Email</span></i> <a href="gov-uk/one-login/notifications/email/change-security-codes/security-code-confirmation-email">Security code confirmation email</a></li>
  </ul>
</div>

<h2 class="govuk-heading-l">{{serviceName}}</h2>

<h3 class="govuk-heading-m">Home <strong class="govuk-tag govuk-tag--purple">In progress</strong></h3>

<h4 class="govuk-heading-s heading-override">Care home and community social care providers</h4>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="signed-in/home?locations=1">1 location</a></li>
  <li><a href="signed-in/select-location?justSignedIn=true&careHome=&locations=">2 or more locations</a></li>
</ul>

<h3 class="govuk-heading-m heading-override">Data > Care homes <strong class="govuk-tag govuk-tag--purple">In progress</strong></h3>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="signed-in/topics/residential-care/subtopics">Care homes (topic page)</a></li>
</ul>

<h4 class="govuk-heading-s heading-override">Locations and services of care home providers</h4>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="signed-in/topics/residential-care/residential-care-providers/data">Locations and services of care home providers (data page)</a></li>
</ul>

<h4 class="govuk-heading-s heading-override">Care home bed provision and occupancy levels</h4>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="signed-in/topics/residential-care/provision-and-occupancy/data">Care home bed provision and occupancy levels (data page)</a></li>
</ul>

<h4 class="govuk-heading-s heading-override">Data indicator definitions and data sources</h4>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="signed-in/help/beds-per-100000-adult-population">Adult social care beds per 100,000 adult population</a></li>
  <li><a href="signed-in/help/percentage-beds-occupied">Percentage of adult social care beds occupied</a></li>
  <li><a href="signed-in/help/beds-care-provider-location">Number of adult social care beds in care provider location</a></li>
</ul>

<h3 class="govuk-heading-m heading-override">Data > Community social care <strong class="govuk-tag govuk-tag--purple">In progress</strong></h3>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="signed-in/topics/community-social-care/subtopics">Community social care (topic page)</a></li>
</ul>

<h4 class="govuk-heading-s heading-override">Locations and services for community social care providers</h4>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="signed-in/topics/community-social-care/community-care-providers/data">Locations and services for community social care providers (data page)</a></li>
</ul>

<!-- <h4 class="govuk-heading-s heading-override">Hours of paid community social care</h4>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="signed-in/topics/community-social-care/hours-of-paid-care/data">Hours of paid community social care (data page)</a></li>
</ul> -->

<h4 class="govuk-heading-s heading-override">Number of people receiving care</h4>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="signed-in/topics/community-social-care/number-of-people-receiving-care/data">Number of people receiving care (data page)</a></li>
</ul>

<h4 class="govuk-heading-s heading-override">Data indicator definitions and data sources</h4>
<ul class="govuk-list govuk-list--bullet">
  <!-- <li><a href="signed-in/help/hours-of-paid-care-community-social-care-provider">Hours of paid care provided in the last month by a community social care provider</a></li> -->
  <li><a href="signed-in/help/number-people-receiving-care-from-community-social-care-provider">Number of people receiving care in the last month from a community social care provider</a></li>
  <li><a href="signed-in/help/total-number-community-social-care-providers">Total number of community social care providers</a></li>
</ul>

<h3 class="govuk-heading-m heading-override">Data > Financial spend and unpaid care <strong class="govuk-tag govuk-tag--purple">In progress</strong></h3>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="signed-in/topics/financial-spend-and-unpaid-care/subtopics">Financial spend and unpaid care (topic page)</a></li>
</ul>

<h4 class="govuk-heading-s heading-override">Financial spend on adult social care</h4>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="signed-in/topics/financial-spend-and-unpaid-care/financial-spend/data">Financial spend on adult social care (data page)</a></li>
</ul>

<h4 class="govuk-heading-s heading-override">Unpaid care</h4>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="signed-in/topics/financial-spend-and-unpaid-care/unpaid-care/data">Financial spend on adult social care (data page)</a></li>
</ul>

<h4 class="govuk-heading-s heading-override">Data indicator definitions and data sources</h4>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="signed-in/help/primary-reason-for-accessing-long-term-adult-social-care">Number of people accessing long&#45;term adult social care support services by primary reason</a></li>
  <li><a href="signed-in/help/percentage-people-receiving-care-in-local-authority">Percentage of the number of people receiving care in the local authority area as supported by an individual care provider</a></li>
  <li><a href="signed-in/help/percentage-hours-of-paid-care-in-local-authority">Percentage of the total hours of paid care for the local authority area provided by an individual care provider</a></li>
  <li><a href="signed-in/help/percentages-financial-spend-long-term-and-short-term-care">Percentages of financial spend for long&#45;term and short&#45;term care</a></li>
  <li><a href="signed-in/help/total-financial-spend-adult-social-care">Total financial spend on adult social care</a></li>
  <li><a href="signed-in/help/total-financial-spend-long-term-community-adult-social-care">Total financial spend on long&#45;term community adult social care</a></li>
</ul>

<h3 class="govuk-heading-m heading-override">Data > Population needs <strong class="govuk-tag govuk-tag--purple">In progress</strong></h3>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="signed-in/topics/population-needs/subtopics">Population needs (topic page)</a></li>
</ul>

<h4 class="govuk-heading-s heading-override">Population size and age group percentages</h4>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="signed-in/topics/population-needs/population-age-and-size/data">Population size and age group percentages (data page)</a></li>
</ul>

<h4 class="govuk-heading-s heading-override">Household composition and economic factors</h4>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="signed-in/topics/population-needs/household-composition-and-economic-factors/data">Household composition and economic factors (data page)</a></li>
</ul>

<h4 class="govuk-heading-s heading-override">Disability prevalence and reasons for people to access long term support</h4>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="signed-in/topics/population-needs/disability-prevalence/data">Disability prevalence and reasons for people to access long term support (data page)</a></li>
</ul>

<h4 class="govuk-heading-s heading-override">Dementia prevalence and estimated diagnosis rate</h4>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="signed-in/topics/population-needs/dementia-prevalence/data">Dementia prevalence and estimated diagnosis rate (data page)</a></li>
</ul>

<h4 class="govuk-heading-s heading-override">Data indicator definitions and data sources</h4>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="signed-in/help/population-size">Population size</a></li>
  <li><a href="signed-in/help/population-age">Percentage of population in age group</a></li>
  <li><a href="signed-in/help/disability-prevalence">Disability prevalence</a></li>
</ul>

<h3 class="govuk-heading-m">Additional screens <strong class="govuk-tag govuk-tag--purple">In progress</strong></h3>

<h4 class="govuk-heading-s heading-override">Email notifications</h4>
<ul class="govuk-list govuk-list--bullet">
  <li><i class="fa fa-envelope" aria-hidden="true"><span class="govuk-visually-hidden">Email</span></i> <a href="communications/email/email-security-code">DHSC security code (email security code)</a></li>
  <li><i class="fa fa-envelope" aria-hidden="true"><span class="govuk-visually-hidden">Email</span></i> <a href="communications/email/password-reset">Your password for Get adult social care data has been reset (password reset confirmation)</a></li>
  <li><i class="fa fa-envelope" aria-hidden="true"><span class="govuk-visually-hidden">Email</span></i> <a href="communications/email/request-approved">Your request to access Get adult social care data (request approved)</a></li>
  <li><i class="fa fa-envelope" aria-hidden="true"><span class="govuk-visually-hidden">Email</span></i> <a href="communications/email/request-declined">Your request to access Get adult social care data (request declined)</a></li>
  <li><i class="fa fa-envelope" aria-hidden="true"><span class="govuk-visually-hidden">Email</span></i> <a href="communications/email/request-pending">Your request to access Get adult social care data (request needs more information)</a></li>
</ul>

<h4 class="govuk-heading-s heading-override">Service information pages</h4>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="service-information/user-guide">User guide</a></li>
</ul>

<h4 class="govuk-heading-s heading-override">Footer pages</h4>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="service-information/disclaimer">Disclaimer (private beta)</a></li>
  <li><a href="footer/help">Help</a></li>
  <li><a href="footer/privacy-policy">Privacy</a></li>
  <li><a href="footer/cookies">Cookies</a></li>
  <li><a href="footer/accessibility-statement">Accessibility statement</a></li>
</ul>

<h4 class="govuk-heading-s heading-override">Session sign in, sign out and timeout</h4>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="system/access-denied">Access denied (private beta) - <code>[you can not access this service]</code></a></li>
  <li><a href="signed-in/topics/residential-care/residential-care-providers/data?sessionTimeoutJs=true">Session timeout warning (modal window)</a></li>
  <li><a href="signed-in/topics/residential-care/residential-care-providers/data?sessionTimeoutNonJs=true">Session timeout warning (non JavaScript alternative)</a></li>
  <li><a href="system/signed-out">You have signed out</a></li>
  <li><a href="system/session-expired">Your session has expired</a></li>
</ul>

<h4 class="govuk-heading-s heading-override">System pages</h4>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="system/http-status-codes/page-not-found">HTTP 404 Not found: Page not found</a></li>
  <li><a href="system/http-status-codes/problem-with-service">HTTP 500 Internal server error: Sorry, there is a problem with the service</a></li>
  <li><a href="system/http-status-codes/service-unavailable">HTTP 503 Service unavailable: Sorry, the service is unavailable (generic message)</a></li>
  <li><a href="system/http-status-codes/service-unavailable-with-date">HTTP 503 Service unavailable: Sorry, the service is unavailable (if date/time known)</a></li>
</ul>
{% endblock %}

{% block pageScripts %}
<!-- Tooltip taken from Nicolas Hoffmann (https://a11y.nicolas-hoffmann.net/modal/) -->
<script src="/public/javascripts/jquery-accessible-modal-window-aria.js"></script>
<!-- Font Awesome 4 icons for the notifications -->
<link href="/public/open-source/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
{% endblock %}