{% extends "v9/layouts/signed-in.html" %}

{% set pageName = "General health, disability and learning disability" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../../../home"
    },
    {
      text: "Population needs",
      href: "../subtopics"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">{{pageName}}</h1>
    <p class="govuk-body-l">Data on disability prevalence, learning disability diagnoses and reasons for accessing care.</p>

    <div class="govuk-form-group">
      <h2 class="govuk-heading-l govuk-!-margin-top-9">Data overview</h2>
      <!-- <p class="govuk-body">Data overview summary information, e.g. broad guidance.</p> -->
      {% include "./filters/_page-filter-component.html" %}
    </div>

  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <div class="data-box govuk-form-group">

      <div class="govuk-tabs" data-module="govuk-tabs">
        
        <div class="govuk-form-group">
          <h3 class="govuk-heading-m">Disability prevalence</h3>
          <p class="govuk-body">Find out how <a href="../../../help/people-who-reported-bad-or-very-bad-health">people who reported bad or very bad health</a> and <a href="../../../help/disability-prevalence" class="govuk-link">disability prevalence</a> are calculated.</p>
        </div>

        <h3 class="govuk-tabs__title">Contents</h3>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data1-table">Table</a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data1-download">Download</a>
          </li>
        </ul>

        <div class="govuk-tabs__panel" id="data1-table">
          {% include "./data-visualisations/_1-table.html" %}
        </div>

        <div class="govuk-tabs__panel" id="data1-download">
          <h4 class="govuk-heading-s">Download</h4>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="/public/downloads/v9/population-needs/general-health-disability-and-learning-disability/table-1-disability-prevalence.csv">Export table data (CSV)</a>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <div class="data-box govuk-form-group">

      <div class="govuk-tabs" data-module="govuk-tabs">
        
        <div class="govuk-form-group">
          <h3 class="govuk-heading-m">Learning disability prevalence</h3>
          <p class="govuk-body">Find out <a href="../../../help/learning-disability-prevalence" class="govuk-link">how learning disability prevalence is calculated</a>.</p>
        </div>

        <h3 class="govuk-tabs__title">Contents</h3>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data2-table">Table</a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data2-download">Download</a>
          </li>
        </ul>

        <div class="govuk-tabs__panel" id="data2-table">
          {% include "./data-visualisations/_2-table.html" %}
        </div>

        <div class="govuk-tabs__panel" id="data2-download">
          <h4 class="govuk-heading-s">Download</h4>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="/public/downloads/v9/population-needs/general-health-disability-and-learning-disability/table-2-learning-disability-prevalence.csv">Export table data (CSV)</a>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <div class="data-box govuk-form-group">

      <div class="govuk-tabs" data-module="govuk-tabs">

        <div class="govuk-form-group">
          <h3 id="data3" class="govuk-heading-m">Primary reason for people to access long-term adult social care</h3>
          <p class="govuk-body">Find out <a href="../../../help/primary-reason-for-accessing-long-term-adult-social-care" class="govuk-link">how primary reason for people to access long-term adult social care is calculated</a>.</p>
          {% include "./filters/_3-filter-component.html" %}
        </div>

        <h3 class="govuk-tabs__title">Contents</h3>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data3-table">Table</a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data3-download">Download</a>
          </li>
        </ul>

        <div class="govuk-tabs__panel" id="data3-table">
          {% include "./data-visualisations/_3-table.html" %}
        </div>

        <div class="govuk-tabs__panel" id="data3-download">
          <h4 class="govuk-heading-s">Download</h4>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="/public/downloads/v9/population-needs/general-health-disability-and-learning-disability/table-3-primary-reason-for-people-to-access-long-term-adult-social-care.csv">Export table data (CSV)</a>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l govuk-!-margin-top-9">Data indicator details</h2>
    <p class="govuk-body">Use the links to view details on the data source, how the data was collected and any limitations to consider when using the data.</p>

    <div class="gem-c-cards">
      <ul class="gem-c-cards__list gem-c-cards__list--one-column">
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../../../help/disability-prevalence">Disability prevalence</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: Office for National Statistics.<br>Updated every 10 years, limitations might apply.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../../../help/learning-disability-prevalence">Learning disability prevalence</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: Department of Health and Social Care.<br>Yearly updates, limitations apply.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../../../help/people-who-reported-bad-or-very-bad-health">People who reported bad or very bad health</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: Office for National Statistics.<br>Updated every 10 years, limitations might apply.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../../../help/primary-reason-for-accessing-long-term-adult-social-care">Primary reason for people to access long-term adult social care</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: NHS England.<br>Yearly updates, limitations might apply.</p>
          </div>

        </li>
      </ul>
    </div>

    <h2 class="govuk-heading-l govuk-!-margin-top-9">Related data</h2>

    <div class="gem-c-cards">
      <ul class="gem-c-cards__list gem-c-cards__list--one-column">
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../dementia-prevalence/data">Dementia prevalence and estimated diagnosis rate</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Data on registered dementia diagnoses with estimates for undiagnosed dementia.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../household-composition-and-economic-factors/data">Economic factors and household composition</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Data on household deprivation, property ownership and older people living alone.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../population-age-and-size/data">Population size and age group percentages</a>
            </h2>
            <!-- <p class="govuk-body gem-c-cards__description">Population data at district, <abbr title="Local Authority">LA</abbr>, regional and national levels for England.</p> -->
            <p class="govuk-body gem-c-cards__description">Population data at <abbr title="Local Authority">LA</abbr>, regional and national levels for England.</p>
          </div>

        </li>
      </ul>
    </div>

    <h2 class="govuk-heading-l govuk-!-margin-top-9">Information on the local care market</h2>
    <p class="govuk-body" data-module="edge"><a href="#" class="govuk-link" data-message="This link would take you to the Market Position Statement on the Suffolk LA website.">Market Position Statement for Suffolk (opens in new tab)</a></p>
    <p class="govuk-body">Most <abbr title="Local Authority">LA</abbr>s in England publish Market Position Statements (MPS) to help care providers understand the local care market.</p>
    <p class="govuk-body">You can usually find these <abbr title="Market Position Statement">MPS</abbr> documents on <abbr title="Local Authority">LA</abbr> websites.</p>
    <p class="govuk-body"><abbr title="Market Position Statement">MPS</abbr> documents include information on:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>supply and demand in the local care market</li>
      <li>forecasts of future supply and demand for adult social care services</li>
      <li>how the <abbr title="Local Authority">LA</abbr> will support the local care market to meet demand</li>
      <li>how the <abbr title="Local Authority">LA</abbr> will engage with care providers on challenges in the sector, such as funding pressures</li>
    </ul>

    <!-- TO DO: Get this component working as a progressive enhancement (i.e. with JavaScript as per the live GOV.UK examples) -->
    <div data-sticky-element class="gem-c-contents-list-with-body__link-wrapper govuk-!-margin-top-9">

      <div class="gem-c-contents-list-with-body__link-container">
        <a class="govuk-link gem-c-back-to-top-link govuk-!-display-none-print" href="#top">
          <svg class="gem-c-back-to-top-link__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>
          Back to top
        </a>
      </div>

    </div>

  </div>

</div>
{% endblock %}

{% block pageScripts %}
<!-- Filters (progressive enhancement) code that loads and controls the dynamic filters for this page -->
<script src="/public/javascripts/v9/filters.js"></script>
<!-- Font Awesome 4 icons for the notifications -->
<link href="/public/open-source/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
{% endblock %}