{% extends "v9/layouts/signed-in.html" %}

{% set pageName = "Future planning" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../../home"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{pageName}}</h1>
    <p class="govuk-body-l">Find estimated and experimental data on future population needs.</p>

    <div class="gem-c-cards">
      <ul class="gem-c-cards__list gem-c-cards__list--one-column">
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../future-planning/estimated-population-age-and-size/data">Estimated population size and age group percentages</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Estimated data at <abbr title="Local Authority">LA</abbr>, regional and national levels for England including comparison data across <abbr title="Local Authority">LA</abbr>s.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../future-planning/estimates-on-autistic-spectrum-disorders/data">Estimates on <abbr title="Autistic Spectrum Disorders">ASD</abbr></a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Estimated data on population aged 18-64 predicted to have <abbr title="Autistic Spectrum Disorders">ASD</abbr> with comparison data across <abbr title="Local Authority">LA</abbr>s.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../future-planning/estimates-on-early-onset-dementia/data">Estimates on early onset dementia</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Estimated data on population aged 30-64 predicted to have early onset dementia with comparison data across <abbr title="Local Authority">LA</abbr>s.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../future-planning/estimates-on-genera- health-disabilities-and-learning-disabilities/data">Estimates on general health, disabilities and learning disabilities</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Estimated data on population aged 18-64 with learning disabilities predicted to display challenging behaviour with comparison data across <abbr title="Local Authority">LA</abbr>s.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../future-planning/la-funding-planning/data"><abbr title="Local Authority">LA</abbr> funding planning</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Consolidated estimated data on population with selected conditions within a <abbr title="Local Authority">LA</abbr> area.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../future-planning/linked-health-social-care-data/data">Linked health and social care data (experimental)</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Experimental data on specific medical cohorts at the <abbr title="Local Authority">LA</abbr> and national level with predicted need for long-term <abbr title="Adult Social Care">ASC</abbr> in the next 12 months.</p>
          </div>

        </li>
      </ul>
    </div>

  </div>

</div>
{% endblock %}