{% extends "private-beta/2025/july/layouts/signed-in.html" %}

{% block content %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Get adult social care data</h1>
        <p class="govuk-body-l govuk-!-margin-bottom-9">Access the latest data on population needs and adult social care capacity at national, regional and local levels in England.</p>
        <!-- <h2 class="govuk-heading-m">Population needs and capacity</h2> -->
    </div>

    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">
        <a href="current-population-needs/present-demand" class="app-card">
          <h2 class="govuk-heading-m app-card__heading">Current population needs and capacity</h2> 
        <p class="govuk-body">Find and compare data indicators for current population needs and adult social care capacity.</p>
        </a>
    </div>

  <div class="govuk-grid-column-one-half">
    <a href="population-age/population-age" class="app-card">
      <h2 class="govuk-heading-m app-card__heading">Map of population age percentages</h2>
      <p class="govuk-body">Use the map to view population percentages for older age groups at local levels in England.</p>
    </a>
  </div>

</div>
{% endblock %}