{% extends "v6/layouts/landing-page.html" %}

{% set pageName = "Overall capacity at local authority level" %}

{% block content %} 
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!--<span class="govuk-caption-l">Demand and capacity</span>-->
    <h1 class="govuk-heading-l">{{pageName}}</h1>
    <p class="govuk-body-l">Understand local capacity to meet adult social care needs.</p>


    <style>
      /* Contents Box Styling */
      .contents-box {
          background-color: #f3f2f1; /* GOV.UK light grey */
          padding: 20px;
          margin-bottom: 20px;
          max-width: 63%; /* Adjusted width for better spacing */
      }
    
      /* Remove default list indentation */
      .govuk-list--number {
          counter-reset: main-counter;
          list-style-type: none;
          padding-left: 0; /* Remove padding */
          margin-left: 0; /* Remove margin */
      }
    
      .govuk-list--number > li {
          counter-increment: main-counter;
      }
    
      .govuk-list--number > li::before {
          content: counter(main-counter) ". ";
          font-weight: normal;
      }
    
      /* Styling for the nested (child) ordered list */
      .nested-list {
          counter-reset: sub-counter;
          list-style-type: none;
          padding-left: 1.5rem; /* Align nested items properly */
          margin-left: 0;
      }
    
      .nested-list li {
          counter-increment: sub-counter;
      }
    
      .nested-list li::before {
          content: counter(main-counter) "." counter(sub-counter) ". ";
          font-weight: normal;
      }
    
      /* Bridge Text Styling */
      .bridge-text {
          margin-top: 20px;
          font-weight: bold;
      }
    </style>
    
    <!-- Contents Box -->
    <div class="contents-box">
      <h2 class="govuk-heading-m">Contents</h2>
      <ol class="govuk-list govuk-list--number">
          <li><a href="#preferences" class="govuk-link">Choose your data preferences</a>
          <li><a href="#unpaid-care" class="govuk-link">Unpaid care</a>
          <li><a href="#carehome" class="govuk-link">Capacity in care home sector</a>
              <ol class="govuk-list nested-list">
                  <li><a class="govuk-link" href="#asc-beds">Adult social care beds per 100,000 adult population</a></li>
                  <li><a class="govuk-link" href="#occupied-beds">Percentage of occupied adult social care beds</a></li>
              </ol>
          </li>
          <li><a href="#factors" class="govuk-link">Capacity in domiciliary care sector</a>
          <li><a href="#footnotes" class="govuk-link">Footnotes</a></li>
          <li><a href="#related" class="govuk-link">Related information</a></li>
      </ol>
    </div>
    
    <!-- 
      
      Main content
      
    -->
    <style>
      h2{margin-top:4em}
    </style>

    <h2 id="preferences">1. Choose your data preferences</h2>
    <p class="govuk-body">Change these to update the data shown.</p>
        <dl class="govuk-summary-list govuk-!-width-two-thirds">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Active location
            </dt>
            <dd class="govuk-summary-list__value">
              Greenfields Care
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="present-demand-locations">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Available locations
            </dt>
            <dd class="govuk-summary-list__value">
              Woodlands Care, Suffolk<br>
              Seafront Villas, Norfolk
            </dd>
               <dd class="govuk-summary-list__actions">
                </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Local authority
            </dt>
            <dd class="govuk-summary-list__value">
              Suffolk
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="select-la">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Service user age
            </dt>
            <dd class="govuk-summary-list__value">
              Aged 65 and over
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="age-range">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Bed types
            </dt>
            <dd class="govuk-summary-list__value">
              Dementia nursing <br>
              General nursing 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="bed-filters">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
        </dl>
     </div>
     </div>
     <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <h3 id="unpaid-care" class="govuk-heading-m govuk-!-padding-top-9">2. Unpaid care</h3>
      <p>Unpaid care is provided for many reasons, including when formal adult social care services are unavailable or do not meet individual needs.</p>
      <p>This table shows the percentage of people providing unpaid care at different levels each week.<p>
        <div class="govuk-inset-text">
          <strong>Tip:</strong> Use the Explore more data option to view smaller geographical areas than local authority level.
        </div>

        <style>
          .table-indicator { width: 29%; }
          .table-percentage { width: 13%; }
          .table-comparison { width: 16%; }
       </style>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <th scope="col" class="govuk-table__header table-indicator">Indicator</th>
          <th scope="col" class="govuk-table__header table-percentage">Suffolk</th>
          <th scope="col" class="govuk-table__header table-percentage">East of England</th>
          <th scope="col" class="govuk-table__header table-percentage">All England</th>
          <!-- <th scope="col" class="govuk-table__header table-comparison">Suffolk compared to East of England</th>
          <th scope="col" class="govuk-table__header table-comparison">Suffolk compared to All England</th> -->
      </thead>
      <tbody>
        <tr class="govuk-table__row">
        <td class="govuk-table__cell">People providing 19 hours or less unpaid care a week</td>
        <td class="govuk-table__cell">5.1%</td>
        <td class="govuk-table__cell">5.0%</td>
        <td class="govuk-table__cell">4.4%</td>
        <!-- <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Similar</strong></td>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Similar</strong></td> -->
        </tr>
        <tr class="govuk-table__row">
                  <td class="govuk-table__cell">People providing 20 to 49 hours unpaid care a week</td>
          <td class="govuk-table__cell">1.9%</td>
          <td class="govuk-table__cell">1.8%</td>
          <td class="govuk-table__cell">1.5%</td>
          <!-- <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Similar</strong></td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Similar</strong></td> -->
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">People providing 50 or more hours unpaid care a week</td>
    <td class="govuk-table__cell">3.2%</td>
    <td class="govuk-table__cell">3.1%</td>
    <td class="govuk-table__cell">2.8%</td>
    <!-- <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Similar</strong></td>
    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Similar</strong></td> -->
    </tr>
        </tbody>
        </table>


        <p class="govuk-body"><a href="#" class="govuk-link">Explore more unpaid care data</a></a></p>
      
        <p class="govuk-body">Source: Office for National Statistics<br>
           Data correct as of 5 February 2025</p>
     <!-- 
      
      CPs in Suffolk
    
    -->
   
    <h3 id="care-home" class="govuk-heading-m govuk-!-padding-top-9">3. Capacity in care home sector</h3>

      <p class="govuk-body">Adult social care beds and percentage of occupancy are used as measures of capacity in the care home sector.</p>

      <!--
      <p class="govuk-body">Care homes in Suffolk have <strong>18.4 beds per 100,000 adult population</strong>, compared to the East of England regional average of 12.2 per 100,000.</p>
        
      <p class="govuk-body">Suffolk care homes are <strong>operating at 85% occupancy</strong>, which is higher than the regional average (77%). This suggests a more limited capacity to meet population needs than the regional average.</p>
        -->
    <h4 id="asc-beds" class="govuk-heading-m govuk-!-padding-top-9">
        3.1 Adult social care beds per 100,000 adult population</h4>


      <p class="govuk-body">The number of adult social care beds per 100,000 adult population provides an indicator of current care capacity. A higher number usually suggests more sufficient capacity for locations with similar needs.</p>

      <p class="govuk-body"><a href="bed-filters" class="govuk-class">Change bed types for this table</a></p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <th scope="col" class="govuk-table__header table-indicator">Indicator</th>
          <th scope="col" class="govuk-table__header table-percentage">Suffolk</th>
          <th scope="col" class="govuk-table__header table-percentage">East of England</th>
          <th scope="col" class="govuk-table__header table-percentage">All England</th>
          <!-- <th scope="col" class="govuk-table__header table-comparison">Suffolk compared to East of England</th>
          <th scope="col" class="govuk-table__header table-comparison">Suffolk compared to All England</th> -->
      </thead>
        <tbody>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Adult social care beds per 100,000 adult population (all bed types)</th>
            <td class="govuk-table__cell">1,157</td>
            <td class="govuk-table__cell">1,030</td>
            <td class="govuk-table__cell">988</td>
            <!-- <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">Higher</strong></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">Higher</strong></td> -->
            </tr>

        <tr class="govuk-table__row">
        <td class="govuk-table__cell">Dementia nursing beds per 100,000 adult population</th>
        <td class="govuk-table__cell">95</td>
        <td class="govuk-table__cell">77</td>
        <td class="govuk-table__cell">112</td>
        <!-- <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">Higher</strong></td>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Similar</strong></td> -->
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">General nursing beds per 100,000 adult population</th>
            <td class="govuk-table__cell">412</td>
            <td class="govuk-table__cell">335</td>
            <td class="govuk-table__cell">299</td>
            <!-- <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">Higher</strong></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">Higher</strong></td> -->
          </tr>
        </tr>
        </tbody>
        </table>
       
        <p class="govuk-body"><a href="../../data-pages/beds-over-100K/index.html">Explore more adult social care beds per 100,000 adult population data</a></p>

  
      <p class="govuk-body">Source: Capacity Tracker<br>
        Data correct as of 5 February 2025</p>

    <!--Occupancy-->
        

      <h4 id="occupied-beds" class="govuk-heading-m govuk-!-padding-top-9">
         3.2 Percentage of occupied adult social care beds</h4>
         <p class="govuk-body">Bed occupancy levels can show how much current care capacity is being used. High occupancy may mean limited availability to meet needs.</p>
  
  
      <p class="govuk-body"><a href="bed-filters" class="govuk-class">Change bed types for this table</a></p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <th scope="col" class="govuk-table__header table-indicator">Indicator</th>
            <th scope="col" class="govuk-table__header table-percentage">Suffolk</th>
            <th scope="col" class="govuk-table__header table-percentage">East of England</th>
            <th scope="col" class="govuk-table__header table-percentage">All England</th>
            <!-- <th scope="col" class="govuk-table__header table-comparison">Suffolk compared to East of England</th>
            <th scope="col" class="govuk-table__header table-comparison">Suffolk compared to All England</th> -->
        </thead>
          <tbody>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Beds occupied (all bed types)</th>
              <td class="govuk-table__cell">85%</td>
              <td class="govuk-table__cell">77%</td>
              <td class="govuk-table__cell">86%</td>
              <!-- <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">Higher</strong></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Similar</strong></td> -->
              </tr>
  
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">Dementia nursing beds occupied</th>
          <td class="govuk-table__cell">80%</td>
          <td class="govuk-table__cell">80%</td>
          <td class="govuk-table__cell">89%</td>
          <!-- <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Similar</strong></td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Lower</strong></td> -->

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">General nursing beds occupied</th>
              <td class="govuk-table__cell">100%</td>
              <td class="govuk-table__cell">100%</td>
              <td class="govuk-table__cell">85%</td>
              <!-- <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Similar</strong></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">Higher</strong></td> -->
            </tr>
          </tr>
          </tbody>
          </table>
         
          <p class="govuk-body"><a href="#" class="govuk-link">Explore more occupied adult social care beds data</a></p>
  
     
        <p class="govuk-body">Source: Capacity Tracker, Office for National Statistics<br>
          Data correct as of 5 February 2025<br></p>


          <h3 id="domiciliary-care" class="govuk-heading-m govuk-!-padding-top-9">4. Capacity in domiciliary care sector</h3>

          <p class="govuk-body">Domiciliary care capacity can be measured by the number of care provider locations providing domiciliary care, service users, paid workforce hours, and workers employed in the sector.</p>
          <p class="govuk-body">This is adjusted by the size of adult population for comparing between different geographical areas.</p>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <th scope="col" class="govuk-table__header table-indicator">Indicator</th>
            <th scope="col" class="govuk-table__header table-percentage">Suffolk</th>
            <th scope="col" class="govuk-table__header table-percentage">East of England</th>
            <th scope="col" class="govuk-table__header table-percentage">All England</th>
            <!-- <th scope="col" class="govuk-table__header table-comparison">Suffolk compared to East of England</th>
            <th scope="col" class="govuk-table__header table-comparison">Suffolk compared to All England</th> -->
        </thead>
            <tbody>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Domiciliary care providers per 100,000 adult population</th>
                <td class="govuk-table__cell">24.1</td>
                <td class="govuk-table__cell">21</td>
                <td class="govuk-table__cell">19.5</td>
                <!-- <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">Higher</strong></td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">Higher</strong></td> -->
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">People receiving domiciliary care per 100,000 adult population</th>
                  <td class="govuk-table__cell">640</td>
                  <td class="govuk-table__cell">691</td>
                  <td class="govuk-table__cell">880</td>
                  <!-- <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Similar</strong></td>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Lower</strong></td> -->
                  </tr>
    
            <tr class="govuk-table__row">
            <td class="govuk-table__cell">Workforce hours paid per week (agency workers included) per person receiving domiciliary care</th>
            <td class="govuk-table__cell">62.3</td>
            <td class="govuk-table__cell">59.2</td>
            <td class="govuk-table__cell">55.3</td>
            <!-- <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">Higher</strong></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">Higher</strong></td> -->
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Domiciliary care workers (agency workers included) per 100,000 adult population </th>
                <td class="govuk-table__cell">1,293</td>
                <td class="govuk-table__cell">1,220</td>
                <td class="govuk-table__cell">1,443</td>
                <!-- <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Similar</strong></td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Lower</strong></td> -->
              </tr>
            </tr>
            </tbody>
            </table>
           <!--
            <p class="govuk-body"><a href="" class="govuk-link">Explore more domicilliary care sector data</a></p>
          -->
 
          <p class="govuk-body">Source: Capacity Tracker<br>
            Data correct as of 5 February 2025</p>


     <!-- 
    <h2 id="capacity">
      Capacity in individual care provider locations</h2>

      <p class="govuk-body">Check how your capacity compares with other care providers at local authority, regional and national levels.</p>
    -->
      <!--
      <p class="govuk-body">Care Provider A is a small provider with <strong>20 total beds</strong>, compared to the median (53 beds) in Suffolk.</p>
      
      <p class="govuk-body">Care Provider A has <strong>90% occupancy</strong> for all adult social care beds compared to the median occupancy of all care homes in Suffolk (85%), suggesting limited availability for new admissions.</p>
    -->
     <!-- 
    <h3 class="govuk-heading-s">
      Number of adult social care beds in care provider location</h3>
    -->
      <!--
    <p>You can explore the data to get information on the different bed types provided by Care Provider A, and change comparator group.</p>
    -->
    <!-- <form action="total_beds.html">
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Explore data
      </button>
    </form> -->
    <!--
    <p class="govuk-body">To change the bed types shown in this table, <a href="" class="govuk-class">update your page settings</a>.</p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Location</th>
          <th scope="col" class="govuk-table__header">Care Provider A</th>
          <th scope="col" class="govuk-table__header">Suffolk (median)</th>
          <th scope="col" class="govuk-table__header">East of England region (median)</th>
          <th scope="col" class="govuk-table__header">All England (median)</th>
          <th scope="col" class="govuk-table__header">Care Provider A compared to East of England</th>

        </thead>
        <tbody>
        <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Beds in care provider location</th>
        <td class="govuk-table__cell">20</td>
        <td class="govuk-table__cell">53</td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Higher</strong></td>
        </tr>
        <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Dementia nursing beds</th>
        <td class="govuk-table__cell">15</td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Lower</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">General nursing beds</th>
          <td class="govuk-table__cell">5</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Same</strong></td>
          </tr>
        </tr>
        </tbody>
        </table>

      <p class="govuk-body">For more filter options, <a href="" class="govuk-link">explore more beds in care provider location data</a>.</p>

      <p class="govuk-body">Source: Capacity Tracker<br>
        Data correct as of 5 February 2025<br></p>

      <h3 class="govuk-heading-s">
          Percentage of beds available</h3>
 
        <p>Alongside overall bed numbers, the percentage of available beds in a care provider location indicates availability for new clients.</p>

          <h3 class="govuk-heading-s">
            Percentage of available beds in care provider location</h3>

        <p class="govuk-body">To change the bed types shown in this table, <a href="" class="govuk-class">update your page settings</a>.</p>
    
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Indicator</th>
              <th scope="col" class="govuk-table__header">Care Provider A</th>
              <th scope="col" class="govuk-table__header">Suffolk (median)</th>
              <th scope="col" class="govuk-table__header">East of England region (median)</th>
              <th scope="col" class="govuk-table__header">All England (median)</th>
    
            </thead>
            <tbody>
            <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Beds available for new clients (all bed types)</th>
            <td class="govuk-table__cell">10%</td>
            <td class="govuk-table__cell">15%</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Dementia nursing beds available</th>
            <td class="govuk-table__cell">X%</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">General nursing beds available</th>
              <td class="govuk-table__cell">X%</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              </tr>
            </tr>
            </tbody>
            </table>
    
          <p class="govuk-body">To select a group of care homes to be benchmarked with, <a href="" class="govuk-link">explore more available beds in care provider location data</a>.</p>
    
          <p class="govuk-body">Source: Capacity Tracker<br>
            Data correct as of 5 February 2025<br></p>

            
            <h3 class="govuk-heading-s">
              Capacity indicators for domicillary care providers</h3>
     
            <p>Current domiciliary care capacity at a care provider level can be reflected by the median number of service users and care XXXX provided.</p>
    
              <h3 class="govuk-heading-s">
                Number of service users and total number of paid care XXXX</h3>
    
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Indicator</th>
                  <th scope="col" class="govuk-table__header">Care Provider B</th>
                  <th scope="col" class="govuk-table__header">Suffolk (median)</th>
                  <th scope="col" class="govuk-table__header">East of England region (median)</th>
                  <th scope="col" class="govuk-table__header">All England (median)</th>
        
                </thead>
                <tbody>
                <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Service users</th>
                <td class="govuk-table__cell">10</td>
                <td class="govuk-table__cell">20</td>
                <td class="govuk-table__cell">20</td>
                <td class="govuk-table__cell">20</td>
                </tr>
                <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total paid care XXXX (agency workers included)</th>
                <td class="govuk-table__cell">100</td>
                <td class="govuk-table__cell">300</td>
                <td class="govuk-table__cell">310</td>
                <td class="govuk-table__cell">399</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Workers employed (agency workers included)</th>
                  <td class="govuk-table__cell">2</td>
                  <td class="govuk-table__cell">2</td>
                  <td class="govuk-table__cell">2</td>
                  <td class="govuk-table__cell">2</td>
                  </tr>
                </tr>
                </tbody>
                </table>
        
              <p class="govuk-body">For more comparison options, <a href="" class="govuk-link">explore more capacity indicators for domicillary care providers data</a>.</p>
        
              <p class="govuk-body">Source: Capacity Tracker<br>
                Data correct as of 5 February 2025<br></p>
              -->
                       

    
              <h2 id="footnotes">5. Footnotes</h2>

              <p class="govuk-body">
                Find out how each indicator is defined, sourced, and updated.
              </p>
                  <p class="govuk-body">Select an indicator to view its footnotes:</p>
                  <ol class="govuk-list govuk-list--bullet">
                    <!--
                    <li><a href="../../help/population-size.html" class="govuk-link">Population size</a></li>
                    <li><a href="../../help/population-age.html" class="govuk-link">Percentage of population in age group</a></li>
                    <li><a href="../../help/disability-prevalence.html" class="govuk-link">Disability prevalence</a></li>-->
                    <li><a href="../../help/" class="govuk-link">People providing unpaid care, by hours per week</a></li>
                    <li><a href="../../help/" class="govuk-link">Domiciliary care providers per 100,000 adult population</a></li>
                    <li><a href="../../help/" class="govuk-link">People receiving domiciliary care per 100,000 adult population</a></li>
                    <li><a href="../../help/" class="govuk-link">Workforce hours paid per person receiving domiciliary care</a></li>
                    <li><a href="../../help/" class="govuk-link">Domiciliary care workers per 100,000 adult population</a></li>
                    <li><a href="../../help/beds-per-100000-adult-population.html" class="govuk-link">Adult social care beds per 100,000 adult population</a></li>
                    <li><a href="../../help/percentage-beds-occupied" class="govuk-link">Percentage of adult social care beds occupied</a></li>
                    <li><a href="../../help/beds-care-provider-location" class="govuk-link">Number of adult social care beds in care provider location</a></li>

                  </ol>
        
        
        
              <h2 id="related">6. Related information</h2>
        
                <p class="govuk-body">
                  For more information on capacity, check the latest Market Position Statement and Joint Strategic Needs Assessment. You will usually find these on the local authority's website.
                </p>

  <p class="govuk-body"><a class="govuk-link" href="#">Back </a></p>
    
              </div>
              </div>
    {% endblock %}