{% extends "v4/layouts/data.html" %}

{% set pageName = "Population with disabilities" %}

{% block content %} 
<a href="../dashboard/capacity" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">Demand and capacity</span>
        <h1 class="govuk-heading-l">{{pageName}}</h1>
        <p class="govuk-body">
            This indicator shows the percentage of the population in England who are considered disabled.
        </p>
        <p class="govuk-body">
            Last updated: 27 October 2024
        </p>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" checked>
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                            Show this indicator on your dashboard
                        </label>
                    </div>
                </div>
            </fieldset>
            <h2>Settings</h2>
            <div class="govuk-grid-row" style="margin-bottom:4em">
                <div class="govuk-grid-column-one-third">
                    <!-- 
                    
                    LA picker  
                    
                    -->
                    <div class="govuk-form-group">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--s" for="event-name">
                                Local authority
                            </label>
                        </h1>
                        <input class="govuk-input govuk-input--width-20" id="event-name" name="eventName" type="text" value="Suffolk County Council">
                    </div>
                </div>
                <div class="govuk-grid-column-one-third">
                    <!-- 
                    
                    Date range from
                    
                    -->
                    <!-- <div class="moj-datepicker" data-module="moj-date-picker">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="date">
                                Date range: from 
                            </label>
                            <input class="govuk-input moj-js-datepicker-input " id="date" name="date" type="text" aria-describedby="date-hint" autocomplete="off" value="1/04/2021">
                        </div>
                    </div> -->
                </div>
                <div class="govuk-grid-column-one-third">
                    <!-- 
                    
                    Date range to
                    
                    -->
                    <!-- <div class="moj-datepicker" data-module="moj-date-picker">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="date">
                                Date range: to
                            </label>
                            <input class="govuk-input moj-js-datepicker-input " id="date" name="date" type="text" aria-describedby="date-hint" autocomplete="off" value="1/11/2023">
                        </div>
                    </div> -->
                </div>
            </div>
            <!-- 
            
            Filter column 
            
            -->
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <div class="moj-filter">
                        <div class="moj-filter__header">
                            <div class="moj-filter__header-title">
                                <h2 class="govuk-heading-m">Filter</h2>
                            </div>
                            <div class="moj-filter__header-action">
                            </div>
                        </div>
                        <div class="moj-filter__content">
                            <div class="moj-filter__selected">
                                <div class="moj-filter__selected-heading">
                                    <div class="moj-filter__heading-title">
                                        <h2 class="govuk-heading-m">Selected filters</h2>
                                    </div>
                                    <div class="moj-filter__heading-action">
                                        <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
                                    </div>
                                </div>
                                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Compare other local authorities</h3>
                                <ul class="moj-filter-tags">
                                    <!-- <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Norfolk</a></li> -->
                                    <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Cambridgeshire</a></li>
                                </ul>
                            </div>
                            <div class="moj-filter__options">
                                <button type="submit" class="govuk-button" data-module="govuk-button" data-test-id="submit-button">
                                    Apply filters
                                </button>
                                <!-- 
                                
                                Local authorities 
                                
                                -->
                                <h2>Local authorities</h2>
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-label--s" for="keywords">
                                        Add local authority
                                    </label>
                                    <input class="govuk-input" id="keywords" name="keywords" type="text">
                                </div>
                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                            Selected
                                        </legend>
                                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                            <!-- <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1" checked>
                                                <label class="govuk-label govuk-checkboxes__label" for="type">
                                                    Norfolk
                                                </label>
                                            </div> -->
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2" checked>
                                                <label class="govuk-label govuk-checkboxes__label" for="type-2">
                                                    Cambridgeshire and Peterborough
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 
                
                Main panel 
                
                -->
                <div class="govuk-grid-column-two-thirds">
                    <!--<h2 class="govuk-heading-l">Output</h2>-->
                    <!-- <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h1 class="govuk-fieldset__heading">
                                    Chart type
                                </h1>
                            </legend>
                            <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes" checked>
                                    <label class="govuk-label govuk-radios__label" for="changedName">
                                        Line
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
                                    <label class="govuk-label govuk-radios__label" for="changedName-2">
                                        Bar
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <hr style="color:#e1e1e1"> -->
                    <h2 class="govuk-heading-m">{{pageName}}</h2>
                    <style>
                        .comparison-table{
                            text-align: left;
                            font-family: "GDS Transport", arial, sans-serif;
                            padding-bottom:2em
                        }
                        .comparison-table th{
                            padding: 0 2em 0 0;
                        }
                    </style>
                    <table class="govuk-table">
                        <caption><h3 style="text-align:left">Suffolk County Council</h3></caption>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Under 25</th>
                            <td class="govuk-table__cell">9%
                                <svg viewBox="0 0 50 10" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0" width="50" height="5" rx="1" fill="#FFF" stroke="#e1e1e1"/>
                                    <rect x="0" width="4.5" height="5" rx="1" fill="gold"/>
                                </svg>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Aged 22-64</th>
                            <td class="govuk-table__cell">16%
                                <svg viewBox="0 0 50 10" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0" width="50" height="5" rx="1" fill="#FFF" stroke="#e1e1e1"/>
                                    <rect x="0" width="8" height="5" rx="1" fill="gold"/>
                                </svg>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Over 65</th>
                            <td class="govuk-table__cell">31%
                                <svg viewBox="0 0 50 10" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0" width="50" height="5" rx="1" fill="#FFF" stroke="#e1e1e1"/>
                                    <rect x="0" width="15.5" height="5" rx="1" fill="gold"/>
                                </svg>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">All age groups</th>
                            <td class="govuk-table__cell">18%
                                <svg viewBox="0 0 50 10" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0" width="50" height="5" rx="1" fill="#FFF" stroke="#e1e1e1"/>
                                    <rect x="0" width="9" height="5" rx="1" fill="gold"/>
                                </svg>
                            </td>
                        </tr>
                    </table>
                    <!-- 
                    
                    Table 2 
                    
                    -->
                    <table class="govuk-table">
                        <caption><h3 style="text-align:left">Cambridgeshire and Peterborough</h3></caption>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Under 25</th>
                            <td class="govuk-table__cell">8%
                                <svg viewBox="0 0 50 10" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0" width="50" height="5" rx="1" fill="#FFF" stroke="#e1e1e1"/>
                                    <rect x="0" width="4" height="5" rx="1" fill="gold"/>
                                </svg>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Aged 22-64</th>
                            <td class="govuk-table__cell">14%
                                <svg viewBox="0 0 50 10" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0" width="50" height="5" rx="1" fill="#FFF" stroke="#e1e1e1"/>
                                    <rect x="0" width="7" height="5" rx="1" fill="gold"/>
                                </svg>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Over 65</th>
                            <td class="govuk-table__cell">31%
                                <svg viewBox="0 0 50 10" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0" width="50" height="5" rx="1" fill="#FFF" stroke="#e1e1e1"/>
                                    <rect x="0" width="15.5" height="5" rx="1" fill="gold"/>
                                </svg>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">All age groups</th>
                            <td class="govuk-table__cell">16%
                                <svg viewBox="0 0 50 10" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0" width="50" height="5" rx="1" fill="#FFF" stroke="#e1e1e1"/>
                                    <rect x="0" width="8" height="5" rx="1" fill="gold"/>
                                </svg>
                            </td>
                        </tr>
                    </table>    
                    <p>Source: <a href="#">NOMIS</a></p>
                    <h3>Download options</h3>
                    <ul>
                    <li><a href="" class="govuk-link">Download chart image (PNG)</a></li>
                    <li><a href="" class="govuk-link">Download data (CSV)</a></li>
                    </ul>
                
                <h2 class="govuk-heading-m"><!--&#10024; -->Smart insights (experimental)</h2>
                <div class="govuk-inset-text">
                    These insights are powered by artificial intelligence (AI), which can sometimes be inaccurate. Verify the information with primary sources before sharing or using it. <a class="@ovuk-link" href="">Learn more about smart insights</a>
                </div>
                <h3 class="govuk-heading-s">Insight 1</h3>
                <p class="govuk-body">The proportion of people with disabilities in Suffolk is higher across all age groups compared to Cambridgeshire and Peterborough, except for the 65 and over group, where they show the same rate (31%). Suffolk has a particularly higher percentage among those aged 22–64 (16% vs. 14%).</p>
                <h3 class="govuk-heading-s">How you might use this insight:</h3>
                <ul class="govuk-list govuk-list--bullet">
                    <li><strong>Tailor support services:</strong> Review and enhance disability support services for working-age adults in Suffolk, where the proportion is notably higher.</li>
                    <li><strong>Plan targeted initiatives:</strong> Consider focusing resources on younger populations who may need additional support in education and employment.</li>
                </ul>
                <!---
                <p class="govuk-body"><strong>Rate this smart insight</strong></p>
                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Helpful
                </button>&nbsp;&nbsp;&nbsp;
                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Not helpful
                </button>
                -->
                <h3 class="govuk-heading-s">Insight 2</h3>
                <p class="govuk-body">In Suffolk, Cambridgeshire and Peterborough, the disability rate increases significantly with age, rising from around 9% in those under 25 to 31% in the 65 and over group. This may indicate a growing need for disability-related services for older populations.</p>
                <h3 class="govuk-heading-s">How you might use this insight:</h3>
                <ul class="govuk-list govuk-list--bullet">
                    <li><strong>Adapt care plans for older adults:</strong> Ensure care and support services are designed to address the unique needs of older individuals with disabilities, such as mobility assistance, health management, and social engagement.
                    </li>
                    <li><strong>Enhance preventative measures:</strong> Focus on early intervention strategies, such as promoting healthy lifestyles and fall prevention programmes, to reduce the impact of age-related disabilities over time.</li>
                </ul>
             
                <p class="govuk-body"><a class="govuk-link" href="#">Back</a></p>

            {% endblock %}