<h3>
       Total beds per 100,000 population by local authority</h3>
       <form action="total_beds-edit">
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Edit region
        </button>
      </form>
       <p>
       <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
        <g fill="none">
            <line x1="0" y1="0" x2="20" y2="0" stroke="purple" stroke-width="40" />
        </g>
        </svg>
        Total beds
    </p>
    <p>
        <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
         <g fill="none">
             <line x1="0" y1="0" x2="20" y2="0" stroke="gold" stroke-width="40" />
         </g>
         </svg>
         Dementia residential
     </p>
     <p>
        <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
         <g fill="none">
             <line x1="0" y1="0" x2="20" y2="0" stroke="orange" stroke-width="40" />
         </g>
         </svg>
         Dementia nursing
     </p>


       {% set thisData=[["Suffolk",239,16,64,0],
       ["Cambridgeshire",200,16,45,1],
       ["Essex",172,20,84,2]
       ]  %}
       <!-- <p>{{thisData[1][1]}} works</p> -->
<ul class="govuk-list" style="margin-top:2em">
    <style>
        .svg-bar{display:block}
    </style>
 
    <li>

<p>
        <svg height="360" width="500" xmlns="http://www.w3.org/2000/svg" class="svg-bar">

            <text x="200" y="20">0</text>
            <text x="450" y="20">2,400</text>
            <!-- Horizontal axis -->
            <line x1="200" y1="25" x2="500" y2="25" stroke="grey" stroke-width="2" />
            <!-- Vertical axis -->
            <line x1="200" y1="25" x2="200" y2="360" stroke="grey" stroke-width="2" />
        
            {% for x,y,z,p,q in thisData %}
            <text x="10" y={{55 + q * 100}}>{{x}}</text>

            <g fill="none">
                <line x1="200" y1={{ 50 + q * 100}} x2={{ y + 200}} y2={{ 50 + q * 100}} stroke="purple" stroke-width="20" />
            </g>
  
                <g fill="none">
                    <line x1="200" y1={{ 75 + q * 100}} x2={{z + 200}} y2={{ 75 + q * 100}} stroke="gold" stroke-width="20" />
                </g>

                    <g fill="none">
                        <line x1="200" y1={{100 + q * 100}} x2={{p + 200}} y2={{ 100 + q * 100}} stroke="orange" stroke-width="20" />
                    </g>
                    {% endfor %}
                  </svg> 

     </li>
   

 
</ul>

