{% extends "layouts/data.html" %}

{% set pageName="Adult social care beds per 100,000 adult population" %}

{% block content %} 
<a href="../data-pages/present-demand" class="govuk-back-link">Back</a>
<!-- {{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "../dashboard/index"
},
{
text: "Get data",
href: "../dashboard/get-data"
},
{
text: "Demand and capacity",
href: "../dashboard/capacity"
}
,
{
text: pageName
}
]
}) }} -->
<div class="govuk-grid-row">
  <!-- 
  
  Left column 
  
  -->
  
  <div class="govuk-grid-column-two-thirds">
    <!-- <span class="govuk-caption-l">Demand and capacity</span> -->
    <h1 class="govuk-heading-l">
      <!-- <span class="govuk-caption-m">Demand</span> -->
      {{pageName}}</h1>
      <!-- 
      
      Main content
      
      -->
      <h2 id="definition">Indicator definition and supporting information</h2>
      <p class="govuk-body">
        The total number of beds recorded by care providers across health and adult social care, adjusted to a rate of 100,000 adults in the local authority population.
      </p>
      <p class="govuk-body">
        For detailed information about this indicator, including data definitions, data source, update schedule and limitations to be aware of being using this data, go to
        <a href="../0-3/help/beds-per-100000-people.html" class="govuk-link">supporting information for this data</a>.</li>
      </p>
      <h2>
        Your selected locations
      </h2>
      <p>Select locations to view and compare data.</p>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Locations</th>
            <td class="govuk-table__cell">
              <ul class="govuk-list" style="text-align: left;">
                <li>Greenfields Care Home</li>
                <li>Suffolk</li>
                <li>East of England</li>
              </ul>
            </td>
            <td class="govuk-table__cell">
              <a href="present-demand-locations">Change</a>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- 
      
      Local authorities 
      
      -->
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#chart">
              Chart
            </a>
          </li>
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#time-series">
              Time series
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#map">
              Map
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#table">
              Table
            </a>
          </li>
        </ul>
        <!-- 
        
        Panels 
        
        -->
        <div class="govuk-tabs__panel" id="chart">
          <h2>Chart</h2>
          <table class="govuk-table">
            <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Filters</th>
            <td class="govuk-table__cell">
              <ul class="govuk-list" style="text-align: left;">
                <li>Total beds</li>
                <li>Dementia Nursing</li>
                <li>Dementia Residential</li>
              </ul>
            </td>
          <td class="govuk-table__cell">
            <a href="total_beds-edit-filters">Change</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Chart format</th>
          <td class="govuk-table__cell" style="text-align: left;">
            Bar chart
          </td>
        <td class="govuk-table__cell">
          <a href="total_beds-edit-filters">Change</a>
        </td>
      </tr>
            </tbody>
          </table>
          {% include "./_beds_by_la.html" %}
          <p class="govuk-body"><a href="" class="govuk-link">Download chart image (PNG)</a><br>
            <a href="" class="govuk-link">Download table data (CSV)</a>
            <p class="govuk-body">Source: Capacity Tracker<br>
              Data correct as of 24 December 2024<br>
              <a href="../0-3/help/beds-per-100000-people.html" class="govuk-link">View supporting information for this data</a></p>
            </div>
            <!-- 
            
            Time series 
            
            -->
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="time-series">
              <h2>Time series</h2>
              {% include "./_time-series.html" %}
            </div>
            <!-- 
            
            Map 
            
            -->
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="map">
              <h2>
                Map
              </h2>
              <table class="govuk-table">
                <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Filter</th>
                <td class="govuk-table__cell">
                  <ul class="govuk-list" style="text-align: left;">
                    <li>Total beds</li>
                  </ul>
                </td>
              <td class="govuk-table__cell">
                <a href="total_beds-edit-filters">Change</a>
              </td>
            </tr>
                </tbody>
              </table>
              <p>Map goes here!</p>
            </div>
            <!-- 
            
            Table 
            
            -->
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="table">
              <h2 id="total">Table</h2>
              <table class="govuk-table">
                <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Filters</th>
                <td class="govuk-table__cell">
                  <ul class="govuk-list" style="text-align: left;">
                    <li>Total beds</li>
                    <li>Dementia Nursing</li>
                    <li>Dementia Residential</li>
                  </ul>
                </td>
              <td class="govuk-table__cell">
                <a href="total_beds-edit-filters">Change</a>
              </td>
            </tr>
                </tbody>
              </table>
              <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--s">Total beds per 100,000 adult population at 24 December 2024</caption>
                <thead class="govuk-table__head">
                  <style>
                    th:nth-child(2),th:nth-child(3), th:nth-child(4), td:nth-child(2),td:nth-child(3), td:nth-child(4) {
                      text-align: right;
                    }
                  </style>
                  <th scope="col" class="govuk-table__header">Location</th>
                  <th scope="col" class="govuk-table__header">Suffolk</th>
                  <th scope="col" class="govuk-table__header">East of England region</th>
                  <th scope="col" class="govuk-table__header">All England</th>
                </thead>
                <tbody>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Total beds</td>
                    <td class="govuk-table__cell">2,398.4</td>
                    <td class="govuk-table__cell">1,969.5</td>
                    <td class="govuk-table__cell">2,088.2</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Dementia nursing</td>
                    <td class="govuk-table__cell">160.1</td>
                    <td class="govuk-table__cell">126.0</td>
                    <td class="govuk-table__cell">182.1</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Dementia residential</td>
                    <td class="govuk-table__cell">648.8</td>
                    <td class="govuk-table__cell">486.6</td>
                    <td class="govuk-table__cell">432.8</td>
                  </tr>
                </tbody>
              </table>
              <p class="govuk-body">
                <a href="#" class="govuk-link">Download table data (CSV)</a>
                <p class="govuk-body">Source: Capacity Tracker<br>
                  Data correct as of 24 December 2024<br>
                  <a href="../0-3/help/beds-per-100000-people.html" class="govuk-link">View supporting information for this data</a></p>
                </div>
              </div>
              <p class="govuk-body"><a class="govuk-link" href="#">Back </a></p>
              
              {% endblock%}