{% extends "v6/layouts/logged-in.html" %}

{% set titleH1 = "Accessibility statement for Get adult social care data" %} {% block pageTitle %} {{titleH1}} - {{serviceName}} - GOV.UK {% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">Accessibility statement for Get adult social care data</h1>

          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-visually-hidden">Warning</span>
              This is placeholder content created for prototyping and demonstration purposes only. It is not a real accessibility statement and does not reflect the actual accessibility status of the Get adult social care data service.
            </strong>
          </div>

          <p class="govuk-body">This accessibility statement applies to the Get adult social care data service.</p>

          <p class="govuk-body"> This service is run by the Department for Health and Social Care (DHSC). We want as many people as possible to be able to use this service. For example, that means you should be able to:</p>

          <ul class="govuk-list govuk-list--bullet">
          <li>change colours, contrast levels and fonts using browser or device settings</li>
          <li>zoom in up to 400% without the text spilling off the screen</li>
          <li>navigate most of the service using a keyboard or speech recognition software</li>
          <li>listen to most of the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>

          </ul>
            
          <p class="govuk-body">We have also made the text in the service as simple as possible to understand.</p>

          <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

            <h2 class="govuk-heading-m">How accessible this service is</h2>
          
            <p class="govuk-body">This service is fully compliant with the <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link">Web Content Accessibility Guidelines version 2.2</a> AA standard.</p>

              <p class="govuk-body">There are no known accessibility issues within this service.</p>

            <h2 class="govuk-heading-m">Feedback and contact information</h2>

          <p class="govuk-body">We are always looking to improve the accessibility of this service. If you find any problems not listed on this page or think we are not meeting accessibility requirements, email <a href="mailto:gascd.enquiries@dhsc.gov.uk" class="govuk-link">gascd.enquiries@dhsc.gov.uk</a>.</p>

          <h2 class="govuk-heading-m">Enforcement procedure</h2>

          <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>

          <p class="govuk-body">If you are not happy with how we respond to your complaint, contact the:
          
            </p><ul class="govuk-list govuk-list--bullet">
              <li><a href="https://www.equalityadvisoryservice.com/" class="govuk-link">Equality Advisory and Support Service (EASS)</a> if you live in England, Scotland or Wales</li>
              <li><a href="https://www.equalityni.org/Home" class="govuk-link">Equality Commission for Northern Ireland (ECNI)</a> if you live in Northern Ireland</li>
            </ul>
            <p></p>

          <h2 class="govuk-heading-m">Technical information about this service's accessibility</h2>

          <p class="govuk-body">DHSC is committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

          <h3 class="govuk-heading-s">Compliance status</h3>

          <p class="govuk-body">The service has been tested against the Web Content Accessibility Guidelines (WCAG) 2.2 AA standard.</p>

          <p class="govuk-body">This service is fully compliant with the <a href="https://www.w3.org/TR/WCAG22/" class="govuk-link">Web Content Accessibility Guidelines version 2.2</a> AA standard.</p>

          <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>

          <p class="govuk-body">This statement was prepared on 3 March 2025. It was last reviewed on 3 March 2025.</p>

          <p class="govuk-body">The service was last tested on X February 2025 against the WCAG 2.2 AA Standard.</p>
            
          <p class="govuk-body">The test was carried out by Made Tech using both automated and manual testing.</p>
     
    </div>

</div>

{% endblock %}
