{% extends "v6/layouts/logged-in.html" %}

{% block content %}
<style>

  /* Edits to the GOV.UK Design System service navigation component https://design-system.service.gov.uk/components/service-navigation) to make it work in our custom service header */
  .govuk-service-navigation__item-start {
    margin-left: auto;
  }
  
  .govuk-service-navigation__link-change {
    padding-left: 10px;
  }

  /* The 'Menu' component used on GOV.UK (https://www.gov.uk) */

  /* Button - :before */
  .gem-c-layout-super-navigation-header__navigation-top-toggle-button .gem-c-layout-super-navigation-header__navigation-top-toggle-button-inner {
    padding: 0;
  }
  /* @media(min-width: 40.0625em) { */
  @media(min-width: 22.5em) {
    .gem-c-layout-super-navigation-header__navigation-top-toggle-button .gem-c-layout-super-navigation-header__navigation-top-toggle-button-inner {
      padding: 5px 15px;
    }

    .gem-c-layout-super-navigation-header__navigation-top-toggle-button .gem-c-layout-super-navigation-header__navigation-top-toggle-button-inner::before {
      color: #1a65a6;
      -webkit-transform: translateY(-35%) rotate(45deg) scale(1);
      -ms-transform: translateY(-35%) rotate(45deg) scale(1);
      transform: translateY(-35%) rotate(45deg) scale(1);
      border-bottom: 2px solid #1a65a6;
      border-right: 2px solid #1a65a6;
      content: "";
      display: inline-block;
      height: 8px;
      margin: 0 10px 0 2px;
      vertical-align: middle;
      width: 8px;
    }
  }

  /* Button */
  .gem-c-layout-super-navigation-header__navigation-top-toggle-button {
    font-family: "GDS Transport", arial, sans-serif;
    font-weight: 400;
    background: none;
    background-color: #f4f8fb;
    color: #1a65a6;
    border: none;
    text-size-adjust: 100%;
    outline: inherit;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration-thickness: max(1px, .0625rem);
    text-underline-offset: 0.1578em;
    cursor: pointer;
    text-align: -webkit-match-parent;
    list-style: none;
    padding: 0;
  }
  @media (min-width: 40.0625em) {
    .gem-c-layout-super-navigation-header__navigation-top-toggle-button {
      line-height: 1.5263157895;
      font-size: 1.1875rem;
    }
  }  

  /* Main service 'Menu' section  */
  .gem-c-layout-super-navigation-header__navigation-dropdown-menu {
    background: #f4f8fb;
    border-bottom: 1px #b1b4b6 solid;
    padding-top: 30px;
  }
  @media(max-width: 18.75em) {
    .gem-c-layout-super-navigation-header__navigation-dropdown-menu {
      padding-top: 80px;
    }
  }
  @media(min-width: 48.0625em) {
    .gem-c-layout-super-navigation-header__navigation-dropdown-menu {
      padding-top: 50px;
    }
  }

  .gem-c-layout-super-navigation-header__column-header {
    font-size: 24px;
  }

  .gem-c-layout-super-navigation-header__navigation-second-items {
    list-style: none;
    margin: 0;
    padding: 15px 25px 25px 0;
  }
  @media(min-width: 48.0625em) {
    .gem-c-layout-super-navigation-header__navigation-second-items {
      /* margin: 0 -15px 60px; */
      margin: 0 -15px 20px;
      padding: 10px 0 0 0;
    }
  }

  @media(max-width: 48.0525em) {
    .gem-c-layout-super-navigation-header__navigation-second-items--services-and-information {
      border-bottom: 1px solid #b1b4b6;
    }
  }
  @media(min-width: 48.0625em) {
    .gem-c-layout-super-navigation-header__navigation-second-items--services-and-information {
      display:-ms-grid;
      display: grid;
      grid-auto-flow: column;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      /* -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
      -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .gem-c-layout-super-navigation-header__navigation-second-items--services-and-information>li:nth-child(1) {
      -ms-grid-column: 1;
      -ms-grid-row: 1;
    }
    .gem-c-layout-super-navigation-header__navigation-second-items--services-and-information>li:nth-child(2) {
      -ms-grid-column: 1;
      -ms-grid-row: 2;
    }
    .gem-c-layout-super-navigation-header__navigation-second-items--services-and-information>li:nth-child(3) {
      -ms-grid-column: 1;
      -ms-grid-row: 3;
    }
    .gem-c-layout-super-navigation-header__navigation-second-items--services-and-information>li:nth-child(4) {
      -ms-grid-column: 1;
      -ms-grid-row: 4;
    }
    .gem-c-layout-super-navigation-header__navigation-second-items--services-and-information>li:nth-child(5) {
      -ms-grid-column: 1;
      -ms-grid-row: 5;
    }
    .gem-c-layout-super-navigation-header__navigation-second-items--services-and-information>li:nth-child(6) {
      -ms-grid-column: 1;
      -ms-grid-row: 6
    }
    .gem-c-layout-super-navigation-header__navigation-second-items--services-and-information>li:nth-child(7) {
      -ms-grid-column: 1;
      -ms-grid-row: 7;
    }
    .gem-c-layout-super-navigation-header__navigation-second-items--services-and-information>li:nth-child(8) {
        -ms-grid-column: 1;
        -ms-grid-row: 8;
    }
    /* .gem-c-layout-super-navigation-header__navigation-second-items--services-and-information>li:nth-child(9) {
        -ms-grid-column: 2;
        -ms-grid-row: 1;
    }
    .gem-c-layout-super-navigation-header__navigation-second-items--services-and-information>li:nth-child(10) {
        -ms-grid-column: 2;
        -ms-grid-row: 2;
    }
    .gem-c-layout-super-navigation-header__navigation-second-items--services-and-information>li:nth-child(11) {
        -ms-grid-column: 2;
        -ms-grid-row: 3;
    }
    .gem-c-layout-super-navigation-header__navigation-second-items--services-and-information>li:nth-child(12) {
        -ms-grid-column: 2;
        -ms-grid-row: 4;
    }
    .gem-c-layout-super-navigation-header__navigation-second-items--services-and-information>li:nth-child(13) {
        -ms-grid-column: 2;
        -ms-grid-row: 5;
    }
    .gem-c-layout-super-navigation-header__navigation-second-items--services-and-information>li:nth-child(14) {
        -ms-grid-column: 2;
        -ms-grid-row: 6;
    }
    .gem-c-layout-super-navigation-header__navigation-second-items--services-and-information>li:nth-child(15) {
        -ms-grid-column: 2;
        -ms-grid-row: 7;
    }
    .gem-c-layout-super-navigation-header__navigation-second-items--services-and-information>li:nth-child(16) {
        -ms-grid-column: 2;
        -ms-grid-row: 8;
    } */
  }

  .gem-c-layout-super-navigation-header__dropdown-list-item {
    box-sizing: border-box;
    padding: 0 0 15px 0;
    position: relative;
    margin: 0 0 10px 0;
  }
  @media(min-width: 48.0625em) {
    .gem-c-layout-super-navigation-header__dropdown-list-item {
      padding: 0 0 15px 0;
      margin: 0 15px 5px 15px;
    }
  }

  .gem-c-layout-super-navigation-header__navigation-second-item-link {
    font-size: 16px;
    font-size: 1rem;
    font-weight: bold;
  }
  @media(min-width: 48.0625em) {
    .gem-c-layout-super-navigation-header__navigation-second-item-link {
      padding: 0;
    }

    .gem-c-layout-super-navigation-header__navigation-second-item-link::after {
      background: none;
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .gem-c-layout-super-navigation-header__navigation-second-item-link::after {
    background: none;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .gem-c-layout-super-navigation-header__navigation-second-item-link--with-description {
    font-size: 16px;
    font-size: 1rem;
    font-weight: bold;
  }
  .gem-c-layout-super-navigation-header__navigation-second-item-link--with-description::after {
    background: none;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: calc(100% - 20px);
  }

</style>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Get adult social care data</h1>
    <p class="govuk-body-l">Access the latest data on adult social care capacity and population needs across England.</p>
    <h2 class="govuk-heading-m govuk-!-margin-top-7">Adult social care capacity</h2>
  </div>

</div>

<div class="govuk-grid-row">
        
  <div class="govuk-grid-column-one-half">
    <a href="../landing-pages/care-home-capacity/care-homes" class="app-card">
      <h3 class="govuk-heading-m app-card__heading">Care home capacity data</h3>
      <p class="govuk-body">Find and compare capacity data for residential care homes and nursing homes.</p>
    </a>
  </div>  
      
  <div class="govuk-grid-column-one-half" data-message="Sorry, this hasn’t been designed yet">
    <a href="#" class="app-card">
      <h3 class="govuk-heading-m app-card__heading" data-message="Sorry, this hasn’t been designed yet">Domiciliary care capacity data</h3>
      <p class="govuk-body" data-message="Sorry, this hasn’t been designed yet">Explore capacity data for home care, supported housing, supported living and shared lives schemes.</p>
    </a>
  </div>

</div>

<!-- <div class="govuk-grid-row">
    
  <div class="govuk-grid-column-one-half">
    <a href="#" class="app-card">
      <h3 class="govuk-heading-m app-card__heading">Unpaid care</h3>
      <p class="govuk-body">Explore data and insights about people providing unpaid care to adults.</p>
    </a>
  </div>  
  
  <div class="govuk-grid-column-one-half">
    <a href="#" class="app-card">
      <h3 class="govuk-heading-m app-card__heading">Current market and provision</h3>
      <p class="govuk-body">Assess the local care market, including provider availability, occupancy levels and service quality.</p>
    </a>
  </div>
    
</div> -->

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-margin-top-7">Population needs</h2>
  </div>

  <div class="govuk-grid-column-one-half">
    <a href="../landing-pages/current-population-needs/index" class="app-card">
      <h3 class="govuk-heading-m app-card__heading">Current population needs</h3>
      <p class="govuk-body">Assess data on a range of factors shaping current population needs for adult social care.</p>
    </a>
  </div>  
      
  <div class="govuk-grid-column-one-half" data-message="Sorry, this hasn’t been designed yet">
    <a href="#" class="app-card">
      <h3 class="govuk-heading-m app-card__heading" data-message="Sorry, this hasn’t been designed yet">Future population needs</h3>
      <p class="govuk-body" data-message="Sorry, this hasn’t been designed yet">Identify potential future needs for adult social care services based on projected population changes.</p>
    </a>
  </div>

</div>

<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-margin-top-7">Supporting information</h2>
    <h3 class="govuk-heading-m"><a href="../help/user-guide">User guide</a></h3>
    <p class="govuk-body">Find out more about the service. Learn how data sources are used to create indicators for adult social care capacity and population needs.</p>
  </div>

</div>
{% endblock %}