<div id="dhsc-filter--action8" class="dhsc-filter--action">
  <button id="dhsc-filter--button8" class="govuk-button" type="button" aria-expanded="false" aria-controls="dhsc-filter--content8">
    <span id="dhsc-filter--button-content8" class="dhsc-filter--button-content">Filters</span>
    <i id="dhsc-filter--icon8" class="fa fa-plus" aria-hidden="true"><span id="dhsc-filter--icon8-content" class="govuk-visually-hidden">Open</span></i>
  </button>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <div id="dhsc-filter--content8" class="dhsc-filter--content" aria-labelledby="dhsc-filter--button8">

      <form action="data-update-filters8" method="post" novalidate>

        <div class="govuk-grid-row">
          
          <div class="govuk-grid-column-one-third dhsc-filter--section-spacer-for-mobile">
            {% include "./_3-age-groups.html" %}
          </div>

          <div class="govuk-grid-column-one-third govuk-grid-column-one-third-searchable-checkboxes-section">
            {% include "./_3-primary-support-reason.html" %}
          </div>

        </div>

        <div class="govuk-grid-row govuk-!-margin-top-4">

          <div class="govuk-grid-column-full">

            <div class="govuk-button-group">
              <button id="update-filters8" type="submit" class="govuk-button" data-module="govuk-button" name="filterApplied8" value="Yes">Apply</button>
              {% if data.filterApplied8 %}
              <a href="?filterApplied8=&ageGroup8=&primarySupportReason8=#data3" class="govuk-link">Clear all</a>
              {% endif %}
            </div>
            
          </div>

        </div>

      </form>

    </div>

  </div>

</div>
{% if data.filterApplied8 %}

<div class="app-c-filter-summary">
  <h5 class="app-c-filter-summary__heading">Active filters</h5>
  <ul class="app-c-filter-summary__remove-filters">
    {% if data.ageGroup8 != "All age groups" %}
    <li id="ageGroup8-remove">
      <a class="app-c-filter-summary__remove-filter" href="#">
        <span>
          <span class="govuk-visually-hidden">Remove filter</span>
          Age group: {{data.ageGroup8}}
        </span>
      </a>
    </li>
    {% endif %}
    {% for param in data.primarySupportReason8 %}
    {% if param == "Learning disability support" %}
    <li id="primarySupportReason8_1-remove">
      <a class="app-c-filter-summary__remove-filter" href="#">
        <span>
          <span class="govuk-visually-hidden">Remove filter</span>
          Primary support reason: Learning disability support
        </span>
      </a>
    </li>
    {% endif %}
    {% if param == "Mental health support" %}
    <li id="primarySupportReason8_2-remove">
      <a class="app-c-filter-summary__remove-filter" href="#">
        <span>
          <span class="govuk-visually-hidden">Remove filter</span>
          Primary support reason: Mental health support
        </span>
      </a>
    </li>
    {% endif %}
    {% if param == "Physical support: Access and mobility only" %}
    <li id="primarySupportReason8_3-remove">
      <a class="app-c-filter-summary__remove-filter" href="#">
        <span>
          <span class="govuk-visually-hidden">Remove filter</span>
          Primary support reason: Physical support: Access and mobility only
        </span>
      </a>
    </li>
    {% endif %}
    {% if param == "Physical support: Personal care support" %}
    <li id="primarySupportReason8_4-remove">
      <a class="app-c-filter-summary__remove-filter" href="#">
        <span>
          <span class="govuk-visually-hidden">Remove filter</span>
          Primary support reason: Physical support: Personal care support
        </span>
      </a>
    </li>
    {% endif %}
    {% if param == "Sensory support: Support for dual impairment" %}
    <li id="primarySupportReason8_5-remove">
      <a class="app-c-filter-summary__remove-filter" href="#">
        <span>
          <span class="govuk-visually-hidden">Remove filter</span>
          Primary support reason: Sensory support: Support for dual impairment
        </span>
      </a>
    </li>
    {% endif %}
    {% if param == "Sensory support: Support for hearing impairment" %}
    <li id="primarySupportReason8_6-remove">
      <a class="app-c-filter-summary__remove-filter" href="#">
        <span>
          <span class="govuk-visually-hidden">Remove filter</span>
          Primary support reason: Sensory support: Support for hearing impairment
        </span>
      </a>
    </li>
    {% endif %}
    {% if param == "Sensory support: Support for visual impairment" %}
    <li id="primarySupportReason8_7-remove">
      <a class="app-c-filter-summary__remove-filter" href="#">
        <span>
          <span class="govuk-visually-hidden">Remove filter</span>
          Primary support reason: Sensory support: Support for visual impairment
        </span>
      </a>
    </li>
    {% endif %}
    {% if param == "Social support: Asylum seeker support" %}
    <li id="primarySupportReason8_8-remove">
      <a class="app-c-filter-summary__remove-filter" href="#">
        <span>
          <span class="govuk-visually-hidden">Remove filter</span>
          Primary support reason: Social support: Asylum seeker support
        </span>
      </a>
    </li>
    {% endif %}
    {% if param == "Social support: Substance misuse support" %}
    <li id="primarySupportReason8_9-remove">
      <a class="app-c-filter-summary__remove-filter" href="#">
        <span>
          <span class="govuk-visually-hidden">Remove filter</span>
          Primary support reason: Social support: Substance misuse support
        </span>
      </a>
    </li>
    {% endif %}
    {% if param == "Social support: Support for social isolation or other reason" %}
    <li id="primarySupportReason8_10-remove">
      <a class="app-c-filter-summary__remove-filter" href="#">
        <span>
          <span class="govuk-visually-hidden">Remove filter</span>
          Primary support reason: Social support: Support for social isolation or other reason
        </span>
      </a>
    </li>
    {% endif %}
    {% if param == "Support with memory and cognition" %}
    <li id="primarySupportReason8_11-remove">
      <a class="app-c-filter-summary__remove-filter" href="#">
        <span>
          <span class="govuk-visually-hidden">Remove filter</span>
          Primary support reason: Support with memory and cognition
        </span>
      </a>
    </li>
    {% endif %}
    {% if param == "Unknown" %}
    <li id="primarySupportReason8_12-remove">
      <a class="app-c-filter-summary__remove-filter" href="#">
        <span>
          <span class="govuk-visually-hidden">Remove filter</span>
          Primary support reason: Unknown
        </span>
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

  <div>
    <a class="govuk-link govuk-link--no-visited-state" href="?filterApplied8=&ageGroup8=&primarySupportReason8=#data3">Clear all filters</a>
  </div>

</div>
{% endif %}