{% extends "v8/layouts/signed-in.html" %}

{% set pageName = "Number of adults receiving community social care" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../../../home"
    },
    {
      text: "Care provision",
      href: "../subtopics"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">{{pageName}}</h1>
    <p class="govuk-body-l">Data on the number of people supported through community social care, including trends over time.</p>

    <div class="govuk-form-group">
      <h2 class="govuk-heading-l govuk-!-margin-top-9">Data overview</h2>
      <!-- <p class="govuk-body">Data overview summary information, e.g. broad guidance.</p> -->
      {% include "./filters/_page-filter-component.html" %}
    </div>

  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <div class="data-box govuk-form-group">

      <div class="govuk-tabs" data-module="govuk-tabs">

        <div class="govuk-form-group">
          <h3 class="govuk-heading-m">Number of adults receiving community social care</h3>
          <p class="govuk-body">Find out <a href="../../../help/number-people-receiving-care-from-community-social-care-provider">how the number of people receiving community social care is calculated</a>.</p>
        </div>

        <h3 class="govuk-tabs__title">Contents</h3>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data-table">Table</a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data-download">Download</a>
          </li>
        </ul>

        <div class="govuk-tabs__panel" id="data-table">
          {% include "./data-visualisations/_1-table.html" %}
        </div>

        <div class="govuk-tabs__panel" id="data-download">
          <h4 class="govuk-heading-s">Download</h4>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="/public/downloads/v8/residential-care/number-of-adults-receiving-community-social-care/table-1-number-of-adults-receiving-community-social-care.csv">Export table data (CSV)</a>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </div>

</div>

{% if data.selectedServiceType == "Community social care" %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l govuk-!-margin-top-9">Trends</h2>
    <!-- <p class="govuk-body">Trends summary information, e.g. limitation.</p> -->
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <div class="data-box govuk-form-group">

      <div class="govuk-tabs" data-module="govuk-tabs">
            
        <div class="govuk-form-group">
          <h3 class="govuk-heading-m">Proportion of community social care delivered by {{data.selectedLocationName or 'Station Road Centre (Sudbury)'}}</h3>
          <p class="govuk-body">Find out <a href="../../../help/number-people-receiving-care-from-community-social-care-provider">how the number of people receiving community social care is calculated</a>.</p>
        </div>

        <h3 class="govuk-tabs__title">Contents</h3>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#trend-chart">Graph</a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#trend-table">Table</a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#trend-download">Download</a>
          </li>
        </ul>

        <div class="govuk-tabs__panel" id="trend-chart">
          {% include "./data-visualisations/_2-time-series.html" %}
        </div>

        <div class="govuk-tabs__panel" id="trend-table">
          {% include "./data-visualisations/_2-table.html" %}
        </div>

        <div class="govuk-tabs__panel" id="trend-download">
          <h4 class="govuk-heading-s">Download</h4>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="/public/downloads/v8/residential-care/number-of-adults-receiving-community-social-care/chart-2-proportion-of-community-social-care-delivered.png">Download chart image (PNG)</a>
            </li>
            <li>
              <a class="govuk-link" href="/public/downloads/v8/residential-care/number-of-adults-receiving-community-social-care/table-2-proportion-of-community-social-care-delivered.csv">Export table data (CSV)</a>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </div>

</div>
{% endif %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l govuk-!-margin-top-9">Data indicator details</h2>
    <p class="govuk-body">Use the link to view details on the data source, how the data was collected and any limitations to consider when using the data.</p>

    <div class="gem-c-cards">
      <ul class="gem-c-cards__list gem-c-cards__list--one-column">
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../../../help/number-people-receiving-care-from-community-social-care-provider">Number of people receiving care from a community social care provider</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: Capacity Tracker.<br>Daily updates, limitations apply.</p>
          </div>

        </li>
      </ul>
    </div>

    <h2 class="govuk-heading-l govuk-!-margin-top-9">Information on the local care market</h2>
    <p class="govuk-body"><a href="#" class="govuk-link" data-message="This link would take you to the Market Position Statement on the Suffolk LA website.">Market Position Statement for Suffolk (opens in new tab)</a></p>
    <p class="govuk-body">Most <abbr title="Local Authority">LA</abbr>s in England publish Market Position Statements (MPS) to help care providers understand the local care market.</p>
    <p class="govuk-body">You can usually find these <abbr title="Market Position Statement">MPS</abbr> documents on <abbr title="Local Authority">LA</abbr> websites.</p>
    <p class="govuk-body"><abbr title="Market Position Statement">MPS</abbr> documents include information on:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>supply and demand in the local care market</li>
      <li>forecasts of future supply and demand for adult social care services</li>
      <li>how the <abbr title="Local Authority">LA</abbr> will support the local care market to meet demand</li>
      <li>how the <abbr title="Local Authority">LA</abbr> will engage with care providers on challenges in the sector, such as funding pressures</li>
    </ul>

    <div data-sticky-element class="gem-c-contents-list-with-body__link-wrapper govuk-!-margin-top-9">

      <div class="gem-c-contents-list-with-body__link-container">
        <a class="govuk-link gem-c-back-to-top-link govuk-!-display-none-print" href="#top">
          <svg class="gem-c-back-to-top-link__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>
          Back to top
        </a>
      </div>

    </div>

  </div>

</div>
{% endblock %}

{% block pageScripts %}
<!-- Filters (progressive enhancement) code that loads and controls the dynamic filters for this page -->
<script src="/public/javascripts/v8/filters.js"></script>
<!-- Font Awesome 4 icons for the notifications -->
<link href="/public/open-source/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
{% endblock %}