{% extends "private-beta/2025/august/layouts/signed-in.html" %}

{% set pageName = "Current population needs and capacity" %}

{% block beforeContent %}
<a href="../index" class="govuk-back-link" >Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <nav>
      <h2 class="govuk-heading-s">Contents</h2>
      {% set items =
        [
          { link: "#settings", heading: "Your selected locations" },
          { link: "#drivers", heading: "Drivers of population needs" },
          { link: "#capacity-la", heading: "Current capacity – care homes: local authority-level insights" },
          { link: "#capacity-cp", heading: "Current capacity – care homes: care provider-level insights" },
          { link: "#definition", heading: "Indicator definitions and supporting information" },
          { link: "#market-position-statement", heading: "Find more information on your local care market" },
          { link: "#feedback", heading: "Give your feedback" }
        ]
      %}
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#summary" class="govuk-link">Introduction</a></li>
        {% for item in items %}
        <li><a href="{{item.link}}" class="govuk-link">{{item.heading}}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  
  <div class="govuk-grid-column-two-thirds">
      <!-- <span class="govuk-caption-l">Demand and capacity</span> -->
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      <h2 class="govuk-heading-m govuk-!-margin-top-9" id="summary">Introduction</h2>
      <p class="govuk-body">Understanding current population needs and capacity for adult social care services helps identify where needs are being met and where gaps may exist.</p>
      <p class="govuk-body">Here you can explore factors driving local population needs and find insights into current capacity to meet those needs.</p>



      <h2 class="govuk-heading-m govuk-!-margin-top-9" id="settings">Your selected locations</h2>
      <p class="govuk-body">Select locations to view and compare data.</p>
      <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Selected locations</dt>
              <dd class="govuk-summary-list__value">Care Provider A, Suffolk, East of England</dd>
              <dd class="govuk-summary-list__actions"><a href="present-demand-locations" class="govuk-link">Change<span class="govuk-visually-hidden"> selected location</span></a></dd>
          </div>

      </dl>

      <h2 class="govuk-heading-m govuk-!-margin-top-9" id="drivers">Drivers of population needs</h2>
      <p class="govuk-body">Population needs for adult social care are influenced by a range of factors, including the population&#39;s age structure, disability profile and rate of dementia diagnosis.</p>
      <p class="govuk-body">Areas with a higher proportion of older adults, people with disabilities or rates of dementia diagnosis typically experience greater pressure on services.</p>
      <p class="govuk-body">Suffolk has a <strong>larger proportion of people aged 65 and over (18&#37;) compared to the national average (7&#37;)</strong>. This suggests the need for care services adjusted by population size in this local authority may be higher than average.</p>

      <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--s govuk-!-margin-top-7">Table comparing population size and age in Suffolk to regional and national statistics</caption>
          <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Filter</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Suffolk</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">East of England</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">England</th>
              </tr>
          </thead>
          <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Total adult population</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">173,241</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">5,183,241</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">55,286,249</td>
              </tr>
              <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Aged 18 to 64</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">57.0&#37;</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">58.4&#37;</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">61.4&#37;</td>
              </tr>
              <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Aged 65 and over</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">23.1&#37;</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">23.0&#37;</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">19.8&#37;</td>
              </tr>
              <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Aged 75 and over</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">11.5&#37;</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">12.2&#37;</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">9.7&#37;</td>
              </tr>
              <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Aged 85 and over</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">3.1&#37;</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">2.8&#37;</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">2.5&#37;</td>
              </tr>

          </tbody>
      </table>

      <div class="govuk-form-group">
          <p class="govuk-body"><a href="#" class="govuk-link">Download table data (CSV)</a></p>
          <p class="govuk-body">
              Source: Population estimates from the Office for National Statistics (ONS)
              <br>
              Data correct as of 5 February 2025
          </p>
      </div>

      <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--s govuk-!-margin-top-7">Table comparing economic indicators in Suffolk to regional and national statistics</caption>
          <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Filter</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Suffolk</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">East of England</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">England</th>
              </tr>
          </thead>
          <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Households where the property is owned outright (with no mortgage)</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">23&#37;</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">27&#37;</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">32&#37;</td>
              </tr>
              <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Households that are &lsquo;deprived in 4 dimensions&rsquo;</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">14.2&#37;</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">9.3&#37;</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">10.0&#37;</td>
              </tr>



          </tbody>
      </table>

      <details class="govuk-details">
          <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                  What &lsquo;deprived in 4 dimensions&rsquo; means
              </span>
          </summary>
          <div class="govuk-details__text">
              A household is &lsquo;deprived in 4 dimensions&rsquo; if all the following apply:</p>
              <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                  <li>no one in the household has at least level 2 education and no one aged 16 to 18 years is a full-time student</li>
                  <li>any household member is unemployed or economically inactive due to long-term sickness or disability, and is not a full-time student</li>
                  <li>any household member is disabled</li>
                  <li>the household&rsquo;s accommodation is overcrowded, in a shared dwelling or has no central heating</li>
              </ul>
          </div>
      </details>

      <div class="govuk-form-group">
          <p class="govuk-body"><a href="#" class="govuk-link">Download table data (CSV)</a></p>
          <p class="govuk-body">
              Source: Census 2021 from the Office for National Statistics (ONS)
              <br>
              Data correct as of 5 February 2025
          </p>
      </div>





      <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--s govuk-!-margin-top-7">Table comparing the age of one-person households and unpaid care provision in Suffolk to regional and national statistics</caption>
          <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Filter</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Suffolk</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">East of England</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">England</th>
              </tr>
          </thead>
          <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Percentage of one-person households where the person is aged 65 or over</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">43.0&#37;</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">35.9&#37;</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">42.7&#37;</td>
              </tr>
              <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Percentage of people aged 5 or over who provide unpaid care</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">7.8&#37;</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">7.0&#37;</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">8.9&#37;</td>
              </tr>
          </tbody>
      </table>

      <div class="govuk-form-group">
          <p class="govuk-body"><a href="#" class="govuk-link">Download table data (CSV)</a></p>
          <p class="govuk-body">
              Source: Census 2021 from the Office for National Statistics (ONS)
              <br>
              Data correct as of 5 February 2025
          </p>
      </div>

      <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--s govuk-!-margin-top-7">Table comparing general health reports and disability prevalence in Suffolk to regional and national statistics</caption>
          <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Filter</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Suffolk</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">East of England</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">England</th>
              </tr>
          </thead>
          <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">People who reported being in bad or very bad health</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">13.0&#37;</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">14.6&#37;</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">14.0&#37;</td>
              </tr>
              <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Disability prevalence &ndash; people who reported a long-term physical or mental health condition or illness that limits day-to-day activities</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">17.8&#37;</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">17.5&#37;</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">17.5&#37;</td>
              </tr>

              <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Learning disability prevalence &ndash; all ages, as a proportion of people registered at GP practices</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">2.0&#37;</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">2.6&#37;</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">2.2&#37;</td>
              </tr>
          </tbody>
      </table>

      <div class="govuk-form-group">
          <p class="govuk-body"><a href="#" class="govuk-link">Download table data (CSV)</a></p>
          <p class="govuk-body">
              Sources: Census 2021 from the Office for National Statistics (ONS), Fingertips public health profiles from the Department of Health and Social Care (DHSC)
              <br>
              Data correct as of 5 February 2025
          </p>
      </div>

      <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--s govuk-!-margin-top-7">Table comparing dementia prevalence and the dementia diagnosis rate in Suffolk to regional and national statistics</caption>
          <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Filter</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Suffolk</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">East of England</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">England</th>
              </tr>
          </thead>
          <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Dementia prevalence &ndash; all ages, as a proportion of people registered at GP practices</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">0.9&#37;</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">0.9&#37;</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">0.8&#37;</td>
              </tr>
              <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Estimated &lsquo;dementia diagnosis rate&rsquo; &ndash; aged 65 and over</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">60.0&#37;</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">62.4&#37;</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">65.6&#37;</td>
              </tr>
          </tbody>
      </table>

      <details class="govuk-details">
          <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                  What &lsquo;dementia diagnosis rate&rsquo; means
              </span>
          </summary>
          <div class="govuk-details__text">
              The &lsquo;dementia diagnosis rate&rsquo; is found by dividing the number of people with a formal diagnosis of dementia by the estimated number of people expected to have dementia.</p>
              <p>The estimated number of people expected to have dementia is worked out by combining:</p>
              <ul class="govuk-list govuk-list--bullet">

                  <li>the characteristics of the local registered population</li>
                  <li>studies on dementia prevalence by age and sex</li>
              </ul>
              <a href="https://fingertips.phe.org.uk/dementia#page/6/gid/1938132811/ati/15/iid/92949/age/27/sex/4/cat/-1/ctp/-1/yrr/1/cid/4/tbm/1" class="govuk-link" target="_blank">Details on how &lsquo;dementia diagnosis rate&rsquo; is calculated (opens in new tab).</a></p>
          </div>
      </details>

      <div class="govuk-form-group">
          <p class="govuk-body"><a href="#" class="govuk-link">Download table data (CSV)</a></p>
          <p class="govuk-body">
              Source: Fingertips public health profiles from the Department of Health and Social Care (DHSC)
              <br>
              Data correct as of 5 July 2025
          </p>
      </div>

      <h2 class="govuk-heading-m govuk-!-margin-top-9" id="capacity-la">Current capacity &ndash; care homes: local authority-level insights</h2>
      <p class="govuk-body">The number of adult social care beds per 100,000 adult population provides an indicator of current care capacity. A higher number suggests more sufficient capacity.</p>
      <p class="govuk-body">Care homes in Suffolk have <strong>18.4 beds per 100,000 adult population</strong>, compared to the East of England regional average of 12.2 per 100,000.</p>
      <p class="govuk-body">Suffolk care homes are <strong>operating at 85&#37; occupancy</strong>, which is higher than the regional average (77&#37;). This suggests a more limited capacity to meet population needs than the regional average.</p>
      <p class="govuk-body">You can filter this data by type of beds.</p>
      <a href="total-beds" class="govuk-button govuk-button--secondary" type="submit" style="margin-right: 1em;" data-module="govuk-button">Explore data</a>

      <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--s govuk-!-margin-top-7">Table comparing provision of adult social care beds and occupancy levels in Suffolk to regional and national statistics</caption>
          <thead class="govuk-table__head">
          <th scope="col" class="govuk-table__header govuk-!-width-one-third">Filter</th>
          <th scope="col" class="govuk-table__header">Suffolk</th>
          <th scope="col" class="govuk-table__header">East of England</th>
          <th scope="col" class="govuk-table__header">England</th>
          </thead>
          <tbody>

              <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Beds per 100,000 adult population</th>
                  <td class="govuk-table__cell">18.4</td>
                  <td class="govuk-table__cell">12.2</td>
                  <td class="govuk-table__cell">958</td>
              </tr>
              <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Percentage of beds occupied</th>
                  <td class="govuk-table__cell">85&#37;</td>
                  <td class="govuk-table__cell">77&#37;</td>
                  <td class="govuk-table__cell">89&#37;</td>
              </tr>
          </tbody>
      </table>

      <p class="govuk-body"><a href="#" class="govuk-link">Download table data (CSV)</a></p>
      <p class="govuk-body">
          Source: Capacity Tracker from the Department of Health and Social Care (DHSC)
          <br>
          Data correct as of 5 February 2025
      </p>

      <h2 class="govuk-heading-m govuk-!-margin-top-9" id="capacity-cp">Current capacity – care homes: care provider-level insights</h2>
      <p class="govuk-body">Examining individual care providers offers insight into how their capacity compares with other care providers at local authority, regional and national level.</p>
      <p class="govuk-body">Care Provider A is a small provider with <strong>20 total beds</strong>, compared to the median (53 beds) in Suffolk.</p>
      <p class="govuk-body">Care Provider A has <strong>90&#37; occupancy</strong> for all adult social care beds compared to the median occupancy of all care homes in Suffolk (85&#37;), suggesting limited availability for new admissions.</p>
      <p class="govuk-body"><b>Note:</b> If a care provider location has fewer than 6 beds, the number of beds is shown as 0. If a care provider location has fewer than 6 beds occupied, the percentage of beds occupied is shown as 0. For details on suppression of data, see indicator definition and supporting information.</p>

      <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--s govuk-!-margin-top-7">Table comparing provision at the care provider location to median numbers of care beds at local, regional and national levels</caption>
          <thead class="govuk-table__head">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Filter</th>
          <th scope="col" class="govuk-table__header">Care Provider A</th>
          <th scope="col" class="govuk-table__header">Suffolk</th>
          <th scope="col" class="govuk-table__header">East of England</th>
          <th scope="col" class="govuk-table__header">England</th>
          </thead>
          <tbody>
              <!-- <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Size</th>
                  <td class="govuk-table__cell">Small</td>
                  <td class="govuk-table__cell">All</td>
                  <td class="govuk-table__cell">All</td>
                  <td class="govuk-table__cell">All</td>
              </tr> -->
              <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Beds in care provider location</th>
                  <td class="govuk-table__cell">20</td>
                  <td class="govuk-table__cell">53</td>
                  <td class="govuk-table__cell">43</td>
                  <td class="govuk-table__cell">38</td>
              </tr>
              <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Percentage of beds occupied</th>
                  <td class="govuk-table__cell">90&#37;</td>
                  <td class="govuk-table__cell">85&#37;</td>
                  <td class="govuk-table__cell">76&#37;</td>
                  <td class="govuk-table__cell">81&#37;</td>
              </tr>
          </tbody>
      </table>

      <p class="govuk-body"><a href="#" class="govuk-link">Download table data (CSV)</a></p>
      <p class="govuk-body">
          Source: Capacity Tracker from the Department of Health and Social Care (DHSC)
          <br>
          Data correct as of 5 February 2025
      </p>

      <h2 class="govuk-heading-m govuk-!-margin-top-9" id="definition">Indicator definitions and supporting information</h2>
      <p class="govuk-body">Find detailed information about each indicator, including data definitions, data source, update schedule, and any limitations to be aware of before using the data.</p>

      <h3 class="govuk-heading-s">Indicators for population needs</h3>
      <ul class="govuk-list govuk-list--bullet">
          <li><a href="../help/population-size" class="govuk-link">Population size</a></li>
          <li><a href="../help/population-age" class="govuk-link">Population age</a></li>
          <li><a href="../help/households-property-owned-outright" class="govuk-link">Households where the property is owned outright</a></li>
          <li><a href="../help/households-deprived-4-dimensions" class="govuk-link">Households deprived in 4 dimensions</a></li>
          <li><a href="../help/percentage-one-person-households-65-or-over" class="govuk-link">One-person households where the person is aged 65 or over</a></li>
          <li><a href="../help/percentage-people-5-or-over-who-provide-unpaid-care" class="govuk-link">People aged 5 or over who provide unpaid care</a></li>
          <li><a href="../help/people-in-bad-or-very-bad-health" class="govuk-link">People in bad or very bad health</a></li>
          <li><a href="../help/disability-prevalence" class="govuk-link">Disability prevalence</a></li>
          <li><a href="../help/learning-disability-prevalence" class="govuk-link">Learning disability prevalence</a></li>
          <li><a href="../help/dementia-prevalence" class="govuk-link">Dementia prevalence</a></li>
          <li><a href="../help/estimated-dementia-diagnosis-rate-65-and-over" class="govuk-link">Estimated dementia diagnosis rate</a></li>
           </ul>

      <h3 class="govuk-heading-s">Indicators for care home capacity</h3>
      <ul class="govuk-list govuk-list--bullet">
          <li><a href="../help/beds-per-100000-adult-population" class="govuk-link">Adult social care beds per 100,000 adult population</a></li>
          <li><a href="../help/percentage-beds-occupied" class="govuk-link">Percentage of adult social care beds occupied</a></li>
          <li><a href="../help/beds-care-provider-location" class="govuk-link">Number of adult social care beds in care provider location</a></li>
          <li><a href="../help/percentage-beds-occupied-care-provider-location" class="govuk-link">Percentage of adult social care beds occupied in care provider location</a></li>
      </ul>

      <h2 class="govuk-heading-m govuk-!-margin-top-9" id="market-position-statement">Find more information on your local care market</h2>
      <p class="govuk-body"><a href="#" class="govuk-link" data-message="This link would take you to the Market Position Statement on the Suffolk local authority website.">Market Position Statement for Suffolk (opens in new tab)</a></p>
      <p class="govuk-body">Most local authorities in England publish Market Position Statements (MPS) to help care providers understand the local care market.</p>
      <p class="govuk-body">You can usually find these <abbr title="Market Position Statement">MPS</abbr> documents on local authority websites.</p>
      <p class="govuk-body"><abbr title="Market Position Statement">MPS</abbr> documents include information on:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>supply and demand in the local care market</li>
          <li>forecasts of future supply and demand for adult social care services</li>
          <li>how the local authority will support the local care market to meet demand</li>
          <li>how the local authority will engage with care providers on challenges in the sector, such as funding pressures</li>
      </ul>

      <div class="call-to-action govuk-!-margin-top-9">
          <h2 class="govuk-heading-m" id="feedback">Give your feedback on this service</h2>
          <p class="govuk-body">Thank you for volunteering to test this new digital service from the Department of Health and Social Care (DHSC).</p>
          <p class="govuk-body">We're keen to hear about your experience using the service. Your feedback will help us make improvements and add features for you.</p>
          <p class="govuk-body"><a href="https://forms.office.com/e/s9FCDSibN0" class="govuk-link" rel="noreferrer noopener" target="_blank">Fill in the feedback survey (opens in new tab)</a></li>
      </div>

      <details class="govuk-details govuk-!-margin-top-9">
          <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">Get help with this page</span>
          </summary>

          <div class="govuk-details__text">
              If you have any issues using this service, email <a href="mailto:getadultsocialcaredata.team@dhsc.gov.uk" class="govuk-link">getadultsocialcaredata.team@dhsc.gov.uk</a>.
          </div>

      </details>
  </div>

</div>
{% endblock %}