{% extends "private-beta/2025/august/layouts/signed-in.html" %}

{% set pageName = "Edit table filters" %}

{% block pageTitle %}
  {% if error %}Error: {% endif %}{{pageName}} – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
<a href="total-beds" class="govuk-back-link" >Back</a>
{% endblock %}

{% block content %} 
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    {% if error %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      
      <div role="alert">
        <h2 class="govuk-error-summary__title">There is a problem</h2>
        
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li><a href="#filters">Select one or more table filters</a></li>
          </ul>
        </div>

      </div>

    </div>
    {% endif %}

    <form action="total-beds-edit-table-filters-validation" method="post" novalidate>
      
      <div {% if error %}class="govuk-form-group govuk-form-group--error" aria-describedby="nationality-error"{% else %}class="govuk-form-group"{% endif %}>
        <span class="govuk-caption-xl">Total beds per 100,000 population</span> 
        <h1 class="govuk-heading-l">{{pageName}}</h1>
        <p class="govuk-hint">Select filters to refine the data displayed</p>
        {% if error %}
        <p id="nationality-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Select one or more table filters</p>
        {% endif %}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">Total</h2>
            </legend>
            
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="filters" name="filters" type="checkbox" value="All types"{% for param in data.filters %}{% if param == 'All types' %} checked{% endif %}{% endfor %}>
                <label class="govuk-label govuk-checkboxes__label" for="filters">All types</label>
              </div>

            </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">General</h2>
            </legend>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="filters-2" name="filters" type="checkbox" value="Community care"{% for param in data.filters %}{% if param == 'Community care' %} checked{% endif %}{% endfor %}>
              <label class="govuk-label govuk-checkboxes__label" for="filters-2">Community care</label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="filters-3" name="filters" type="checkbox" value="Transitional" aria-describedby="filters-3-hint"{% for param in data.filters %}{% if param == 'Transitional' %} checked{% endif %}{% endfor %}>
              <label class="govuk-label govuk-checkboxes__label" for="filters-3">Transitional</label>

              <div id="filters-3-hint" class="govuk-hint govuk-checkboxes__hint">
                For individuals moving from children's services to adult social care.
              </div>

            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="filters-4" name="filters" type="checkbox" value="YPD - Young Physically Disabled"{% for param in data.filters %}{% if param == 'YPD - Young Physically Disabled' %} checked{% endif %}{% endfor %}>
              <label class="govuk-label govuk-checkboxes__label" for="filters-4">YPD &ndash; Young Physically Disabled</label>
            </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">Nursing</h2>
            </legend>
          
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">      
            
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="filters-5" name="filters" type="checkbox" value="Nursing - General"{% for param in data.filters %}{% if param == 'Nursing - General' %} checked{% endif %}{% endfor %}>
                <label class="govuk-label govuk-checkboxes__label" for="filters-5">General</label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="filters-6" name="filters" type="checkbox" value="Nursing - Dementia"{% for param in data.filters %}{% if param == 'Nursing - Dementia' %} checked{% endif %}{% endfor %}>
                <label class="govuk-label govuk-checkboxes__label" for="filters-6">Dementia</label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="filters-7" name="filters" type="checkbox" value="Nursing - Learning Disability"{% for param in data.filters %}{% if param == 'Nursing - Learning Disability' %} checked{% endif %}{% endfor %}>
                <label class="govuk-label govuk-checkboxes__label" for="filters-7">Learning Disability</label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="filters-8" name="filters" type="checkbox" value="Nursing - Mental Health"{% for param in data.filters %}{% if param == 'Nursing - Mental Health' %} checked{% endif %}{% endfor %}>
                <label class="govuk-label govuk-checkboxes__label" for="filters-8">Mental Health</label>
              </div>

            </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">Residential</h2>
            </legend>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="filters-9" name="filters" type="checkbox" value="Residential - General"{% for param in data.filters %}{% if param == 'Residential - General' %} checked{% endif %}{% endfor %}>
              <label class="govuk-label govuk-checkboxes__label" for="filters-9">General</label>
            </div> 

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="filters-10" name="filters" type="checkbox" value="Residential - Dementia"{% for param in data.filters %}{% if param == 'Residential - Dementia' %} checked{% endif %}{% endfor %}>
              <label class="govuk-label govuk-checkboxes__label" for="filters-10">Dementia</label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="filters-11" name="filters" type="checkbox" value="Residential - Learning Disability"{% for param in data.filters %}{% if param == 'Residential - Learning Disability' %} checked{% endif %}{% endfor %}>
              <label class="govuk-label govuk-checkboxes__label" for="filters-11">Learning Disability</label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="filters-12" name="filters" type="checkbox" value="Residential - Mental Health"{% for param in data.filters %}{% if param == 'Residential - Mental Health' %} checked{% endif %}{% endfor %}>
              <label class="govuk-label govuk-checkboxes__label" for="filters-12">Mental Health</label>
            </div>

          </fieldset>
        </div>        

      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">Apply changes</button>
        <a href="total-beds" class="govuk-link" >Cancel and go back</a>
      </div>

    </form>

  </div>

</div>
{% endblock %}