{% extends "v10/layouts/default.html" %}

{% block content %}
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">

    <form action="../signed-in/select-location" method="post">

      {{ govukRadios({
        name: "marketing-consent",
        fieldset: {
          legend: {
            text: "Can we send you emails about the DHSC’s Get adult social care data (GASCD) service?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl govuk-!-padding-bottom-6"
          }
        },
        hint: {
          html: "
            <p class='govuk-body'>From time to time, we’d like to send you news about the <abbr title='Get adult social care data'>GASCD</abbr> service such as new features and ways you can help us improve the service.</p>
            <p class='govuk-body'>Read the <abbr title='Get adult social care data'>GASCD</abbr> service <a href='../footer/privacy-policy' class='govuk-link' target='_blank'>privacy policy (opens in new tab)</a> to find out what happens to your personal information.</p>
          "
        },
        items: [
          {
            value: "yes",
            text: "Yes, I'd like to receive emails"
          },
          {
            value: "no",
            text: "No, I don’t want to receive emails"
          }
        ]
      }) }}

      <p class="govuk-body">You can tell us to stop sending these emails at any time.  We’ll include details of how to unsubscribe in every email.</p>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>

</div>
{% endblock %}