{% extends "v9/layouts/signed-in.html" %}

{% set pageName = "Care providers: locations and services" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../../../home"
    },
    {
      text: "Care provision",
      href: "../subtopics"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    {% if sessionTimeoutJs == "true" %}
    <meta name="hmrc-timeout-dialog" content="hmrc-timeout-dialog" data-language="en" data-timeout="70" data-countdown="68" data-keep-alive-url="?continue=true" data-sign-out-url="/v9/system/signed-out" data-timeout-url="/v9/system/session-expired" data-title="You’re about to be signed out" data-message="For your security, we will sign you out in " data-message-suffix="" data-keep-alive-button-text="" data-sign-out-button-text="" data-synchronise-tabs="" data-hide-sign-out-button="" />
    {% elif sessionTimeoutNonJs == "true" %}

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">

      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Important</h2>
      </div>

      <div class="govuk-notification-banner__content">
        <p class="govuk-body">For your security, you will be signed out if you are inactive for <strong>20 minutes</strong>.</p>
      </div>

    </div>

    {% endif %}
    <h1 class="govuk-heading-xl">{{pageName}}</h1>
    <p class="govuk-body-l">Data on care provision by location, service type and number of providers.</p>
    <h2 class="govuk-heading-l govuk-!-margin-top-9">Data overview</h2>
    <!-- <p class="govuk-body">Data overview summary information, e.g. broad guidance.</p> -->
  </div>

</div>

{% if data.selectedServiceType != "Local authority" %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <div class="data-box govuk-form-group">

      <div class="govuk-tabs" data-module="govuk-tabs">
        
        <div class="govuk-form-group">
          <h3 id="data1" class="govuk-heading-m">Care provider locations near {% if data.postcode %}postcode {{data.postcode}}{% else %}postcode {{data.selectedLocationPostcode or 'CO5 1ST'}} for {{data.selectedLocationName or 'Station Road Centre (Sudbury)'}}{% endif %}</h3>
          <p class="govuk-body">Locations and service information for CQC&#45;registered residential social care and community based adult social care service providers in England, August 2025.</p>
          <!-- Dead linking until Edge Health provide the content for this new page -->
          <p class="govuk-body" data-module="edge">Find out <a href="#" data-message="Sorry, this hasn’t been designed yet">how locations and services data is collected</a>.</p>
          {% include "./filters/_1-filter-component.html" %}
        </div>        

        <h3 class="govuk-tabs__title">Contents</h3>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item-map govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#data1-map">Map</a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data1-table">Table</a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data1-download">Download</a>
          </li>
        </ul>

        <div class="govuk-tabs__panel govuk-tabs__panel-map" id="data1-map">
          {% include "./data-visualisations/_1-map.html" %}
        </div>

        <div class="govuk-tabs__panel" id="data1-table">
          {% include "./data-visualisations/_1-table.html" %}
        </div>

        <div class="govuk-tabs__panel" id="data1-download">
          <h4 class="govuk-heading-s">Download</h4>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="/public/downloads/v9/residential-care/care-providers-locations-and-services/map-1-care-provider-locations-near-postcode.png">Download current map image (PNG)</a>
            </li>
            <li>
              <a class="govuk-link" href="/public/downloads/v9/residential-care/care-providers-locations-and-services/table-1-care-provider-locations-near-postcode.csv">Export table data (CSV)</a>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </div>

</div>
{% endif %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <div class="data-box govuk-form-group">

      <div class="govuk-tabs" data-module="govuk-tabs">

        <div class="govuk-form-group">
          <h3 id="data2" class="govuk-heading-m">Number of adult social care providers</span></h3>
          <!-- Dead linking until Edge Health provide the content for this new page -->
          <p class="govuk-body" data-module="edge">Find out <span class="needs-content"><a href="#" data-message="Sorry, this hasn’t been designed yet">how the number of adult social care providers is calculated</a></span>.</p>
          {% include "./filters/_2-filter-component.html" %}
        </div>

        <h3 class="govuk-tabs__title">Contents</h3>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data2-table">Table</a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data2-download">Download</a>
          </li>
        </ul>

        <div class="govuk-tabs__panel" id="data2-table">
          {% include "./data-visualisations/_2-table.html" %}
        </div>

        <div class="govuk-tabs__panel" id="data2-download">
          <h4 class="govuk-heading-s">Download</h4>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="/public/downloads/v9/residential-care/care-providers-locations-and-services/table-2-number-of-adult-social-care-providers.csv">Export table data (CSV)</a>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l govuk-!-margin-top-9">Data indicator details</h2>
    <p class="govuk-body">Use the link to view details on the data source, how the data was collected and any limitations to consider when using the data.</p>

    <div class="gem-c-cards">
      <ul class="gem-c-cards__list gem-c-cards__list--one-column">
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s" data-module="edge">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="#" data-message="Sorry, this hasn’t been designed yet">Number of community social care providers</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: Care Quality Commission. <br>Monthly updates, limitations apply.</p>
          </div>

        </li>
      </ul>
    </div>

    <h2 class="govuk-heading-l govuk-!-margin-top-9">Related data</h2>

    <div class="gem-c-cards">
      <ul class="gem-c-cards__list gem-c-cards__list--one-column">
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../provision-and-occupancy/data">Care home beds and occupancy levels</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Provision and capacity data for care homes, including local, regional and national statistics.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../number-of-people-receiving-care/data">Number of adults receiving community social care</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Data on the number of people supported through community social care, including trends over time.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../unpaid-care/data">Unpaid care</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Statistics on the people who provide unpaid care to family members, friends and neighbours.</p>
          </div>

        </li>
      </ul>
    </div>

    <h2 class="govuk-heading-l govuk-!-margin-top-9">Information on the local care market</h2>
    <p class="govuk-body" data-module="edge"><a href="#" class="govuk-link" data-message="This link would take you to the Market Position Statement on the Suffolk LA website.">Market Position Statement for Suffolk (opens in new tab)</a></p>
    <p class="govuk-body">Most <abbr title="Local Authority">LA</abbr>s in England publish Market Position Statements (MPS) to help care providers understand the local care market.</p>
    <p class="govuk-body">You can usually find these <abbr title="Market Position Statement">MPS</abbr> documents on <abbr title="Local Authority">LA</abbr> websites.</p>
    <p class="govuk-body"><abbr title="Market Position Statement">MPS</abbr> documents include information on:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>supply and demand in the local care market</li>
      <li>forecasts of future supply and demand for adult social care services</li>
      <li>how the <abbr title="Local Authority">LA</abbr> will support the local care market to meet demand</li>
      <li>how the <abbr title="Local Authority">LA</abbr> will engage with care providers on challenges in the sector, such as funding pressures</li>
    </ul>

    <div data-sticky-element class="gem-c-contents-list-with-body__link-wrapper govuk-!-margin-top-9">

      <div class="gem-c-contents-list-with-body__link-container">
        <a class="govuk-link gem-c-back-to-top-link govuk-!-display-none-print" href="#top">
          <svg class="gem-c-back-to-top-link__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>
          Back to top
        </a>
      </div>

    </div>

  </div>

</div>
{% endblock %}

{% block pageScripts %}
<!-- Filters (progressive enhancement) code that loads and controls the dynamic filters for this page -->
<script src="/public/javascripts/v9/filters.js"></script>
<!-- Font Awesome 4 icons for the notifications -->
<link href="/public/open-source/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
{% endblock %}