{#
  For guidance on how to use layouts see:
  https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block stylesheets %}
{{super()}}
<link href="/public/css/private-beta/2025/december/styles.css" rel="stylesheet" type="text/css" />
<link href="/public/css/private-beta/2025/december/print.css" media="print" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header %}
{% if data.onCookiesPage != "true" %}
{% if data.cookiesAnalytics == null or data.cookiesAnalytics == "" %}
{% set html %}
  <p class="govuk-body">We use some essential cookies to make this service work.</p>
  <p class="govuk-body">We&#39;d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
{% endset %}

<form method="post" novalidate>
  
  {{ govukCookieBanner({
    ariaLabel: "Cookies on " + serviceName,
    messages: [
      {
        headingText: "Cookies on " + serviceName,
        html: html,
        actions: [
          {
            text: "Accept analytics cookies",
            type: "button",
            href: "?cookiesAnalytics=Yes"
          },
          {
            text: "Reject analytics cookies",
            type: "button",
            href: "?cookiesAnalytics=No"
          },
          {
            text: "View cookies",
            href: "/private-beta/2025/december/footer/cookies?onCookiesPage=true"
          }
        ]
      }
    ]
  }) }}

</form>
{% else %}
{% if data.cookiesBanner != "Hidden" %}
{% set acceptHtml %}
  <p class="govuk-body">You&#39;ve accepted additional cookies. You can <a class="govuk-link" href="/private-beta/2025/december/footer/cookies?onCookiesPage=true">change your cookie settings</a> at any time.</p>
{% endset %}

<form method="post" novalidate>

  {{ govukCookieBanner({
    ariaLabel: "Cookies on " + serviceName,
    messages: [
      {
        html: acceptHtml,
        actions: [
          {
            text: "Hide cookie message",
            type: "button",
            href: "?cookiesBanner=Hidden"
          }
        ]
      }
    ]
  }) }}
  
</form>
{% endif %}
{% endif %}
{% endif %}

{{ govukHeader({
  homepageUrl: "/"
}) }}

<div class="govuk-width-container">
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a href="https://forms.office.com/e/s9FCDSibN0" class="govuk-link" rel="noreferrer noopener" target="_blank">give your feedback (opens in new tab)</a>.'
  }) }}
</div>
{% endblock %}

{% set bodyAttributes = {
  "data-module": "edge"
} %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: [
      {
        href: "/private-beta/2025/december/footer/disclaimer?signedInState=default&onCookiesPage=false",
        text: "Disclaimer"
      },
      {
        href: "/private-beta/2025/december/footer/help?signedInState=default&onCookiesPage=false",
        text: "Help"
      },
      {
        href: "/private-beta/2025/december/footer/privacy-policy?signedInState=default&onCookiesPage=false",
        text: "Privacy"
      },
      {
        href: "/private-beta/2025/december/footer/cookies?signedInState=default&onCookiesPage=true",
        text: "Cookies"
      },
      {
        href: "https://forms.office.com/e/s9FCDSibN0",
        text: "Feedback"
      }
    ]
  }
}) }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <!-- Custom global jQuery and JavaScript for GASCD -->
  <script src="/public/javascripts/private-beta/2025/december/custom-global-behaviour.js"></script>
{% endblock %}