{% extends "v2/layouts/data.html" %}

{% set pageName = "Care provider locations by size" %}

{% block content %} 
<a href="../dashboard/capacity" class="govuk-back-link">Back</a>
<!-- {{ govukBreadcrumbs({
    items: [
    {
        text: "Home",
        href: "../dashboard/index"
    },
    {
        text: "Get data",
        href: "../dashboard/get-data"
    },
    {
        text: "Demand and capacity",
        href: "../dashboard/capacity"
    }
    ,
    {
        text: pageName
    }
    ]
}) }} -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <!-- <span class="govuk-caption-l">Demand and capacity</span> -->
        <h1 class="govuk-heading-l">{{pageName}}</h1>
        <p class="govuk-body">
            This indicator shows the number of care provider locations in each size category (small, medium or large, extra large).        </p>
        <p class="govuk-body">
            Last updated: 10 January 2025
        </p>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" checked>
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                            Show this indicator on your dashboard
                        </label>
                    </div>
                </div>
            </fieldset>
            <h2>Settings</h2>
            <div class="govuk-grid-row" style="margin-bottom:4em">
                <div class="govuk-grid-column-one-third">
                    <!-- 
                    
                    LA picker  
                    
                    -->
                    <div class="govuk-form-group">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--s" for="event-name">
                                Local authority
                            </label>
                        </h1>
                        <input class="govuk-input govuk-input--width-20" id="event-name" name="eventName" type="text" value="Suffolk County Council">
                    </div>
                </div>
                <div class="govuk-grid-column-one-third">
                    <!-- 
                    
                    Date range from
                    
                    -->
                    <div class="moj-datepicker" data-module="moj-date-picker">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="date">
                                Start date 
                            </label>
                            <input class="govuk-input moj-js-datepicker-input " id="date" name="date" type="text" aria-describedby="date-hint" autocomplete="off" value="1/04/2021">
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-column-one-third">
                    <!-- 
                    
                    Date range to
                    
                    -->
                    <div class="moj-datepicker" data-module="moj-date-picker">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="date">
                                End date
                            </label>
                            <input class="govuk-input moj-js-datepicker-input " id="date" name="date" type="text" aria-describedby="date-hint" autocomplete="off" value="1/11/2023">
                        </div>
                    </div>
                </div>
            </div>
            <!-- 
            
            Filter column 
            
            -->
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <div class="moj-filter">
                        <div class="moj-filter__header">
                            <div class="moj-filter__header-title">
                                <h2 class="govuk-heading-m">Filter</h2>
                            </div>
                            <div class="moj-filter__header-action">
                            </div>
                        </div>
                        <div class="moj-filter__content">
                            <div class="moj-filter__selected">
                                <div class="moj-filter__selected-heading">
                                    <div class="moj-filter__heading-title">
                                        <h2 class="govuk-heading-m">Selected filters</h2>
                                    </div>
                                    <div class="moj-filter__heading-action">
                                        <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
                                    </div>
                                </div>
                                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Beds indicators</h3>
                                <ul class="moj-filter-tags">
                                    <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Total beds</a></li>
                                    <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> General residential</a></li>
                                </ul>
                                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Compare other local authorities</h3>
                                <ul class="moj-filter-tags">
                                    <!-- <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Norfolk</a></li> -->
                                    <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Cambridgeshire and Peterborough</a></li>
                                </ul>
                            </div>
                            <div class="moj-filter__options">
                                <button type="submit" class="govuk-button" data-module="govuk-button" data-test-id="submit-button">
                                    Apply filters
                                </button>
                                <!-- 
                                
                                Beds 
                                
                                -->
                                <h2>Beds</h2>
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-label--s" for="keywords">
                                        Add beds indicator
                                    </label>
                                    <input class="govuk-input" id="keywords" name="keywords" type="text">
                                </div>
                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                            Selected
                                        </legend>
                                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="complete" checked>
                                                <label class="govuk-label govuk-checkboxes__label" for="status">
                                                    Total beds
                                                </label>
                                            </div>
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="incomplete" checked>
                                                <label class="govuk-label govuk-checkboxes__label" for="status-2">
                                                    General residential
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <!-- 
                                
                                Local authorities 
                                
                                -->
                                <h2>Local authorities</h2>
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-label--s" for="keywords">
                                        Add local authority
                                    </label>
                                    <input class="govuk-input" id="keywords" name="keywords" type="text">
                                </div>
                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                            Selected
                                        </legend>
                                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                            <!-- <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1" checked>
                                                <label class="govuk-label govuk-checkboxes__label" for="type">
                                                    Norfolk
                                                </label>
                                            </div> -->
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2" checked>
                                                <label class="govuk-label govuk-checkboxes__label" for="type-2">
                                                    Cambridgeshire and Peterborough
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 
                
                Main panel 
                
                -->
                <div class="govuk-grid-column-two-thirds">
                    <!--<h2 class="govuk-heading-l">Output</h2>-->
                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h2 class="govuk-fieldset__heading">
                                    Chart type
                                </h2>
                            </legend>
                            <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes" checked>
                                    <label class="govuk-label govuk-radios__label" for="changedName">
                                        Time series
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
                                    <label class="govuk-label govuk-radios__label" for="changedName-2">
                                        Table
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <h2 class="govuk-heading-m">Total beds</h2>
                    <ul class="govuk-list">
                        <li>
                            <svg height="5" width="50" xmlns="http://www.w3.org/2000/svg">
                                <g fill="none">
                                    <line x1="0" y1="0" x2="50" y2="0" style="stroke:green;stroke-width:10" />
                                </g>
                              </svg> 
                            Total beds - Suffolk County Council</li>
                        <li>
                            <svg height="5" width="50" xmlns="http://www.w3.org/2000/svg">
                                <g fill="none">
                                    <line x1="0" y1="0" x2="50" y2="0" style="stroke:gold;stroke-width:10" />
                                </g>
                              </svg> 
                            Total beds - Cambridgeshire and Peterborough</li>
                        <li>
                            <svg height="5" width="50" xmlns="http://www.w3.org/2000/svg">
                                <g fill="none">
                                    <line x1="0" y1="0" x2="50" y2="0" style="stroke:red;stroke-width:10" stroke-dasharray="5,5"/>
                                </g>
                              </svg> 
                             </span>General residential - Suffolk County Council</li>
                        <li>
                            <svg height="5" width="50" xmlns="http://www.w3.org/2000/svg">
                                <g fill="none">
                                    <line x1="0" y1="0" x2="50" y2="0" style="stroke:violet;stroke-width:10" stroke-dasharray="5,5"/>
                                </g>
                              </svg> 
                            General residential - Cambridgeshire and Peterborough</li>   
                    </ul>
                    <!-- 
                    
                    Chart  
                    
                    -->
                    <svg height="300" width="600" xmlns="http://www.w3.org/2000/svg" transform="translate(40,0)">
                        <defs>
                            <style>
                                text{font-family: 'Helvetica Neue', sans-serif; }
                            </style>
                        </defs>
                        
                        <!-- 	Y Scale -->
                        <text class="axis-text"x="0" y="50" fill="#666">20,000</text>
                        <text class="axis-text"x="0" y="125" fill="#666">10,000</text>
                        <text class="axis-text"x="42" y="200" fill="#666">0</text>
                        
                        <g transform="translate(20,0)">
                            <!-- 		Axes -->
                            <line x1="50" y1="0" x2="50" y2="200" style="stroke:#666;stroke-width:2" />
                            <line x1="50" y1="200" x2="600" y2="200" style="stroke:#666;stroke-width:2" />
                            <rect width="600" height="2" x="50" y="50" fill="#e1e1e1" />
                            <rect width="600" height="2" x="50" y="120" fill="#e1e1e1" />
                            
                            <!-- 		X Scale -->
                            <text class="axis-text"x="50" y="220" fill="#666">2021</text>
                            <text class="axis-text"x="250" y="220" fill="#666">2022</text>
                            <text class="axis-text"x="450" y="220" fill="#666">2023</text>
                            
                            <!-- 		Lines -->
                            <g transform="translate(-250,0) scale (2 1)">
                                <!-- Total beds - Suffolk -->
                                <polyline points="150,150 200,140 250,143 300,110 350,82 400,65, 450,80"
                                style="fill:none;stroke:green;stroke-width:3" />
                                <!-- Residential - Suffolk -->
                                <polyline points="150,199 200,196 250,192 300,188 350,190 400,182 450,175"
                                style="fill:none;stroke:red;stroke-width:3" stroke-dasharray="5,5"/>
                                <!-- Total beds - Cambridgeshire -->
                                <polyline points="150,159 200,153 250,157 300,121 350,93 400,79, 450,89"
                                style="fill:none;stroke:gold;stroke-width:3" />
                                <!-- Residential -  Cambridgeshire -->
                                <polyline points="150,195 200,191 250,188 300,182 350,172 400,171 450,174"
                                style="fill:none;stroke:violet;stroke-width:3" stroke-dasharray="5,5"/>
                            </g>
                        </svg>
                        <p>Source: Capacity tracker</p>
                        <h3>Download options</h3>
                        <ul>
                        <li><a href="" class="govuk-link">Download chart image (PNG)</a></li>
                        <li><a href="" class="govuk-link">Download data (CSV)</a></li>
                        </ul>
                        <!-- 
                        
                        Smart insights 
                        
                        -->
                        <h2 class="govuk-heading-m"><!--&#10024; -->Smart insights (experimental)</h2>
                        <div class="govuk-inset-text">
                            These insights are powered by artificial intelligence (AI), which can sometimes be inaccurate. Verify the information with primary sources before sharing or using it. <a class="@ovuk-link" href="">Learn more about smart insights</a>
                        </div>
                        <h3 class="govuk-heading-s">Insight 1</h3>
                        <p class="govuk-body">Total care home bed capacity for Suffolk, Cambridgeshire and Peterborough has steadily increased since 2021, with Suffolk maintaining a slightly higher capacity. This growth suggests these areas are expanding their care home infrastructure to meet rising demand.</p>
                        <h3 class="govuk-heading-s">How you might use this insight:</h3>
                        <ul class="govuk-list govuk-list--bullet">
                            <li><strong>Assess local demand trends:</strong> Ensure growth in capacity aligns with population trends and care needs.</li>
                            <li><strong>Identify growth opportunities:</strong> Use regional data to explore potential for new facilities or expanding existing ones in underserved locations.</li>
                        </ul>
                        <!---
                        <p class="govuk-body"><strong>Rate this smart insight</strong></p>
                        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Helpful
                        </button>&nbsp;&nbsp;&nbsp;
                        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Not helpful
                        </button>
                        -->
                        <h3 class="govuk-heading-s">Insight 2</h3>
                        <p class="govuk-body">General residential care bed numbers in these areas remains significantly lower than total bed capacity but shows a slight increase over time. This may indicate a shift toward more specailised services or a growing gap in general residential care availability.</p>
                        <h3 class="govuk-heading-s">How you might use this insight:</h3>
                        <ul class="govuk-list govuk-list--bullet">
                            <li><strong>Review residential care provision:</strong> Determine if the current supply of general residential care beds aligns with local demand, particularly for older adults needing basic care.</li>
                            <li><strong>Diversify care offerings:</strong> Consider expanding general residential care services if demand in this category is expected to rise.</li>
                        </ul>
                        <!---
                        <p class="govuk-body"><strong>Rate this smart insight</strong></p>
                        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Helpful
                        </button>&nbsp;&nbsp;&nbsp;
                        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Not helpful
                        </button>
                        -->
                       <p class="govuk-body"><a class="govuk-link" href="#">Back </a></p>

                    {% endblock %}