{% extends "layouts/logged-in.html" %}

{% set pageName="Your dashboard" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-xl">Get adult social care data</h2>
    <p class="govuk-body-l">Access the latest data relevant to adult social care in England.</p>
  </div>
</div>
<p><strong>Views</strong></p>
<style>
  .pick-view{margin: 0 0 2em 0}
  .pick-view li{display: inline;margin-right: 3em;margin-left:-2em}
</style>
<ul class="pick-view">
  <li>Current demand</li>
  <li><a href="#">Current capacity</a></li>
  <li><a href="#">Future demand</a></li>
</ul>
<!-- 

Panels 

-->
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#past-day">
        Map
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        Data
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-month">
        Chart
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-year">
        Time series
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="past-day">
    <h2 class="govuk-heading-l">Map</h2>
    {% include "./_map.html" %}
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
    <h2 class="govuk-heading-l">Data</h2>
    <button type="submit" style="margin-right:1em" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Edit locations
    </button>
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Edit indicators
    </button>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Location</th>
          <th scope="col" class="govuk-table__header">Population aged 85 and over (%)</th>
          <th scope="col" class="govuk-table__header">Total beds per 100,000</th>
          <th scope="col" class="govuk-table__header">Total beds occupied (%)</th>
          <th scope="col" class="govuk-table__header">Nursing dementia beds per 100,000</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">East Suffolk</td>
          <td class="govuk-table__cell">31.4</td>
          <td class="govuk-table__cell">2,183.6</td>
          <td class="govuk-table__cell">89</td>
          <td class="govuk-table__cell">160.1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Suffolk</td>
          <td class="govuk-table__cell">33.3</td>
          <td class="govuk-table__cell">2,398.4</td>
          <td class="govuk-table__cell">87</td>
          <td class="govuk-table__cell">160.9</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Cambridgeshire</td>
          <td class="govuk-table__cell">35.1</td>
          <td class="govuk-table__cell">2,137.9</td>
          <td class="govuk-table__cell">86</td>
          <td class="govuk-table__cell">162.3</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">East of England, mean</td>
          <td class="govuk-table__cell">29.8</td>
          <td class="govuk-table__cell">2,398.4</td>
          <td class="govuk-table__cell">92</td>
          <td class="govuk-table__cell">160.1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">England, mean</td>
          <td class="govuk-table__cell">29.9</td>
          <td class="govuk-table__cell">1,998.3</td>
          <td class="govuk-table__cell">91</td>
          <td class="govuk-table__cell">150.9</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
    <h2 class="govuk-heading-l">Chart</h2>
    <button type="submit" style="margin-right:1em" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Edit locations
    </button>
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Edit indicators
    </button>
    <table class="govuk-table" style="width:80%">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Location</th>
          <th scope="col" class="govuk-table__header" style="text-align: right;">Population <br>aged 85 and <br>over (%)</th>
          <th scope="col" class="govuk-table__header">Data bar</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">East Suffolk</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">31.4</td>
          <td class="govuk-table__cell">
            <style>
              .chart-bar{fill:purple; margin: 0}
            </style>
            <svg width="340" height="30">
              <rect width="314" height="30" class="chart-bar"></rect>
            </svg>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Suffolk</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">33.3</td>
          <td class="govuk-table__cell">
            <svg width="340" height="30">
              <rect width="333" height="30" class="chart-bar"></rect>
            </svg>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Cambridgeshire</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">35.1</td>
          <td class="govuk-table__cell">
            <svg width="340" height="30">
              <rect width="351" height="30" class="chart-bar"></rect>
            </svg>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">East of England, mean</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">29.8</td>
          <td class="govuk-table__cell">
            <svg width="340" height="30">
              <rect width="298" height="30" class="chart-bar"></rect>
            </svg>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">England, mean</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">29.9</td>
          <td class="govuk-table__cell">
            <svg width="340" height="30">
              <rect width="299" height="30" class="chart-bar"></rect>
            </svg>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
    <h2 class="govuk-heading-l">Time series</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case manager</th>
          <th scope="col" class="govuk-table__header">Cases opened</th>
          <th scope="col" class="govuk-table__header">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">1380</td>
          <td class="govuk-table__cell">1472</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">1129</td>
          <td class="govuk-table__cell">1083</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">1539</td>
          <td class="govuk-table__cell">1265</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}