{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% set pageName = "Release history (Private beta)" %}
{% set htmlClasses = "unbranded-fill-page" %}
{% set bodyClasses = "unbranded-fill-page" %}

{% block content %}
<div class="govuk-form-group">
  <a class="govuk-back-link" href="../index">Back</a>
</div>

<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl">Private beta</span>
  Release history
</h1>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="2026/january/pages">January 2026</a> <strong class="govuk-tag">Latest</strong></li>
  <li><a href="2025/december/pages">December 2025</a>
  <li><a href="2025/august/pages">August 2025</a></li>
  <li><a href="2025/july/pages">July 2025</a></li>
  <li><a href="2025/june/pages">June 2025</a></li>
  <li><a href="2025/march/pages">March 2025</a></li>
</ul>
{% endblock %}