{% extends "v4/layouts/logged-in.html" %}

{% set pageName = "Your dashboard" %}

{% block content %}

<!-- <a href="#" class="govuk-back-link">Back</a> -->
<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      Get adult social care data
    </h1>
   <p class="govuk-body-l">Find adult social care data for England, all in one place</p>

   <p class="govuk-body">Get the most current data relevant to adult social care in England. Analyse trends, compare areas, and make informed decisions with trusted data from multiple sources.</p>

      <div class="govuk-button-group">
        <a href="get-data"><button type="submit" class="govuk-button" data-module="govuk-button">
      Start here to get data
        </button>
      </a>

      <!--
       <a href="dashboard"><button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Go to your dashboard
      </button></a>
    -->
      </div>
    
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      
      <!--What's new -->

      <h2 class="govuk-heading-m">What's new</h2>

      <h3 class="govuk-heading-s">March 2025</h3>

      <p class="govuk-body">
        The Get adult social care data service is now live. Our first update focuses on <strong>demand and capacity</strong> in adult social care, helping you:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li><strong>understand current demand and provision</strong> – explore factors driving demand and get insights into current provision</li>
            <li><strong>plan for future demand</strong> – analyse projected care needs and trends by care type</li>
              <li><strong>assess the current market</strong> – review provider availability, occupancy levels and service performance</li>
            </ul>
      <p class="govuk-link"><a href="get-data.html" class="govuk-link">Start exploring the data now</a></p>

      <p class="govuk-body"><a href="../help/news-archive.html" class="govuk-link">View news archive</a></p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <!--
      <h2 class="govuk-heading-m">Turn data into insight</h2>

      <p class="govuk-body">Go beyond numbers. With this tool, you can uncover insights such as:

        <ul class="govuk-list govuk-list--bullet">
          <li>trends in demand for different types of care</li>
          <li>areas where capacity is under pressure or services are over-provided</li>
          <li>patterns in how services and care needs vary across different areas and indicators</li>
        </ul>

        <p class="govuk-body">To explore further, <a href="get-data" class="govuk-link">browse data by topic</a>.</p>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      -->
       <!---
        <h2 class="govuk-heading-m">Highlighted topics</h2>

        <h3 class="govuk-heading-s"><a href="" class="govuk-link">Demand and capacity</a><h3>

        <p class="govuk-body">Analyse demand for care services and the market's capacity to meet needs.</p>

        <h3 class="govuk-heading-s"><a href="" class="govuk-link">Workforce</a><h3>

          <p class="govuk-body">Identify trends and patterns in the adult social care workforce.</p>
  
        <h3 class="govuk-heading-s"><a href="" class="govuk-link">Finance and economy</a><h3>

        <p class="govuk-body">Review funding, spending patterns, and financial pressures on the sector..</p>

         <p class="govuk-body"><a href="" class="govuk-link">Explore all topics</a></p>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
--->
        <!---
        <h2 class="govuk-heading-m">How data is presented</h2>

        <p class="govuk-body">Get more than just spreadsheets and static tables.

          <ul class="govuk-list govuk-list--bullet">
            <li><strong>Interactive charts:</strong> Explore data visually and filter it to meet your needs
            <li><strong>Personalised dashboard</strong>: Save and share key data tailored to your goals
            <li><strong>Stories in data:</strong> Contextualise numbers with insights to support action and decision-making
          </ul>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        -->
        <!--
        <h2 class="govuk-heading-m">About Get adult social care data</h2>
  
        <p class="govuk-body">This digital tool gives you access to reliable, up-to-date data relevant to adult social care in England.</p>
        
        <p class="govuk-body">Bringing together data from multiple sources, it helps you uncover valuable insights and make informed decisions.</p>
  
        <h3 class="govuk-heading-s">What this service offers</h3>
        
        <ul class="govuk-list govuk-list--bullet">
        <li><strong>Detailed data</strong> to help answer your key questions relating to adult social care</li>
        <li><strong>Interactive tools</strong> to explore and analyse data, benchmark performance and identify trends</li>
        <li><strong>Data-driven insights</strong> to help your organisation drive change and plan for the future</li>
        </ul>
  
        <p class="govuk-body"><a href="../help/help.html" class="govuk-link">Learn more about Get adult social care data</a></p>
  
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      -->
        

        <h2 class="govuk-heading-m">New to Get adult social care data?</h2>

          <p class="govuk-body">Visit the Help section to:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>follow a <strong>step-by-step walkthrough</strong> to guide you through the service</li>
              <li>find a <strong>quick-start guide </strong>to help you find the data you need</li>
              <li>access <strong>detailed information</strong> on data sources, update schedules, and what data is available.</li>
            </ul>

            <p class="govuk-body">For support with using this service, <a href="../help/topics.html" class="govuk-link">visit Help</a>.</p>
    
    </div>
  


  <!--
  <h2 class="govuk-heading-m">Latest data releases</h2>

  <p class="govuk-body">New data is available for these indicators:</p>

  <p class="govuk-body"><strong>22 January 2025</strong><br><li><a href="../data-pages/total_beds.html" class="govuk-link">Total beds</a></li></p>
  <p class="govuk-body"><strong>7 January 2025</strong><br><li><a href="" class="govuk-link">Overall client satisfaction</a></li></p>
  <p class="govuk-body"><strong>6 January 2025</strong><br><li><a href="" class="govuk-link">Bed occupancy rate</a></li></p>

  <p class="govuk-body"><a href="" class="govuk-link">View all updates</a></p>
  -->

  


    <div class="govuk-grid-column-two-thirds">
     </div>

  
</div>
</div>

  {% endblock %}
