{% extends "private-beta/2025/december/layouts/signed-in.html" %}

{% set pageName = "Edit filters" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../../../../home"
    },
    {
      text: "Care homes",
      href: "../../subtopics"
    },
    {
      text: "Care home beds and occupancy levels",
      href: "../data"
    }
  ]
}) }}
{% endblock %}

{% block pageTitle %}
  {% if error %}Error: {% endif %}{{pageName}} – {{serviceName}} – GOV.UK
{% endblock %}

{% block content %} 
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">

    <form action="_4-filters-validation" method="post" novalidate>

      {% if error %}
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        
        <div role="alert">
          <h2 class="govuk-error-summary__title">There is a problem</h2>
          
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li><a href="#bedType">Select at least one filter</a></li>
            </ul>
          </div>

        </div>

      </div>
      {% endif %}

      <div {% if error %}class="govuk-form-group govuk-form-group--error" aria-describedby="bedType-error"{% else %}class="govuk-form-group"{% endif %}>
        <fieldset class="govuk-fieldset" aria-describedby="bedType-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <span class="govuk-caption-xl">Care home bed numbers - trends over time</span> 
            <h1 class="govuk-fieldset__heading">{{pageName}}</h1>
          </legend>
          
          <div id="bedType-hint" class="govuk-hint govuk-!-margin-top-6">
            Select filters to refine the data displayed.
          </div>
          {% if error %}

          <p id="bedType-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Select at least one filter</p>
          {% endif %}

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="bedType" name="bedType4" type="checkbox" value="All bed types"{% if data.bedType4 %}{% for param in data.bedType4 %}{% if param == 'All bed types' %} checked{% endif %}{% endfor %}{% else %} checked{% endif %}>
              <label class="govuk-label govuk-checkboxes__label" for="bedType">All bed types</label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="bedType-2" name="bedType2" type="checkbox" value="Community care bed" aria-describedby="bedType-2-item-hint"{% for param in data.bedType2 %}{% if param == 'Community care bed' %} checked{% endif %}{% endfor %}>
              <label class="govuk-label govuk-checkboxes__label" for="bedType-2">Community care bed</label>

              <div id="bedType-2-item-hint" class="govuk-hint govuk-checkboxes__hint">
                For patients leaving hospital who are not ready to go home.
              </div>

            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="bedType-3" name="bedType4" type="checkbox" value="Dementia nursing"{% if data.bedType4 %}{% for param in data.bedType4 %}{% if param == 'Dementia nursing' %} checked{% endif %}{% endfor %}{% else %} checked{% endif %}>
              <label class="govuk-label govuk-checkboxes__label" for="bedType-3">Dementia nursing</label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="bedType-4" name="bedType4" type="checkbox" value="Dementia residential"{% if data.bedType4 %}{% for param in data.bedType4 %}{% if param == 'Dementia residential' %} checked{% endif %}{% endfor %}{% else %} checked{% endif %}>
              <label class="govuk-label govuk-checkboxes__label" for="bedType-4">Dementia residential</label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="bedType-5" name="bedType4" type="checkbox" value="General nursing"{% for param in data.bedType4 %}{% if param == 'General nursing' %} checked{% endif %}{% endfor %}>
              <label class="govuk-label govuk-checkboxes__label" for="bedType-5">General nursing</label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="bedType-6" name="bedType4" type="checkbox" value="General residential"{% for param in data.bedType4 %}{% if param == 'General residential' %} checked{% endif %}{% endfor %}>
              <label class="govuk-label govuk-checkboxes__label" for="bedType-6">General residential</label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="bedType-7" name="bedType4" type="checkbox" value="Learning disability nursing"{% for param in data.bedType4 %}{% if param == 'Learning disability nursing' %} checked{% endif %}{% endfor %}>
              <label class="govuk-label govuk-checkboxes__label" for="bedType-7">Learning disability nursing</label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="bedType-8" name="bedType4" type="checkbox" value="Learning disability residential"{% for param in data.bedType4 %}{% if param == 'Learning disability residential' %} checked{% endif %}{% endfor %}>
              <label class="govuk-label govuk-checkboxes__label" for="bedType-8">Learning disability residential</label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="bedType-9" name="bedType4" type="checkbox" value="Mental health nursing"{% for param in data.bedType4 %}{% if param == 'Mental health nursing' %} checked{% endif %}{% endfor %}>
              <label class="govuk-label govuk-checkboxes__label" for="bedType-9">Mental health nursing</label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="bedType-10" name="bedType4" type="checkbox" value="Mental health residential"{% for param in data.bedType4 %}{% if param == 'Mental health residential' %} checked{% endif %}{% endfor %}>
              <label class="govuk-label govuk-checkboxes__label" for="bedType-10">Mental health residential</label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="bedType-11" name="bedType4" type="checkbox" value="Transitional" aria-describedby="bedType-11-item-hint"{% for param in data.bedType4 %}{% if param == 'Transitional' %} checked{% endif %}{% endfor %}>
              <label class="govuk-label govuk-checkboxes__label" for="bedType-11">Transitional</label>

              <div id="bedType-11-item-hint" class="govuk-hint govuk-checkboxes__hint">
                For individuals moving from children's services to adult social care.
              </div>

            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="bedType-12" name="bedType4" type="checkbox" value="Young physically disabled"{% for param in data.bedType4 %}{% if param == 'Young physically disabled' %} checked{% endif %}{% endfor %}>
              <label class="govuk-label govuk-checkboxes__label" for="bedType-12">Young physically disabled</label>
            </div>

          </div>
          
        </fieldset>
      </div>    
              
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">Apply changes</button>
        <a class="govuk-link" href="../data#trend1">Cancel and go back</a>
      </div>

    </form>

  </div>

</div>
{% endblock %}