{% extends "v6/layouts/logged-in.html" %}

{% set pageName = "Community social care" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../../home"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{pageName}}</h1>
    <p class="govuk-body-l">Find data on home care, supported living and supported housing providers.</p>

    <div class="gem-c-cards">
      <ul class="gem-c-cards__list gem-c-cards__list--one-column">
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="community-care-providers/data">Locations and services for community social care providers</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Explore data on home care, supported living and supported housing providers by location.</p>
          </div>
        
        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="hours-of-paid-care/data" data-message="Sorry, this hasn’t been designed yet">Hours of paid community social care</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Find out how your hours of paid care compare to national, regional and local statistics.</p>
          </div>
        
        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="number-of-people-receiving-care/data" data-message="Sorry, this hasn’t been designed yet">Number of people receiving care</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Check how the number of people you support compares to national, regional and local statistics.</p>
          </div>
        
        </li>
      </ul>
    </div>

  </div>

</div>
{% endblock %}