<style>
  .chart-bar{fill:#955196; margin: 0}
</style>
{% set las = 
  [
  ["Cambridgeshire",2387,89],
  ["Southend On Sea",2376,87],
  ["Cambridgeshire",2354,91],
  ["Suffolk",2349,89],
  ["Central Bedfordshire",2317,82],
  ["Hertfordshire",2295,92],
  ["East of England, mean",2299,80],
  ["Thurrock",2204,85],
  ["All of England, mean",2145,87],
  ["Peterborough",2086,93],
  ["Norfolk",2079,81],
  ["Bedford",2067,84],
  ["Luton",2017,90]
  ]
  %}
<div class="govuk-grid-column-two-thirds">
  <h3 class="govuk-heading-m">Residential care beds in the East of England</h3>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" style="min-width:12em">Location</th>
        <th scope="col" class="govuk-table__header" style="text-align: right;"></th>
        <th scope="col" class="govuk-table__header">Residential care beds per 100K</span></th>
        <!-- <th scope="col" class="govuk-table__header" style="text-align: right;">Care home capacity</th>
        <th scope="col" class="govuk-table__header">Data bar</th> -->
      </tr>
    </thead>
    {% for item in las %}
    {% if item[0] == "Suffolk" %} 
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><strong>Suffolk</strong></td>
      <td class="govuk-table__cell govuk-table__cell--numeric">2,245</td>
      <td class="govuk-table__cell">
        <svg width="340" height="25">
          <rect width="235" height="25" class="chart-bar" style="fill:#DD5182"></rect>
        </svg>
      </td>
      <!-- <td class="govuk-table__cell govuk-table__cell--numeric">89%</td>
      <td class="govuk-table__cell">
        <svg width="340" height="25">
          <rect width="200" height="25" class="chart-bar" style="fill:white; stroke-width:2;stroke:#e1e1e1"></rect>
          <rect width="178" height="25" class="chart-bar" style="fill:orange"></rect>
        </svg>
      </td> -->
    </tr>
    {% else %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{item[0]}}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">{{item[1]|addcommas}}</td>
      <td class="govuk-table__cell">
        <svg width="340" height="25">
          <rect width="{{item[1]/10}}" height="25" class="chart-bar"></rect>
        </svg>
      </td>
      <!-- <td class="govuk-table__cell govuk-table__cell--numeric">{{item[2]}}%</td>
      <td class="govuk-table__cell">
        <svg width="340" height="25">
          <rect width="200" height="25" class="chart-bar" style="fill:white; stroke-width:2;stroke:#e1e1e1"></rect>
          <rect width="{{item[2] * 2}}" height="28" y="1" x ="1" class="chart-bar" style="fill:gold"></rect>
        </svg>
      </td> -->
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
<p><a href="#">Export table as PNG</a></p>
</div>