{% extends "v9/layouts/signed-in.html" %}

{% set pageName = "Funding" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../../home"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{pageName}}</h1>
    <p class="govuk-body-l">Find data on <abbr title="Local Authority">LA</abbr> funding.</p>

    <div class="gem-c-cards">
      <ul class="gem-c-cards__list gem-c-cards__list--one-column">
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../financial-spend-and-unpaid-care/financial-spend/data"><abbr title="Local Authority">LA</abbr> funding</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Data on funding for both short-term and long-term care, also funding by individual care type.</p>
          </div>

        </li>
      </ul>
    </div>

  </div>

</div>
{% endblock %}