{% extends "v9/layouts/signed-in.html" %}

{% block pageTitle %}
LA funding for adult social care - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../../../home"
    },
    {
      text: "Funding",
      href: "../subtopics"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl"><abbr title="Local Authority">LA</abbr> funding for adult social care</h1>
    <p class="govuk-body-l">Data on funding for both short-term and long-term care, also funding by individual care type.</p>
    
    <div class="govuk-form-group">
      <h2 class="govuk-heading-l govuk-!-margin-top-9">Data overview</h2>
      <!-- <p class="govuk-body">Data overview summary information, e.g. broad guidance.</p> -->
      {% include "./filters/_page-filter-component.html" %}
    </div>

  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <div class="data-box govuk-form-group">

      <div class="govuk-tabs" data-module="govuk-tabs">
        
        <div class="govuk-form-group">
          <h3 class="govuk-heading-m"><abbr title="Local Authority">LA</abbr> adult social care funding by duration of care</h3>
          <p class="govuk-body">Find out <a href="../../../help/percentages-financial-spend-long-term-and-short-term-care">how the financial spend for short&#45;term and long&#45;term care is calculated</a>.</p>
        </div>

        <h3 class="govuk-tabs__title">Contents</h3>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data1-table">Table</a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data1-download">Download</a>
          </li>
        </ul>

        <div class="govuk-tabs__panel" id="data1-table">
          {% include "./data-visualisations/_1-table.html" %}
        </div>

        <div class="govuk-tabs__panel" id="data1-download">
          <h4 class="govuk-heading-s">Download</h4>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="/public/downloads/v9/funding/la-funding-for-adult-social-care/table-1-la-adult-social-care-funding-by-duration-of-care.csv">Export table data (CSV)</a>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <div class="data-box govuk-form-group">

      <div class="govuk-tabs" data-module="govuk-tabs">
        
        <div class="govuk-form-group">
          <h3 class="govuk-heading-m"><abbr title="Local Authority">LA</abbr> funding for long-term adult social care</h3>
          <p class="govuk-body">Find out <a href="../../../help/total-financial-spend-adult-social-care">how the financial spend is calculated by service type</a>.</p>
        </div>

        <h3 class="govuk-tabs__title">Contents</h3>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data2-table">Table</a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data2-download">Download</a>
          </li>
        </ul>

        <div class="govuk-tabs__panel" id="data2-table">
          {% include "./data-visualisations/_2-table.html" %}
        </div>

        <div class="govuk-tabs__panel" id="data2-download">
          <h4 class="govuk-heading-s">Download</h4>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="/public/downloads/v9/funding/la-funding-for-adult-social-care/table-2-la-funding-for-long-term adult-social-care.csv">Export table data (CSV)</a>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l govuk-!-margin-top-9">Trends</h2>
    <!-- <p class="govuk-body">Trends summary information, e.g. limitation.</p> -->
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <div class="data-box">

      <div class="govuk-tabs" data-module="govuk-tabs">
        
        <div class="govuk-form-group">
          <h3 id="trend1" class="govuk-heading-m"><abbr title="Local Authority">LA</abbr> funding for long-term adult social care &ndash; trends over time</h3>
          <p class="govuk-body">Find out <a href="../../../help/total-financial-spend-long-term-community-adult-social-care">how the financial spend on long&#45;term adult social care is calculated</a>.</p>
          {% include "./filters/_3-filter-component.html" %}
        </div>

        <h3 class="govuk-tabs__title">Contents</h3>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#trend-chart">Graph</a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#trend-table">Table</a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#trend-download">Download</a>
          </li>
        </ul>

        <div class="govuk-tabs__panel" id="trend-chart">
          {% include "./data-visualisations/_3-time-series.html" %}
        </div>

        <div class="govuk-tabs__panel" id="trend-table">
          {% include "./data-visualisations/_3-table.html" %}
        </div>

        <div class="govuk-tabs__panel" id="trend-download">
          <h4 class="govuk-heading-s">Download</h4>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="/public/downloads/v9/funding/la-funding-for-adult-social-care/chart-3-la-funding-for-long-term adult-social-care-trends-over-time.png">Download chart image (PNG)</a>
            </li>
            <li>
              <a class="govuk-link" href="/public/downloads/v9/funding/la-funding-for-adult-social-care/table-3-la-funding-for-long-term adult-social-care-trends-over-time.csv">Export table data (CSV)</a>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l govuk-!-margin-top-9">Data indicator details</h2>
    <p class="govuk-body">Use the links to view details on the data source, how the data was collected and any limitations to consider when using the data.</p>

    <div class="gem-c-cards">
      <ul class="gem-c-cards__list gem-c-cards__list--one-column">
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../../../help/total-financial-spend-adult-social-care"><abbr title="Local Authority">LA</abbr> funding for adult social care</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: NHS England.<br>Yearly updates, limitations might apply.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../../../help/total-financial-spend-long-term-community-adult-social-care"><abbr title="Local Authority">LA</abbr> funding for long&#45;term community adult social care</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: NHS England.<br>Yearly updates, limitations might apply.</p>
          </div>

        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../../../help/percentages-financial-spend-long-term-and-short-term-care"><abbr title="Local Authority">LA</abbr> funding for short&#45;term and long&#45;term adult social care</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Source: NHS England.<br>Yearly updates, limitations might apply.</p>
          </div>

        </li>
      </ul>
    </div>
    
    <h2 class="govuk-heading-l govuk-!-margin-top-9">Information on the local care market</h2>
    <p class="govuk-body" data-module="edge"><a href="#" class="govuk-link" data-message="This link would take you to the Market Position Statement on the Suffolk LA website.">Market Position Statement for Suffolk (opens in new tab)</a></p>
    <p class="govuk-body">Most <abbr title="Local Authority">LA</abbr>s in England publish Market Position Statements (MPS) to help care providers understand the local care market.</p>
    <p class="govuk-body">You can usually find these <abbr title="Market Position Statement">MPS</abbr> documents on <abbr title="Local Authority">LA</abbr> websites.</p>
    <p class="govuk-body"><abbr title="Market Position Statement">MPS</abbr> documents include information on:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>supply and demand in the local care market</li>
      <li>forecasts of future supply and demand for adult social care services</li>
      <li>how the <abbr title="Local Authority">LA</abbr> will support the local care market to meet demand</li>
      <li>how the <abbr title="Local Authority">LA</abbr> will engage with care providers on challenges in the sector, such as funding pressures</li>
    </ul>

    <div data-sticky-element class="gem-c-contents-list-with-body__link-wrapper govuk-!-margin-top-9">

      <div class="gem-c-contents-list-with-body__link-container">
        <a class="govuk-link gem-c-back-to-top-link govuk-!-display-none-print" href="#top">
          <svg class="gem-c-back-to-top-link__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>
          Back to top
        </a>
      </div>

    </div>

  </div>

</div>
{% endblock %}

{% block pageScripts %}
<!-- Filters (progressive enhancement) code that loads and controls the dynamic filters for this page -->
<script src="/public/javascripts/v9/filters.js"></script>
<!-- Font Awesome 4 icons for the notifications -->
<link href="/public/open-source/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
{% endblock %}