<table class="govuk-table" data-module="moj-sortable-table">
    <caption class="govuk-table__caption">Table 2: age group percentages for older age groups &ndash; <abbr title="Local Authority">LA</abbr> districts in England, mid-2024</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" aria-sort="none">Indicator</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">{% if data.ageGroup4 == 'Aged 65 to 74' %}Aged 65 to 74{% elif data.ageGroup4 == 'Aged 75 to 84' %}Aged 75 to 84{% else %}Aged 85 and over{% endif %}</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><strong>Mid Suffolk</strong></td>
      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{% if data.ageGroup4 == 'Aged 65 to 74' %}13.7{% elif data.ageGroup4 == 'Aged 75 to 84' %}8.5{% else %}3.2{% endif %}">{% if data.ageGroup4 == 'Aged 65 to 74' %}13.7{% elif data.ageGroup4 == 'Aged 75 to 84' %}8.5{% else %}3.2{% endif %}&#37;</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Claydon & Bramford</td>
      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{% if data.ageGroup4 == 'Aged 65 to 74' %}14.9{% elif data.ageGroup4 == 'Aged 75 to 84' %}9.6{% else %}3.9{% endif %}">{% if data.ageGroup4 == 'Aged 65 to 74' %}14.9{% elif data.ageGroup4 == 'Aged 75 to 84' %}9.6{% else %}3.9{% endif %}&#37;</td>
    </tr>
     <tr class="govuk-table__row">
      <td class="govuk-table__cell">Debenham, Stonham & Coddenham</td>
      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{% if data.ageGroup4 == 'Aged 65 to 74' %}15.8{% elif data.ageGroup4 == 'Aged 75 to 84' %}7.8{% else %}2.8{% endif %}">{% if data.ageGroup4 == 'Aged 65 to 74' %}15.8{% elif data.ageGroup4 == 'Aged 75 to 84' %}7.8{% else %}2.8{% endif %}&#37;</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Elmswell South, Haughley, Beyton & Felsham</td>
      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{% if data.ageGroup4 == 'Aged 65 to 74' %}15.6{% elif data.ageGroup4 == 'Aged 75 to 84' %}10{% else %}3.4{% endif %}">{% if data.ageGroup4 == 'Aged 65 to 74' %}15.6{% elif data.ageGroup4 == 'Aged 75 to 84' %}10.0{% else %}3.4{% endif %}&#37;</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Eye, Palgrave & Occold</td>
      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{% if data.ageGroup4 == 'Aged 65 to 74' %}16.9{% elif data.ageGroup4 == 'Aged 75 to 84' %}10.2{% else %}3.9{% endif %}">{% if data.ageGroup4 == 'Aged 65 to 74' %}16.9{% elif data.ageGroup4 == 'Aged 75 to 84' %}10.2{% else %}3.9{% endif %}&#37;</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Fressingfield, Laxfield and Worlingworth</td>
      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{% if data.ageGroup4 == 'Aged 65 to 74' %}16.4{% elif data.ageGroup4 == 'Aged 75 to 84' %}10.6{% else %}3.2{% endif %}">{% if data.ageGroup4 == 'Aged 65 to 74' %}16.4{% elif data.ageGroup4 == 'Aged 75 to 84' %}10.6{% else %}3.2{% endif %}&#37;</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Needham Market South & Great Blakenham</td>
      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{% if data.ageGroup4 == 'Aged 65 to 74' %}10.9{% elif data.ageGroup4 == 'Aged 75 to 84' %}7.4{% else %}2.8{% endif %}">{% if data.ageGroup4 == 'Aged 65 to 74' %}10.9{% elif data.ageGroup4 == 'Aged 75 to 84' %}7.4{% else %}2.8{% endif %}&#37;</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Rickinghall, Walsham le Willows & Gislingham</td>
      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{% if data.ageGroup4 == 'Aged 65 to 74' %}15.4{% elif data.ageGroup4 == 'Aged 75 to 84' %}9.6{% else %}3.2{% endif %}">{% if data.ageGroup4 == 'Aged 65 to 74' %}15.4{% elif data.ageGroup4 == 'Aged 75 to 84' %}9.6{% else %}3.2{% endif %}&#37;</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Stowmarket East & Needham Market North</td>
      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{% if data.ageGroup4 == 'Aged 65 to 74' %}8.3{% elif data.ageGroup4 == 'Aged 75 to 84' %}4.8{% else %}2{% endif %}">{% if data.ageGroup4 == 'Aged 65 to 74' %}8.3{% elif data.ageGroup4 == 'Aged 75 to 84' %}4.8{% else %}2.0{% endif %}&#37;</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Stowmarket Outer, Finborough & Battisford</td>
      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{% if data.ageGroup4 == 'Aged 65 to 74' %}12.4{% elif data.ageGroup4 == 'Aged 75 to 84' %}7.5{% else %}3.3{% endif %}">{% if data.ageGroup4 == 'Aged 65 to 74' %}12.4{% elif data.ageGroup4 == 'Aged 75 to 84' %}7.5{% else %}3.3{% endif %}&#37;</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Stowmarket West</td>
      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{% if data.ageGroup4 == 'Aged 65 to 74' %}13.1{% elif data.ageGroup4 == 'Aged 75 to 84' %}8.8{% else %}3.9{% endif %}">{% if data.ageGroup4 == 'Aged 65 to 74' %}13.1{% elif data.ageGroup4 == 'Aged 75 to 84' %}8.8{% else %}3.9{% endif %}&#37;</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Stowupland, Mendlesham & Bacton</td>
      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{% if data.ageGroup4 == 'Aged 65 to 74' %}14.5{% elif data.ageGroup4 == 'Aged 75 to 84' %}9.3{% else %}3.5{% endif %}">{% if data.ageGroup4 == 'Aged 65 to 74' %}14.5{% elif data.ageGroup4 == 'Aged 75 to 84' %}9.3{% else %}3.5{% endif %}&#37;</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Thurston, Badwell Ash & Elmswell North</td>
      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{% if data.ageGroup4 == 'Aged 65 to 74' %}13.2{% elif data.ageGroup4 == 'Aged 75 to 84' %}8.3{% else %}3{% endif %}">{% if data.ageGroup4 == 'Aged 65 to 74' %}13.2{% elif data.ageGroup4 == 'Aged 75 to 84' %}8.3{% else %}3.0{% endif %}&#37;</td>
    </tr>
  </tbody>
</table>

<div class="govuk-form-block">
  <p class="govuk-body data-source">Source: Population estimates from the Office for National Statistics (ONS)</p>
</div>