{% extends "v6/layouts/logged-in.html" %}

{% block content %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Get adult social care data</h1>
        <p class="govuk-body-l">Access data on adult social care provision and population needs at national, regional and local levels across England.</p>
    </div>

</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-top-7"><a href="topics/residential-care/subtopics" class="govuk-link">Care homes</a></h2>
    </div>

</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">
        <a href="#" class="app-card" data-message="Sorry, this hasn’t been designed yet">
            <h3 class="govuk-heading-m app-card__heading" data-message="Sorry, this hasn’t been designed yet">Locations and services for care home providers</h3>
            <p class="govuk-body" data-message="Sorry, this hasn’t been designed yet">Explore data on residential care homes and nursing homes by location. Filter by service and bed type.</p>
        </a>
    </div>

    <div class="govuk-grid-column-one-half">
        <a href="#" class="app-card" data-message="Sorry, this hasn’t been designed yet">
            <h3 class="govuk-heading-m app-card__heading" data-message="Sorry, this hasn’t been designed yet">Care home bed provision and occupancy levels</h3>
            <p class="govuk-body" data-message="Sorry, this hasn’t been designed yet">Compare capacity data for care homes in a local authority area to national and regional statistics.</p>
        </a>
    </div>

</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-top-7"><a href="topics/community-social-care/subtopics" class="govuk-link">Community social care</a></h2>
    </div>

</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">
        <a href="topics/community-social-care/community-care-providers/data" class="app-card">
            <h3 class="govuk-heading-m app-card__heading">Locations and services for community social care providers</h3>
            <p class="govuk-body">Explore data on home care, supported living and supported housing providers by location.</p>
        </a>
    </div>

    <div class="govuk-grid-column-one-half">
        <a href="topics/community-social-care/hours-of-paid-care/data" class="app-card">
            <h3 class="govuk-heading-m app-card__heading">Hours of paid community social care</h3>
            <p class="govuk-body">Find out how your hours of paid care compare to totals at local authority level. Compare your provision metrics to regional and national statistics.</p>
        </a>
    </div>

</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">
        <a href="topics/community-social-care/number-of-people-receiving-care/data" class="app-card">
            <h3 class="govuk-heading-m app-card__heading">Number of people receiving care</h3>
            <p class="govuk-body">Check how the number of people you support compares to regional and national averages. View your proportion of total local authority provision.</p>
        </a>
    </div>

</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-top-7"><a href="topics/financial-spend-and-unpaid-care/subtopics" class="govuk-link">Financial spend and unpaid care</a></h2>
    </div>

</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">
        <a href="topics/financial-spend-and-unpaid-care/financial-spend/data" class="app-card">
            <h3 class="govuk-heading-m app-card__heading">Financial spend on adult social care</h3>
            <p class="govuk-body">View a breakdown of spending by service type over the last three financial years. The data also includes spending by short-term and long-term care.</p>
        </a>
    </div>

    <div class="govuk-grid-column-one-half">
        <a href="#" class="app-card" data-message="Sorry, this hasn’t been designed yet">
            <h3 class="govuk-heading-m app-card__heading" data-message="Sorry, this hasn’t been designed yet">Unpaid care</h3>
            <p class="govuk-body" data-message="Sorry, this hasn’t been designed yet">Find data on the percentage of the population aged 5 and over who provide unpaid care. Compare these statistics at local, regional and national levels.</p>
        </a>
    </div>

</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-top-7"><a href="topics/population-needs/subtopics" class="govuk-link">Population needs</a></h2>
    </div>

</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">
        <a href="#" class="app-card" data-message="Sorry, this hasn’t been designed yet">
            <h3 class="govuk-heading-m app-card__heading" data-message="Sorry, this hasn’t been designed yet">Population size and age group percentages</h3>
            <p class="govuk-body" data-message="Sorry, this hasn’t been designed yet">Population metrics to help with planning for adult social care demand and workforce availability.</p>
        </a>
    </div>

    <div class="govuk-grid-column-one-half">
        <a href="#" class="app-card" data-message="Sorry, this hasn’t been designed yet">
            <h3 class="govuk-heading-m app-card__heading" data-message="Sorry, this hasn’t been designed yet">Household composition and economic factors</h3>
            <p class="govuk-body" data-message="Sorry, this hasn’t been designed yet">These care needs indicators include the number of older people living alone and deprivation metrics.</p>
        </a>
    </div>

</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">
        <a href="#" class="app-card" data-message="Sorry, this hasn’t been designed yet">
            <h3 class="govuk-heading-m app-card__heading" data-message="Sorry, this hasn’t been designed yet">Disability prevalence and reasons for people to access long-term support</h3>
            <p class="govuk-body" data-message="Sorry, this hasn’t been designed yet">A snapshot of the most recent health indicators, including trends over time for disability type.</p>
        </a>
    </div>

    <div class="govuk-grid-column-one-half">
        <a href="#" class="app-card" data-message="Sorry, this hasn’t been designed yet">
            <h3 class="govuk-heading-m app-card__heading" data-message="Sorry, this hasn’t been designed yet">Dementia prevalence and estimated diagnosis rate</h3>
            <p class="govuk-body" data-message="Sorry, this hasn’t been designed yet">Data to help compare actual dementia diagnoses to the number of people likely to have dementia.</p>
        </a>
    </div>

</div>






{% endblock %}