{% extends "v6/layouts/logged-in.html" %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Get adult social care data</h1>
    <p class="govuk-body-l">Access the latest data on adult social care capacity and population needs across England.</p>
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l govuk-!-margin-top-5"><a href="topics/population-needs/subtopics" class="govuk-link">Population needs</a></h2>
  </div>

</div>

<div class="govuk-grid-row">
        
  <div class="govuk-grid-column-one-half">
    <a href="#" class="app-card" data-message="Sorry, this hasn’t been designed yet">
      <h3 class="govuk-heading-m app-card__heading" data-message="Sorry, this hasn’t been designed yet">Population age and size</h3>
      <p class="govuk-body" data-message="Sorry, this hasn’t been designed yet">Subtopic summary and/some related data</p>
    </a>
  </div>

  <div class="govuk-grid-column-one-half">
    <a href="#" class="app-card" data-message="Sorry, this hasn’t been designed yet">
      <h3 class="govuk-heading-m app-card__heading" data-message="Sorry, this hasn’t been designed yet">Household composition and economic factors</h3>
      <p class="govuk-body" data-message="Sorry, this hasn’t been designed yet">Subtopic summary and/some related data</p>
    </a>
  </div>

</div>

<div class="govuk-grid-row">
    
  <div class="govuk-grid-column-one-half">
    <a href="#" class="app-card" data-message="Sorry, this hasn’t been designed yet">
      <h3 class="govuk-heading-m app-card__heading" data-message="Sorry, this hasn’t been designed yet">Disability prevalence and reasons for people to access long term support</h3>
      <p class="govuk-body" data-message="Sorry, this hasn’t been designed yet">Subtopic summary and/some related data</p>
    </a>
  </div>  
  
  <div class="govuk-grid-column-one-half">
    <a href="#" class="app-card" data-message="Sorry, this hasn’t been designed yet">
      <h3 class="govuk-heading-m app-card__heading" data-message="Sorry, this hasn’t been designed yet">Dementia prevalence and estimated diagnosis rate</h3>
      <p class="govuk-body" data-message="Sorry, this hasn’t been designed yet">Subtopic summary and/some related data</p>
    </a>
  </div> 
    
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l govuk-!-margin-top-7"><a href="topics/community-social-care/subtopics" class="govuk-link">Community social care</a></h2>
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half">
    <a href="topics/community-social-care/community-care-providers/data" class="app-card">
      <h3 class="govuk-heading-m app-card__heading">Community social care providers - services and locations</h3>
      <p class="govuk-body">Subtopic summary and/some related data</p>
    </a>
  </div>  
      
  <div class="govuk-grid-column-one-half">
    <a href="topics/community-social-care/hours-of-paid-care/data" class="app-card">
      <h3 class="govuk-heading-m app-card__heading">Hours of paid care</h3>
      <p class="govuk-body">Subtopic summary and/some related data</p>
    </a>
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half">
    <a href="topics/community-social-care/number-of-people-receiving-care/data" class="app-card">
      <h3 class="govuk-heading-m app-card__heading">Number of people receiving care</h3>
      <p class="govuk-body">Subtopic summary and/some related data</p>
    </a>
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l govuk-!-margin-top-7"><a href="topics/residential-care/subtopics" class="govuk-link">Residential care</a></h2>
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half">
    <a href="#" class="app-card" data-message="Sorry, this hasn’t been designed yet">
      <h3 class="govuk-heading-m app-card__heading" data-message="Sorry, this hasn’t been designed yet">Residential care providers - services and locations</h3>
      <p class="govuk-body" data-message="Sorry, this hasn’t been designed yet">Subtopic summary and/some related data</p>
    </a>
  </div>  
      
  <div class="govuk-grid-column-one-half">
    <a href="#" class="app-card" data-message="Sorry, this hasn’t been designed yet">
      <h3 class="govuk-heading-m app-card__heading" data-message="Sorry, this hasn’t been designed yet">Provision of care home beds and occupancy levels</h3>
      <p class="govuk-body" data-message="Sorry, this hasn’t been designed yet">Subtopic summary and/some related data</p>
    </a>
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l govuk-!-margin-top-7"><a href="topics/financial-spend-and-unpaid-care/subtopics" class="govuk-link">Financial spend and unpaid care</a></h2>
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half">
    <a href="topics/financial-spend-and-unpaid-care/financial-spend/data" class="app-card">
      <h3 class="govuk-heading-m app-card__heading">Financial spend on adult social care</h3>
      <p class="govuk-body">Subtopic summary and/some related data</p>
    </a>
  </div>  
      
  <div class="govuk-grid-column-one-half">
    <a href="#" class="app-card" data-message="Sorry, this hasn’t been designed yet">
      <h3 class="govuk-heading-m app-card__heading" data-message="Sorry, this hasn’t been designed yet">Unpaid care</h3>
      <p class="govuk-body" data-message="Sorry, this hasn’t been designed yet">Subtopic summary and/some related data</p>
    </a>
  </div>

</div>
{% endblock %}