{% extends "v6/layouts/logged-in-menu.html" %}

{% set pageName = "Browse" %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{pageName}}</h1>
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Topics</h2>

    <div class="gem-c-cards">
      <ul class="gem-c-cards__list gem-c-cards__list--one-column">
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="topics/population-needs/subtopics">Population needs</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Summary teaser (max 12 words) on information available for this topic.</p>
          </div>
        
        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="topics/community-social-care/subtopics">Community social care</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Summary teaser (max 12 words) on information available for this topic.</p>
          </div>
        
        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="topics/residential-care/subtopics">Residential care</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Summary teaser (max 12 words) on information available for this topic.</p>
          </div>
        
        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="topics/financial-spend-and-unpaid-care/subtopics">Financial spend and unpaid care</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Summary teaser (max 12 words) on information available for this topic.</p>
          </div>
        
        </li>
      </ul>
    </div>

  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l govuk-!-margin-top-5">Service information</h2>

    <div class="gem-c-cards">
      <ul class="gem-c-cards__list gem-c-cards__list--one-column">
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="index">Homepage</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Short description (max 5 words)</p>
          </div>
        
        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="#">About this service</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Short description (max 5 words)</p>
          </div>
        
        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="#">Indicator definitions and data sources</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Short description (max 5 words)</p>
          </div>
        
        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="../help/user-guide">User guide</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Short description (max 5 words)</p>
          </div>
        
        </li>
      </ul>
    </div>

    <!-- Chris Harding (11.08.25) - A great sticky 'Back to top' link from GOV.UK (e.g. https://www.gov.uk/government/collections/monthly-statistics-for-adult-social-care-england) -->
    <!-- TO DO: Get this working for GASCD -->
    <!-- <div data-sticky-element="" class="gem-c-contents-list-with-body__link-wrapper gem-c-contents-list-with-body__sticky-element--enabled">
    
      <div class="gem-c-contents-list-with-body__link-container">
        <a class="govuk-link gem-c-back-to-top-link govuk-!-display-none-print" href="#contents">
          <svg class="gem-c-back-to-top-link__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>
          Contents
        </a>
      </div>

    </div> -->

  </div>

</div>
{% endblock %}