{% extends "v6/layouts/logged-in-select-location.html" %}

{% set pageName = "Choose a location from your care provider group" %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="/v6/signed-in/home" method="post" novalidate>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--xl govuk-!-margin-bottom-9" for="careHome">{{pageName}}</label>
        </h1>
        
        <div class="govuk-form-group">
          <p class="govuk-body">We use this to display your local and regional comparison data in the service.</p>
          <p class="govuk-body">You can switch to another location at any time by using the &lsquo;Change&rsquo; link at the top of the page.</p>
        </div>

        <div id="la-hint" class="govuk-hint">
          Start typing for suggestions.
        </div>

        <select class="govuk-select" id="careHome" name="careHome" aria-describedby="careHome-hint" data-module="autocomplete" data-autoselect="" data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
          <option value="" selected="" disabled="">Select an option</option>  
          <option value="Shoggins Care Services (Brighton)"{% if data.careHome == 'Shoggins Care Services (Brighton)' %} selected{% endif %}>Shoggins Care Services (Brighton)</option>
          <option value="Shoggins Care Services (Ipswich)"{% if data.careHome == 'Shoggins Care Services (Ipswich)' %} selected{% endif %}>Shoggins Care Services (Ipswich)</option>
          <option value="Shoggins Care Services (Newcastle)"{% if data.careHome == 'Shoggins Care Services (Newcastle)' %} selected{% endif %}>Shoggins Care Services (Newcastle)</option>
          <option value="Shoggins Care Services (Reading)"{% if data.careHome == 'Shoggins Care Services (Reading)' %} selected{% endif %}>Shoggins Care Services (Reading)</option>
          <option value="Shoggins Care Services (Shrewsbury)"{% if data.careHome == 'Shoggins Care Services (Shrewsbury)' %} selected{% endif %}>Shoggins Care Services (Shrewsbury)</option>
          <option value="Shoggins Care Services (Sudbury)"{% if data.careHome == 'Shoggins Care Services (Sudbury)' %} selected{% endif %}>Shoggins Care Services (Sudbury)</option>
        </select>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">Apply changes</button>
        <a href="javascript:window.history.back()" class="govuk-link">Cancel and go back</a>
      </div>

    </form>

  </div>

</div>
{% endblock %}