{% extends "v6/layouts/logged-in-select-location.html" %}

{% set pageName = "Choose a location from your care provider group" %}

{% block pageTitle %}
  {% if error %}Error: {% endif %}{{pageName}} – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
{% if data.justSignedIn != "true" %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    {% if error %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      
      <div role="alert">
        <h2 class="govuk-error-summary__title">There is a problem</h2>
        
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li><a href="#careHome">Choose a location</a></li>
          </ul>
        </div>

      </div>

    </div>
    {% endif %}

    <form action="/v6/signed-in/select-location-validation" method="post" novalidate>

      <div class="govuk-form-group{% if error %} govuk-form-group--error{% endif %}">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--xl govuk-!-margin-bottom-9" for="careHome">{{pageName}}</label>
        </h1>

        <div class="govuk-form-group">
          <p class="govuk-body">We use this to display your local and regional comparison data in the service.</p>
          <p class="govuk-body">You can switch to another location at any time by using the &lsquo;Change&rsquo; link at the top of the page.</p>
        </div>

        <div id="la-hint" class="govuk-hint">
          Start typing for suggestions.
        </div>

        {% if error %}
        <p id="careHome-input-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Choose a location</p>
        {% endif %}
        <select class="govuk-select{% if error %} govuk-select--error{% endif %}" id="careHome" name="careHome" aria-describedby="careHome-hint{% if error %} careHome-input-error{% endif %}" data-module="autocomplete" data-autoselect="" data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
          <option value="" selected="" disabled="">Select an option</option>  
          <option value="Shoggins Care Services (Brighton)"{% if data.careHome == 'Shoggins Care Services (Brighton)' %} selected{% endif %}>Shoggins Care Services (Brighton)</option>
          <option value="Shoggins Care Services (Ipswich)"{% if data.careHome == 'Shoggins Care Services (Ipswich)' %} selected{% endif %}>Shoggins Care Services (Ipswich)</option>
          <option value="Shoggins Care Services (Newcastle)"{% if data.careHome == 'Shoggins Care Services (Newcastle)' %} selected{% endif %}>Shoggins Care Services (Newcastle)</option>
          <option value="Shoggins Care Services (Reading)"{% if data.careHome == 'Shoggins Care Services (Reading)' %} selected{% endif %}>Shoggins Care Services (Reading)</option>
          <option value="Shoggins Care Services (Shrewsbury)"{% if data.careHome == 'Shoggins Care Services (Shrewsbury)' %} selected{% endif %}>Shoggins Care Services (Shrewsbury)</option>
          <option value="Shoggins Care Services (Sudbury)"{% if data.careHome == 'Shoggins Care Services (Sudbury)' %} selected{% endif %}>Shoggins Care Services (Sudbury)</option>
        </select>
      </div>

      {% if data.justSignedIn == "true" %}
      <div class="govuk-form-block">
        <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
      </div>
      {% else %}
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">Apply changes</button>
        <a href="javascript:window.history.back()" class="govuk-link">Cancel and go back</a>
      </div>
      {% endif %}

    </form>

  </div>

</div>
{% endblock %}