{% extends "v5/layouts/logged-in.html" %}

{% set pageName = "Current population needs" %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link" >Back</a>
{% endblock %}

{% block content %}
<style>

  /* Contents box styling */
  .contents-box {
    background-color: #f3f2f1; /* GOV.UK light grey */
    padding: 20px;
    margin-bottom: 20px;
    /* max-width: 63%; Adjusted width for better spacing */
  }
  
  /* Remove default list indentation */
  .govuk-list--number {
    counter-reset: main-counter;
    list-style-type: none;
    padding-left: 0; /* Remove padding */
    margin-left: 0; /* Remove margin */
  }
  
  .govuk-list--number > li {
    counter-increment: main-counter;
  }
  
  .govuk-list--number > li::before {
    content: counter(main-counter) ". ";
    font-weight: normal;
  }
  
  /* Styling for the nested (child) unordered list */
  .nested-list {
    counter-reset: sub-counter;
    list-style-type: none;
    padding-left: 1.5rem; /* Align nested items properly */
    margin-left: 0;
  }
  
  .nested-list li {
    counter-increment: sub-counter;
  }
  
  .nested-list li::before {
    content: counter(main-counter) ". " counter(sub-counter) ". ";
    font-weight: normal;
  }

</style>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <!-- <span class="govuk-caption-l">Demand and capacity</span> -->
    <h1 class="govuk-heading-l">{{pageName}}</h1>
    <p class="govuk-body-l">Explore factors shaping local population needs.</p>

    <div class="contents-box">
      <h2 class="govuk-heading-m">Contents</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#preferences" class="govuk-link">Choose your data preferences</a>
        <li><a href="#factors" class="govuk-link">Demographic factors driving population needs</a></li>
        <li><a href="#population-age" class="govuk-link" >Population age</a></li>
        <li><a href="#economic-factors" class="govuk-link" >Economic factors</a></li>
        <li><a href="#household-composition" class="govuk-link" >Household composition</a></li>
        <li><a href="#health-wellbeing" class="govuk-link" >Health and well-being</a></li>
        <li><a href="#footnotes" class="govuk-link">Footnotes</a></li>
        <li><a href="#related" class="govuk-link">Related information</a></li>
      </ul>
    </div>

    <h2 id="preferences" class="govuk-heading-m govuk-!-margin-top-9">Choose your data preferences</h2>
    <p class="govuk-body">Change these to update the data shown.</p>
    <dl class="govuk-summary-list">
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Active location</dt>
        <dd class="govuk-summary-list__value">Greenfields Care</dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a class="govuk-link" href="present-demand-locations">Change<span class="govuk-visually-hidden"> name</span></a> -->
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">Available locations</dt>
        <dd class="govuk-summary-list__value">
          Woodlands Care, Suffolk
          <br>
          Seafront Villas, Norfolk
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Local authority</dt>
        <dd class="govuk-summary-list__value">Suffolk</dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a class="govuk-link" href="select-la">Change<span class="govuk-visually-hidden"> name</span></a> -->
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Service user age</dt>
        <dd class="govuk-summary-list__value">Aged 65 and over</dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a class="govuk-link" href="age-range">Change<span class="govuk-visually-hidden"> name</span></a> -->
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd>
      </div>

    </dl>

    <h2 id="factors" class="govuk-heading-m govuk-!-margin-top-9">Demographic factors driving population needs</h2>
    <p class="govuk-body">Population needs for adult social care are shaped by a range of factors including age, income levels, employment status, disability, long-term health conditions, and household composition.</p>
    <p class="govuk-body">Areas with higher proportions of older adults, people with disabilities, or long-term health conditions typically experience greater pressure on services.</p>
    
    <div class="govuk-inset-text">
      <strong>Tip:</strong> Use the Explore more data option provided for each table to view smaller geographical areas than local authority level, where available. 
    </div>
    
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h2 id="population-age" class="govuk-heading-m govuk-!-margin-top-7">Population age</h2>
    <p class="govuk-body">Find out how <a href="#" class="govuk-link" data-message="Sorry, this hasn’t been designed yet">[DATA FOOTNOTE]</a> is defined, sourced, and updated.</p>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--s">[DATA VIS COMPONENT HEADING]</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Indicator</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Suffolk</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">East of England</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">All England</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Population aged 65 and over</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">21.4%</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">19.9%</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">18.7%</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Population aged 85 and over</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">3.1%</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">2.2%</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">2.4%</td>
        </tr>
      </tbody>
    </table>

    <p class="govuk-body">
      Source: <a href="#" class="govuk-link" target="_blank" data-message="Sorry, this hasn’t been designed yet">[DATA SOURCE] (opens in new tab)</a>
      <br>
      Data correct as of 5 February 2025
      <br>
      <a href="#" class="govuk-link" data-message="Sorry, this hasn’t been designed yet">Download table data (CSV)</a>
    </p>

    <h3 class="govuk-heading-s">Further information</h3>
    <p class="govuk-body"><a href="../../data-pages/population-age/population-age" class="govuk-link">Explore more population age data</a></p>
    <!-- <h3 class="govuk-heading-m"><a href="../../data-pages/population-age/population-age" class="govuk-link">Explore more population age data</a></h3> -->

    <h2 id="economic-factors" class="govuk-heading-m govuk-!-margin-top-9">Economic factors</h2>
    <p class="govuk-body">Suffolk is less deprived than other local authorities in the East of England.</p>
    <p class="govuk-body">Find out how <a href="#" class="govuk-link" data-message="Sorry, this hasn’t been designed yet">[DATA FOOTNOTE]</a> is defined, sourced, and updated.</p>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--s">[DATA VIS COMPONENT HEADING]</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Indicator</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Suffolk</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">East of England</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">All England</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Neighbourhoods in most deprived 10%</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">11.2%</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">12.1%</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">13.8%</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Homes owned outright</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">38.6%</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">34.6%</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">32.5%</td>
        </tr>
      </tbody>
    </table>

    <p class="govuk-body">
      Source: <a href="#" class="govuk-link" target="_blank" data-message="Sorry, this hasn’t been designed yet">[DATA SOURCE] (opens in new tab)</a>
      <br>
      Data correct as of 5 February 2025
      <br>
      <a href="#" class="govuk-link" data-message="Sorry, this hasn’t been designed yet">Download table data (CSV)</a>
    </p>

    <h3 class="govuk-heading-s">Further information</h3>
    <p class="govuk-body"><a href="#" class="govuk-link" data-message="Sorry, this hasn’t been designed yet">Explore more economic factors data</a></p>

    <h2 id="household-composition" class="govuk-heading-m govuk-!-margin-top-9">Household composition</h2>
    <p class="govuk-body">Find out how <a href="#" class="govuk-link" data-message="Sorry, this hasn’t been designed yet">[DATA FOOTNOTE]</a> is defined, sourced, and updated.</p>
      
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--s">[DATA VIS COMPONENT HEADING]</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Indicator</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Suffolk</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">East of England</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">All England</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">1-person households with resident aged 66 or over</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">17.4%</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">14.5%</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">13.9%</td>
        </tr>
      </tbody>
    </table>

    <p class="govuk-body">
      Source: <a href="#" class="govuk-link" target="_blank" data-message="Sorry, this hasn’t been designed yet">[DATA SOURCE] (opens in new tab)</a>
      <br>
      Data correct as of 5 February 2025
      <br>
      <a href="#" class="govuk-link" data-message="Sorry, this hasn’t been designed yet">Download table data (CSV)</a>
    </p>

    <h3 class="govuk-heading-s">Further information</h3>
    <p class="govuk-body"><a href="#" class="govuk-link" data-message="Sorry, this hasn’t been designed yet">Explore more household composition data</a></p>

    <h2 id="health-wellbeing" class="govuk-heading-m govuk-!-margin-top-9">Health and wellbeing</h2>
    <p class="govuk-body">Find out how <a href="#" class="govuk-link" data-message="Sorry, this hasn’t been designed yet">[DATA FOOTNOTE]</a> is defined, sourced, and updated.</p>
      
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--s">[DATA VIS COMPONENT HEADING]</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Indicator</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Suffolk</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">East of England</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">All England</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Residents with bad or very bad health conditions</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">0.6%</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">1.0%</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">1.2%</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Disability prevalence</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">15.6%</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">14.2%</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">21.1%</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Registered people with learning disability per 100,000 population</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">247</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">248</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">264</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Estimated number of people over 65 with dementia per 100,000 population</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">943</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">893</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">793</td>
        </tr>
      </tbody>
    </table>

    <p class="govuk-body">
      Source: <a href="#" class="govuk-link" target="_blank" data-message="Sorry, this hasn’t been designed yet">Office for National Statistics, NHS England, Ministry of Housing, Communities and Local Government (MHCLG) (opens in new tab)</a>
      <br>
      Data correct as of 5 February 2025
      <br>
      <a href="#" class="govuk-link" data-message="Sorry, this hasn’t been designed yet">Download table data (CSV)</a>
    </p>

    <h3 class="govuk-heading-s">Further information</h3>
    <p class="govuk-body"><a href="#" class="govuk-link" data-message="Sorry, this hasn’t been designed yet">Explore more health and wellbeing data</a></p>
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h2 id="footnotes" class="govuk-heading-m govuk-!-margin-top-9">Footnotes</h2>
    <p class="govuk-body">Find out how each indicator is defined, sourced, and updated.</p>
    <p class="govuk-body">Select an indicator to view its footnotes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="../../help/population-size.html" class="govuk-link">Population size</a></li>
      <li><a href="../../help/population-age.html" class="govuk-link">Percentage of population in age group</a></li>
      <li><a href="../../help/disability-prevalence.html" class="govuk-link">Disability prevalence</a></li>
    </ul>

    <h2 id="related" class="govuk-heading-m govuk-!-margin-top-7">Related information</h2>
    <p class="govuk-body">For more information on local population needs, check the latest Market Position Statement and Joint Strategic Needs Assessment. You will usually find these on the local authority's website.</p>    
  </div>

</div>
{% endblock %}