{% extends "v5/layouts/logged-in.html" %}

{% set pageName = "Enter a local authority's name" %}

{% block beforeContent %}
<a href="index" class="govuk-back-link" >Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="index" method="post" novalidate>

      <div class="govuk-form-group">
        <span class="govuk-caption-xl">Current population needs and overall capacity at local authority level</span>
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--xl govuk-!-margin-bottom-9" for="la">{{pageName}}</label>
        </h1>

        <div id="la-hint" class="govuk-hint">
          Start typing for suggestions.
        </div>

        <select class="govuk-select" id="la" name="la" aria-describedby="la-hint" data-module="autocomplete" data-autoselect="" data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
          <option value="" selected="" disabled="">Select an option</option>  
          <option value="Hampshire">Hampshire</option>
          <option value="Oxfordshire">Oxfordshire</option>
          <option value="Surrey">Surrey</option>
          <option value="West Sussex">West Sussex</option>
          <option value="Bath and North East Somerset">Bath and North East Somerset</option>
          <option value="Bristol, City of">Bristol, City of</option>
          <option value="North Somerset">North Somerset</option>
          <option value="South Gloucestershire">South Gloucestershire</option>
          <option value="Swindon">Swindon</option>
          <option value="Plymouth">Plymouth</option>
          <option value="Torbay">Torbay</option>
          <option value="Wiltshire">Wiltshire</option>
          <option value="Isles of Scilly">Isles of Scilly</option>
          <option value="Bournemouth, Christchurch and Poole">Bournemouth, Christchurch and Poole</option>
          <option value="Cornwall">Cornwall</option>
          <option value="Dorset">Dorset</option>
          <option value="Somerset">Somerset</option>
          <option value="Devon">Devon</option>
          <option value="Gloucestershire">Gloucestershire</option>
        </select>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">Apply changes</button>
        <a href="index" class="govuk-link">Cancel and go back</a>
      </div>

    </form>

  </div>

</div>
{% endblock %}