<div class="moj-scrollable-pane">

  <table class="govuk-table">
    <caption class="govuk-table__caption">Table 2: care home bed numbers per 100,000 adult population &ndash; Suffolk local authority, East of England region and England, October 2025</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Care home bed type</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric">Suffolk</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric">East of England (regional average)</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric">England (national average)</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% if data.bedType2 %}
      {% for param in data.bedType2 %}
      {% if param == 'All bed types' %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">All bed types</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">1,152</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">1,094</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">958</td>
      </tr>
      {% endif %}
      {% if param == 'Community care bed' %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Community care bed</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
      </tr>
      {% endif %}
      {% if param == 'Dementia nursing' %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Dementia nursing</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">298</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">272</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">251</td>
      </tr>
      {% endif %}
      {% if param == 'Dementia residential' %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Dementia residential</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">187</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">142</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">105</td>
      </tr>
      {% endif %}
      {% if param == 'General nursing' %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">General nursing</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">268</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">314</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">310</td>
      </tr>
      {% endif %}
      {% if param == 'General residential' %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">General residential</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">276</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">238</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">164</td>
      </tr>
      {% endif %}
      {% if param == 'Learning disability nursing' %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Learning disability nursing</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">81</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">78</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">62</td>
      </tr>
      {% endif %}
      {% if param == 'Learning disability residential' %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Learning disability residential</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">6</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
      </tr>
      {% endif %}
      {% if param == 'Mental health nursing' %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Mental health nursing</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">8</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">6</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">8</td>
      </tr>
      {% endif %}
      {% if param == 'Mental health residential' %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Mental health residential</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">14</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">8</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">17</td>
      </tr>
      {% endif %}
      {% if param == 'Transitional' %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Transitional</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">11</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">26</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">30</td>
      </tr>
      {% endif %}
      {% if param == 'Young physically disabled' %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Young physically disabled</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">6</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">5</td>
      </tr>
      {% endif %}
      {% endfor %}
      {% else %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">All bed types</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">1,152</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">1,094</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">958</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Community care bed</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Dementia nursing</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">298</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">272</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">251</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Dementia residential</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">187</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">142</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">105</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">General nursing</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">268</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">314</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">310</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">General residential</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">276</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">238</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">164</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Learning disability nursing</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">81</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">78</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">62</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Learning disability residential</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">6</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Mental health nursing</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">8</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">6</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">8</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Mental health residential</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">14</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">8</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">17</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Transitional</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">11</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">26</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">30</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Young physically disabled</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">6</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">5</td>
      </tr>
      {% endif %}
    </tbody>
  </table>

</div>

<div class="govuk-form-block">
  <p class="govuk-body data-source">Sources: Capacity Tracker from the Department of Health and Social Care (DHSC), population estimates from the Office for National Statistics (ONS)</p>
</div>