<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Service type</legend>
    
    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="serviceType_1" name="serviceType" type="checkbox" value="Extra care housing"{% for param in data.serviceType %}{% if param == 'Extra care housing' %} checked{% endif %}{% endfor %}>
        <label class="govuk-label govuk-checkboxes__label" for="serviceType_1">Extra care housing</label>
      </div>
      
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="serviceType_2" name="serviceType" type="checkbox" value="Homecare agencies"{% for param in data.serviceType %}{% if param == 'Homecare agencies' %} checked{% endif %}{% endfor %}>
        <label class="govuk-label govuk-checkboxes__label" for="serviceType_2">Homecare agencies</label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="serviceType_3" name="serviceType" type="checkbox" value="Nursing homes"{% for param in data.serviceType %}{% if param == 'Nursing homes' %} checked{% endif %}{% endfor %}>
        <label class="govuk-label govuk-checkboxes__label" for="serviceType_3">Nursing homes</label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="serviceType_4" name="serviceType" type="checkbox" value="Residential homes"{% for param in data.serviceType %}{% if param == 'Residential homes' %} checked{% endif %}{% endfor %}>
        <label class="govuk-label govuk-checkboxes__label" for="serviceType_4">Residential homes</label>
      </div>      

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="serviceType_5" name="serviceType" type="checkbox" value="Supported living"{% for param in data.serviceType %}{% if param == 'Supported living' %} checked{% endif %}{% endfor %}>
        <label class="govuk-label govuk-checkboxes__label" for="serviceType_5">Supported living</label>
      </div>

    </div>

  </fieldset>
</div>