{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% set pageName = "Design history" %}
{% set bodyClasses = "extra-page-width-1400" %}

{% block content %}
<div class="govuk-form-group">
  <a class="govuk-back-link" href="index">Back</a>
</div>

<h1 class="govuk-heading-xl">{{pageName}}</h1>

<table class="govuk-table design-history">
  <caption class="govuk-table__caption govuk-table__caption--m">All previous designs</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Dates</th>
      <th scope="col" class="govuk-table__header">What we did</th>
      <th scope="col" class="govuk-table__header">Why we did it</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-fifth govuk-table__header--numeric">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="v8/pages" class="govuk-link">v8</a></th>
      <td class="govuk-table__cell">5 December 2025 to present</td>
      <td class="govuk-table__cell">
        <ul class="govuk-list govuk-list--bullet">
          <li>Distinctly designed entry points and UX for all care providers types in this service.</li>
          <li>Designs to address outstanding project design debt. This includes allowing users to:</li>
          <ul class="govuk-list govuk-list--bullet">
            <li>redesign all data visualisations used across the service to ensure they meet standards outlined in the <a href="https://www.gov.uk/service-manual/service-standard" rel="noreferrer noopener" target="_blank">GOV.UK Service Standard (opens in a new tab)</a>, <a href="https://analysisfunction.civilservice.gov.uk/policy-store/data-visualisation-charts/" rel="noreferrer noopener" target="_blank">Government Analysis Function (opens in a new tab)</a> and the <a href="https://service-manual.ons.gov.uk/data-visualisation" rel="noreferrer noopener" target="_blank"><abbr title="Office for National Statistics">ONS</abbr> Service manual (opens in a new tab)</a></li>
          </ul>
          <li>Revamped <abbr title="Market Position Statement">MPS</abbr> design to allow users to look at all available <abbr title="Market Position Statement">MPS</abbr> resources offered by LAs</li>
          <li>Iterated all related user journeys based on user insights gathered during the <a href="#" rel="noreferrer noopener" target="_blank">care provider (care home) - round 11: December 2025 (opens in a new tab)</a> user research.</li>
        </ul>
      </td>
      <td class="govuk-table__cell">
        <ul class="govuk-list govuk-list--bullet">
          <li>To continue iterating the service to meet the immediate Statement of Work 4.</li>
          <li>To ensure the service meets the <a href="https://www.gov.uk/service-manual/service-standard" rel="noreferrer noopener" target="_blank">GOV.UK Service Standard (opens in a new tab)</a>, <a href="https://analysisfunction.civilservice.gov.uk/policy-store/data-visualisation-charts/" rel="noreferrer noopener" target="_blank">Government Analysis Function (opens in a new tab)</a> and the <a href="https://service-manual.ons.gov.uk/data-visualisation" rel="noreferrer noopener" target="_blank"><abbr title="Office for National Statistics">ONS</abbr> Service manual (opens in a new tab)</a>and is works for all of its users.</li>
          <li>To meet user needs, key findings and design recommendations that came from the <a href="#" rel="noreferrer noopener" target="_blank">care provider (care home) - round 11: December 2025 (opens in a new tab)</a> user research.</li>
        </ul>
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--pink">Design in progress</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="v7/pages" class="govuk-link">v7</a></th>
      <td class="govuk-table__cell">9 September 2025 to 4 December 2025</td>
      <td class="govuk-table__cell">
        <ul class="govuk-list govuk-list--bullet">
          <li>Added the first designs that allow users to sign in via GOV.UK One Login (private beta).</li>
          <li>Designs to address outstanding project design debt. This includes allowing users to:</li>
          <ul class="govuk-list govuk-list--bullet">
            <li>apply filters to data visualisation elements to find information relevant to their needs</li>
          </ul>
          <li>Reviewed and updated all data topics, indicators and metrics to align with the latest design debt redesign.</li>
          <li>Iterated all related user journeys based on user insights gathered during the <a href="https://healthsharedservice.sharepoint.com/:p:/r/sites/GOVDataAccessAlphaBetaProjectTeam32269/Shared%20Documents/UCD/User%20Research/Private%20Beta%20-%20User%20Research/Care%20Provider%20Research/R9%20Prototype%20V06%20Study%20Home%20Care%20Sept%202025/03%20Findings/R8_R9%20Community%20Care%20Findings_PPT.pptx?d=w9d9325e3bd014eaca38cd6c8f08ded1a&csf=1&web=1&e=TQZUWg" rel="noreferrer noopener" target="_blank">community social care - round 9: September 2025 (opens in a new tab)</a> user research.</li>
        </ul>
      </td>
      <td class="govuk-table__cell">
        <ul class="govuk-list govuk-list--bullet">
          <li>To continue iterating the service to meet the immediate Statement of Work 3 and 4.</li>
          <li>To meet user needs, key findings and design recommendations that came from the <a href="https://healthsharedservice.sharepoint.com/:p:/r/sites/GOVDataAccessAlphaBetaProjectTeam32269/Shared%20Documents/UCD/User%20Research/Private%20Beta%20-%20User%20Research/Care%20Provider%20Research/R9%20Prototype%20V06%20Study%20Home%20Care%20Sept%202025/03%20Findings/R8_R9%20Community%20Care%20Findings_PPT.pptx?d=w9d9325e3bd014eaca38cd6c8f08ded1a&csf=1&web=1&e=TQZUWg" rel="noreferrer noopener" target="_blank">community social care - round 9: September 2025 (opens in a new tab)</a> user research.</li>
        </ul>
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--yellow">UR in progress</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="v6/pages" class="govuk-link">v6</a></th>
      <td class="govuk-table__cell">6 August 2025 to 8 September 2025</td>
      <td class="govuk-table__cell">
        <ul class="govuk-list govuk-list--bullet">
          <li>Designs to address outstanding project design debt. This includes allowing users to:</li>
          <ul class="govuk-list govuk-list--bullet">
            <li>manage their care home location - both for onboarding and when using the service</li>
            <li>understand what is available in the service</li>
            <li>orient themselves within the service</li>
            <li>navigate to indicators relevant to their needs</li>
            <li>understand and access data on an indicator</li>
          </ul>
          <li>Designs for the new data indicators (community social care) based on user insights gathered during the <a href="https://healthsharedservice.sharepoint.com/:p:/r/sites/GOVDataAccessAlphaBetaProjectTeam32269/Shared%20Documents/UCD/User%20Research/Private%20Beta%20-%20User%20Research/Care%20Provider%20Research/R8%20Concept%20Study%20Home%20Care%20Aug%202025/03%20Findings/R8_R9%20Community%20Care%20Findings_PPT.pptx?d=w8aaf089f92b24861a039296b37afebb1&csf=1&web=1&e=cdIWlT" rel="noreferrer noopener" target="_blank">community social care providers - round 8: August 2025 (opens in a new tab)</a> user research.</li>
          <li>Iterated all related user journeys based on user insights gathered during the <a href="https://healthsharedservice.sharepoint.com/:p:/r/sites/GOVDataAccessAlphaBetaProjectTeam32269/Shared%20Documents/UCD/User%20Research/Private%20Beta%20-%20User%20Research/Care%20Provider%20Research/R5%20Prototype%20V05%20Study%20July%202025/03%20Findings/R5%20Residential%20Care%20Prototype%20V05%20Presentation.pptx?d=w4e3ec3ca0d5a42b8a61cc5fe9e0124ec&csf=1&web=1&e=dlSEdb" rel="noreferrer noopener" target="_blank">care providers - round 5: July 2025 (opens in a new tab)</a> user research.</li>
        </ul>
      </td>
      <td class="govuk-table__cell">
        <ul class="govuk-list govuk-list--bullet">
          <li>To ensure the service meets the <a href="https://www.gov.uk/service-manual/service-standard" rel="noreferrer noopener" target="_blank">GOV.UK Service Standard (opens in a new tab)</a> and is works for all of its users.</li>
          <li>To continue iterating the service to meet the immediate Statement of Work 3.</li>
          <li>To meet user needs, key findings and design recommendations that came from the <a href="https://healthsharedservice.sharepoint.com/:p:/r/sites/GOVDataAccessAlphaBetaProjectTeam32269/Shared%20Documents/UCD/User%20Research/Private%20Beta%20-%20User%20Research/Care%20Provider%20Research/R5%20Prototype%20V05%20Study%20July%202025/03%20Findings/R5%20Residential%20Care%20Prototype%20V05%20Presentation.pptx?d=w4e3ec3ca0d5a42b8a61cc5fe9e0124ec&csf=1&web=1&e=dlSEdb" rel="noreferrer noopener" target="_blank">care providers - round 5: July 2025 (opens in a new tab)</a> user research.</li>
        </ul>
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--green">Complete</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="v5/pages" class="govuk-link">v5</a></th>
      <td class="govuk-table__cell">7 March 2025 to 5 August 2025</td>
      <td class="govuk-table__cell">
        <ul class="govuk-list govuk-list--bullet">
          <li>Iterated all related user journeys based on user insights from care providers and academic researchers, gathered during user research - Round 3: March 2025.</li>
          <li>Added experimental designs for data visualisation (e.g. maps) across the data streams.</li>
          <li>New designs for identified data items and their indicators (e.g. domiciliary care).</li>
          <li>Applied the latest <a href="https://www.gov.uk/government/publications/govuk-brand-guidelines" rel="noreferrer noopener" target="_blank">GOV.UK brand guidelines and styles (opens in a new tab)</a>.</li>
        </ul>
      </td>
      <td class="govuk-table__cell">
        <ul class="govuk-list govuk-list--bullet">
          <li>To ensure the service meets the <a href="https://www.gov.uk/service-manual/service-standard" rel="noreferrer noopener" target="_blank">GOV.UK Service Standard (opens in a new tab)</a> and is works for all of its users.</li>
          <li>To meet user needs, key findings and design recommendations that came from the last round of user research - Round 3: March 2025.</li>
          <li>Based on the outcome of a project team design review following the restart of the project.</li>
        </ul>
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--green">Complete</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="v4/pages" class="govuk-link">v4</a></th>
      <td class="govuk-table__cell">18 February 2025 to 6 March 2025</td>
      <td class="govuk-table__cell">
        <ul class="govuk-list govuk-list--bullet">
          <li>Iterations to the requesting access to the service, first time sign in plus returning user journeys.</li>
          <li>Iterations to the designs for identified data items and their indicators.</li>
          <li>New designs for identified data items and their indicators.</li>
        </ul>
      </td>
      <td class="govuk-table__cell">Previous UCD team's work in the beta phase of this project.</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--green">Complete</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="v3/pages" class="govuk-link">v3</a></th>
      <td class="govuk-table__cell">7 February 2025 to 17 February 2025</td>
      <td class="govuk-table__cell">
        <ul class="govuk-list govuk-list--bullet">
          <li>Iterations to the requesting access to the service, first time sign in plus returning user journeys.</li>
          <li>Iterations to the designs for identified data items and their indicators.</li>
          <li>New designs for identified data items and their indicators.</li>
          <li>Edges cases, error scenarios, account permissions pages plus HTTP access type screens added.</li>
          <li>Content drafted for potential email notifications.</li>
        </ul>
      </td>
      <td class="govuk-table__cell">Previous UCD team's work in the beta phase of this project.</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--green">Complete</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="v2/pages" class="govuk-link">v2</a></th>
      <td class="govuk-table__cell">9 January 2025 to 6 February 2025</td>
      <td class="govuk-table__cell">
        <ul class="govuk-list govuk-list--bullet">
          <li>Iterations to the requesting access to the service, first time sign in plus returning user journeys.</li>
          <li>New 'dashboard' and landing page designs.</li>
          <li>New designs for identified data items and their indicators.</li>
        </ul>
      </td>
      <td class="govuk-table__cell">Previous UCD team's work in the beta phase of this project.</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--green">Complete</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="v1/pages" class="govuk-link">v1</a></th>
      <td class="govuk-table__cell">4 December 2024 to 8 January 2025</td>
      <td class="govuk-table__cell">
        First conceptual designs, sketches and design work for {{serviceName}} including:
        <br>
        <br>
        <ul class="govuk-list govuk-list--bullet">
          <li>requesting access to the service, first time sign in plus returning users</li>
          <li>what users see after signing into the service</li>
          <li>experimental data pages using <a href="https://d3js.org" rel="noreferrer noopener" target="_blank">D3.js (opens in a new tab)</a></li>
        </ul>
      </td>
      <td class="govuk-table__cell">Previous UCD team's work in the beta phase of this project.</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--green">Complete</strong></td>
    </tr>
  </tbody>
</table>
{% endblock %}