{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {% include "./sparkle.html" %} {{ serviceName }}
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2>User Research version: 0.5</h2>
    <p>Sprint 7, March 2025</p>
    <a href="0-5/logged-in/index" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>
    <ul class="govuk-list">
      <li><a href="0-5/landing-pages/overall-capacity/index.html"> Overall capacity at local authority level</a></li>
      <li><a href="0-5/landing-pages/current-population-needs/index.html"> Current population needs</a></li>
      <li><a href="0-5/landing-pages/future-population-needs/index.html"> Future population needs</a></li>
      <li><a href="0-5/data-pages/beds-over-100K/index"> Adult social care beds per 100,000 population</a></li>
      <li><a href="0-5/data-pages/population/index">Population indicator page</a></li>
      <li><a href="0-5/logged-in/glossary">Glossary</a></li>
      <li><a href="0-5/logged-in/download-full-datasets">Download full datasets</a></li>
    </ul>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          More links
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list">
          <li><a href="0-5/data-pages/graphs/index.html">Graphs examples</a></li>
          <li><a href="0-5/logged-in/download.html">Download data</a> - rough version</li>
          <li><a href="d3/nomis_2025_02_21_121138.html">D3 line chart</a></li>
          <li><a href="d3/map">Population map</a></li>
          <li><a href="d3/cp-map">Care home map</a></li>
          <li><a href="0-5/registration/0-start">Start - Request access</a></li>
          <li><a href="0-5/login-first-time/1-start">Start - First-time login</a></li>
          <li><a href="0-5/login/1-start">Start - Return user and password reset journey</a></li>
          <li><a href="0-5/logged-in/index">Home page - logged in</a></li>
        </ul>
      </div>
    </details>
    <h2>User Research version: 0.4</h2>
    <p>Sprint 6, February 2025</p>
    <form action="0-4/logged-in/index">
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Home page
      </button>
    </form>
    <ul class="govuk-list">
      <li><a href="0-4/registration/0-start">Start - Request access</a></li>
      <li><a href="0-4/login-first-time/1-start">Start - First-time login</a></li>
      <li><a href="0-4/login/1-start">Start - Return user and password reset journey</a></li>
      <li><a href="0-4/logged-in/index">Home page - logged in</a></li>
      <li><a href="0-4/landing-pages/current-population-need-capacity/index.html">New Current population needs and overall capacity page</a></li>
      <li><a href="0-4/data-pages/graphs/index.html">Graphs examples</a></li>
      <li><a href="0-4/logged-in/download.html">Download data</a> - rough version</li>
      <li><a href="d3/nomis_2025_02_21_121138.html">D3 line chart</a></li>
    </ul>
    <h2>User Research version: 0.3</h2>
    <p>Sprint 5, February 2025</p>
    <form action="0-2/dashboard/index">
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Home page
      </button>
    </form>
    <ul class="govuk-list">
      <li><a href="0-3/registration/0-start">Start - Request access</a></li>
      <li><a href="0-3/login-first-time/1-start">Start - First-time login</a></li>
      <li><a href="0-3/login/1-start">Start - Return user and password reset journey</a></li>
      <li><a href="0-3/setup/index">Setup screen on login</a></li>
      <li><a href="0-3/dashboard/index">Home page - logged in</a></li>
      <li><a href="0-3/dashboard/get-data.html">New Get data page</a></li>
      <li><a href="0-3/data-pages/present-demand.html">New Present demand page</a></li>
    </ul>
    <h2>Version 0.2</h2>
    <p>Sprint 4-5, January/February 2025</p>
    <form action="0-2/dashboard/index">
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Home page
      </button>
    </form>
    <ul class="govuk-list">
      <li><a href="0-2/registration/0-start">Start - Request access</a></li>
      <li><a href="0-2/login-first-time/1-start">Start - First-time login</a></li>
      <li><a href="0-2/login/1-start">Start - Return user and password reset journey</a></li>
      <li><a href="0-2/setup/index">Setup screen on login</a></li>
      <li><a href="0-2/dashboard/index">Home page - logged in</a></li>
      <li><a href="0-2/dashboard/get-data.html">New Get data page</a></li>
      <li><a href="0-2/data-pages/present-demand.html">New Present demand page</a></li>
      <li><a href="current/total_beds">Total beds - for development</a></li>
    </ul>
    <h2>Previous prototype versions</h2>
    
    <h3>Version 0.1, January 2025</h3>
    
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View details
        </span>
      </summary>
      <div class="govuk-details__text">
        
        
        <a href="0-1/registration/0-start" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Start now
        </a>
        <p><a href="0-1/registration/0-start">Start - Request access</a></p>
        <p><a href="0-1/login-first-time/1-start">Start - First-time login</a></p>
        <p><a href="0-1/login/1-start">Start - Return user and password reset journey</a></p>
        <p><a href="0-1/dashboard/index">Home page - logged in</a></p>
        <p><a href="0-2/dashboard/capacity">Version 2-0 - capacity</a></p>
        <h2>Data pages</h2>
        <p><a href="0-1/data-pages/beds-total">Total beds</a></p>
        <p><a href="0-1/data-pages/beds-occupancy">Occupied beds</a></p>
        <p><a href="0-1/data-pages/population-disability">Population disability</a></p>
        <p><a href="0-1/data-pages/ascof-overall-satisfaction">ASCOF overall satisfaction</a></p>
        
      </div>
    </details>
    
    <h2 class="govuk-heading-m">Email notifications</h2>
    <p><a href="0-3/emails/security-code-email.html">DHSC security code</a></p>
    <p><a href="0-3/emails/password-reset-email.html">Password reset confirmation</a></p>
    <p><a href="0-3/emails/request-approved-email.html">Request approved</a></p>
    <p><a href="0-3/emails/request-declined-email.html">Request declined</a></p>
    <p><a href="0-3/emails/request-pending-email.html">Request needs more information</a></p>
    
    <h2 class="govuk-heading-m">Account permissions pages</h2>
    <p><a href="0-3/login/13-account-locked.html">Account locked page</a></p>
    <p><a href="0-3/system/access-denied-request-pending.html"> Access denied - access request pending</a></p>
    <p><a href="0-3/system/access-denied-request-denied.html"> Access denied - access request denied</a></p>
    
    <h2 class="govuk-heading-m">System error pages</h2>
    <p><a href="0-3/system/page-not-found.html">404 Page not found</a></p>
    <p><a href="0-3/system/problem-with-service.html">500 Internal server error: Sorry, there is a problem with the service</a></p>
    
    <h2 class="govuk-heading-m">Service shutter pages</h2>
    <p><a href="0-3/system/service-unavailable.html">503 Service unavailable: Sorry, the service is unavailable (generic message)</a></p>
    <p><a href="0-3/system/service-unavailable-with-date.html">503 Service unavailable: Sorry, the service is unavailable (if date/time known)</a></p>
    
    <h2 class="govuk-heading-m">Session signout and timeout</h2>
    <p><a href="0-3/system/timeout-warning.html">Timeout warning modal window</a></p>
    <p><a href="0-3/system/timeout-warning-non-js.html">Timeout warning non-Javascript alternative</a></p>
    <p><a href="0-3/system/signed-out.html">You have signed out</a></p>
    <p><a href="0-3/system/session-expired.html">Your session has expired</a></p>
    
    <h2 class="govuk-heading-m">Footer pages</h2>
    <p><a href="0-3/dashboard/accessibility-statement.html">Accessibility statement (example)</a></p>
    
    <h2 class="govuk-heading-m">Templates</h2>
    
    <p><a href="d3/d3">Data and D3 sandpits</a></p>
    <p><a href="/passing-data/svg">SVG charts from Nunjucks data</a></p>
    <p><a href="/passing-data/data">Data dashboard</a></p>
    <p><a href="/passing-data/index?myURLdata=Parsnip">Data cheat sheet</a></p>
    <h2 class="govuk-heading-m">Early sketches</h2>
    <p><a href="0-1/dashboard/index">Care Provider: first login</a></p>
    <p><a href="0-1/dashboard/queries">View your queries and see collegues' queries</a></p>
    <p><a href="/templates/index">Page examples</a></p>
    <p><a href="/juggling-service/start">Juggling service</a></p>
    <p><a href="/editable-pages/editor-radios">Editable pages</a></p>
  </div>
  <div class="govuk-grid-column-one-third">
    <h2>MVP version for developers</h2>
    <p>We'll build these screens for the launch on March 3rd.</p>
    <p><a href="/current/present-demand">Current population needs and capacity</a></p>
    <p><a href="/current/total_beds">Adult social care beds per 100,000 adult population</a></p>
    <h3 class="govuk-heading-s">Indicator explanation pages </h3>
    <ul class="govuk-list govuk-list--bullet">
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="../current/help/population-size.html" class="govuk-link">Population size</a></li>
        <li><a href="../current/help/population-age.html" class="govuk-link">Percentage of population aged 18 to 64, or 65 and over</a></li>
        <li><a href="../current/help/disability-prevalence.html" class="govuk-link">Disability prevalence</a></li>
        <li><a href="../current/help/beds-per-100000-adult-population.html" class="govuk-link">Adult social care beds per 100,000 adult population</a></li>
        <li><a href="../current/help/percentage-beds-occupied" class="govuk-link">Percentage of adult social care beds occupied</a></li>
        <li><a href="../current/help/beds-care-provider-location" class="govuk-link">Number of adult social care beds in care provider location</a></li>
        <li><a href="../current/help/percentage-beds-occupied-care-provider-location" class="govuk-link">Percentage of adult social care beds occupied in care provider location</a></li>
      </ul>
      <!-- <p><a href="/current/select-la">Select an LA</a></p> -->
    </div>
  </div>
  
  {% endblock %}