{% extends "layouts/main.html" %}

{% set pageName = serviceName + " prototype" %}
{% set bodyClasses = "extra-page-width-1400" %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">GOV.UK Prototype Kit</span>
    <h1 class="govuk-heading-xl">{% include "./sparkle.html" %} {{pageName}}</h1>
  </div>

  <div class="govuk-grid-column-two-thirds index-padding">    
    <!-- <strong class="govuk-tag govuk-tag--pink">Design in progress</strong> -->
    <strong class="govuk-tag govuk-tag--yellow">UR in progress</strong>
    <h2 class="govuk-heading-l govuk-!-margin-top-2">Latest designs (v8)</h2>
    <p class="govuk-body">This version includes distinctly designed entry points and UX for all care providers types in this service, iterated and expanded data visualisations across all data indicators, a revamped <abbr title="Market Position Statement">MPS</abbr> design plus is based on user insights gathered during the care provider (care home) - round 11: December 2025 user research.</p>
    <a href="/v8/config" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Choose your user journey
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>
    <p class="govuk-body-l"><a href="/v8/pages">View all user journeys in this version</a></p>
    <h2 class="govuk-heading-l">Design history</h2>

    <div class="govuk-form-group">
      <label class="govuk-label" for="previous-versions">View a previous version</label>
      <select onChange="window.location.href=this.value" class="govuk-select" id="previous-versions" name="previous-versions">
        <option></option>
        <option value="/v7/pages">v7</option>
        <option value="/v6/pages">v6</option>
        <option value="/v5/pages">v5</option>
        <option value="/v4/pages">v4</option>
        <option value="/v3/pages">v3</option>
        <option value="/v2/pages">v2</option>
        <option value="/v1/pages">v1</option>
      </select>
    </div>

    <p class="govuk-body"><a href="design-history">View design history</a></p>
  </div>

  <div class="govuk-grid-column-one-third">
    <!-- <strong class="govuk-tag govuk-tag--pink">Design in progress</strong>
    <strong class="govuk-tag govuk-tag--turquoise">Awaiting sign off</strong> -->
    <h2 class="govuk-heading-m govuk-!-margin-top-2"><a href="#" title="Private beta" class="js-modal js-modal-bolder" data-modal-text="This basic release of {{serviceName}} allowed the DHSC to invite a limited number of users to use the service, so they could get feedback and improve it.<br><br>This is also referred to by the {{serviceName}} project team as the <strong>MVP</strong>." data-modal-title="Private beta" data-modal-close-text="Close" data-modal-close-title="Close this window" id="label_modal_1" aria-haspopup="dialog">Private beta</a> (January 2026)</h2>
    <p class="govuk-body">We show these screens for developers to use as a reference for our latest private beta release (January 2026).</p>
    <a href="/private-beta/2026/january/config" role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-button--start" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>
    <ul class="govuk-list">
      <li>
        <a href="private-beta/2026/january/pages">View all screens</a>
      </li>
      <li>
        <a href="private-beta/releases">View release history</a>
      </li>
    </ul>
  </div>

</div>
{% endblock %}

{% block pageScripts %}
<!-- Tooltip taken from Nicolas Hoffmann (https://a11y.nicolas-hoffmann.net/modal/) -->
<script src="/public/javascripts/jquery-accessible-modal-window-aria.js"></script>
{% endblock %}