<div class="moj-scrollable-pane">

  {% set age = data.ageGroup14 or "All age groups" %}
  <table class="govuk-table">
    <caption class="govuk-table__caption">Table 1: local authority spending on short&#45;term and long&#45;term adult social care for people{% if data.ageGroup14 != "Aged 18 to 64" and data.ageGroup14 != "Aged 65 and over" %} of{% endif %} {{age | lower}} &ndash; Suffolk local authority, East of England region and England, financial year 2023 to 2024</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Duration of care</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Suffolk</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">East of England (regional average per local authority)</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">England (national average per local authority)</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><strong>Both short-term and long-term</strong></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}157,436{% elif data.ageGroup14 == "Aged 65 and over" %}305,975{% else %}463,411{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}1,208,557{% elif data.ageGroup14 == "Aged 65 and over" %}2,327,443{% else %}3,536,414{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}10,605,499{% elif data.ageGroup14 == "Aged 65 and over" %}19,960,915{% else %}30,566,414{% endif %}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <br>
          <strong>Long-term</strong>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <br>
          &#163;{% if data.ageGroup14 == "Aged 18 to 64" %}156,749{% elif data.ageGroup14 == "Aged 65 and over" %}287,432{% else %}444,181{% endif %}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <br>
          &#163;{% if data.ageGroup14 == "Aged 18 to 64" %}1,196,896{% elif data.ageGroup14 == "Aged 65 and over" %}2,184,567{% else %}3,381,463{% endif %}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <br>
          &#163;{% if data.ageGroup14 == "Aged 18 to 64" %}10,390,148{% elif data.ageGroup14 == "Aged 65 and over" %}18,726,394{% else %}29,116,542{% endif %}
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-indent">Learning disability support</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}113,195{% elif data.ageGroup14 == "Aged 65 and over" %}31,245{% else %}144,440{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}866,746{% elif data.ageGroup14 == "Aged 65 and over" %}237,654{% else %}1,104,400{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}7,020,475{% elif data.ageGroup14 == "Aged 65 and over" %}2,039,876{% else %}9,060,351{% endif %}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-indent">Mental health support</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}15,545{% elif data.ageGroup14 == "Aged 65 and over" %}25,916{% else %}41,161{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}100,984{% elif data.ageGroup14 == "Aged 65 and over" %}195,052{% else %}296,036{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}1,265,384{% elif data.ageGroup14 == "Aged 65 and over" %}1,637,427{% else %}2,902,811{% endif %}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-indent">Physical support</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}24,537{% elif data.ageGroup14 == "Aged 65 and over" %}142,891{% else %}167,428{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}206,887{% elif data.ageGroup14 == "Aged 65 and over" %}1,087,234{% else %}1,294,121{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}1,896,013{% elif data.ageGroup14 == "Aged 65 and over" %}9,342,187{% else %}11,238,200{% endif %}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-indent">Sensory support</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}751{% elif data.ageGroup14 == "Aged 65 and over" %}8,924{% else %}9,675{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}3,995{% elif data.ageGroup14 == "Aged 65 and over" %}67,845{% else %}71,840{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}73,530{% elif data.ageGroup14 == "Aged 65 and over" %}582,341{% else %}655,871{% endif %}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-indent">Support with memory and cognition</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}2,721{% elif data.ageGroup14 == "Aged 65 and over" %}78,456{% else %}81,177{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}12,284{% elif data.ageGroup14 == "Aged 65 and over" %}596,782{% else %}609,066{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}134,747{% elif data.ageGroup14 == "Aged 65 and over" %}5,124,563{% else %}5,259,310{% endif %}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <br>
          <strong>Short-term</strong>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <br>
          &#163;{% if data.ageGroup14 == "Aged 18 to 64" %}687{% elif data.ageGroup14 == "Aged 65 and over" %}18,543{% else %}19,230{% endif %}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <br>
          &#163;{% if data.ageGroup14 == "Aged 18 to 64" %}11,661{% elif data.ageGroup14 == "Aged 65 and over" %}142,876{% else %}154,537{% endif %}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <br>
          &#163;{% if data.ageGroup14 == "Aged 18 to 64" %}215,351{% elif data.ageGroup14 == "Aged 65 and over" %}1,234,521{% else %}1,449,872{% endif %}
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-indent">Learning disability support</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}116{% elif data.ageGroup14 == "Aged 65 and over" %}1,654{% else %}1,770{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}4,981{% elif data.ageGroup14 == "Aged 65 and over" %}12,765{% else %}17,746{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}86,471{% elif data.ageGroup14 == "Aged 65 and over" %}110,342{% else %}196,813{% endif %}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-indent">Mental health support</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}69{% elif data.ageGroup14 == "Aged 65 and over" %}1,212{% else %}1,281{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}1,112{% elif data.ageGroup14 == "Aged 65 and over" %}9,122{% else %}10,234{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}33,151{% elif data.ageGroup14 == "Aged 65 and over" %}78,881{% else %}112,032{% endif %}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-indent">Physical support</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}4{% elif data.ageGroup14 == "Aged 65 and over" %}9,876{% else %}9,880{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}5,206{% elif data.ageGroup14 == "Aged 65 and over" %}76,234{% else %}81,440{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}87,758{% elif data.ageGroup14 == "Aged 65 and over" %}658,432{% else %}746,190{% endif %}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-indent">Sensory support</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}12{% elif data.ageGroup14 == "Aged 65 and over" %}1,234{% else %}1,246{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}80{% elif data.ageGroup14 == "Aged 65 and over" %}9,521{% else %}9,601{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}2,570{% elif data.ageGroup14 == "Aged 65 and over" %}82,345{% else %}84,915{% endif %}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-indent">Support with memory and cognition</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}486{% elif data.ageGroup14 == "Aged 65 and over" %}4,567{% else %}5,053{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}283{% elif data.ageGroup14 == "Aged 65 and over" %}35,234{% else %}35,517{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}5,401{% elif data.ageGroup14 == "Aged 65 and over" %}304,521{% else %}309,922{% endif %}</td>
      </tr>
    </tbody>
  </table>

</div>

<div class="govuk-form-block">
  <p class="govuk-body data-source">Source: Adult Social Care Activity and Finance Report from NHS England</p>
</div>