<div class="moj-scrollable-pane">

  {% set age = ageGroup8 or "All age groups" %}
  <table class="govuk-table">
    <caption class="govuk-table__caption">Table 2: local authority funding for long-term adult social care for people {{age | lower}} &ndash; Suffolk local authority, East of England region and England, financial year 2023 to 2024</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Care type or funding method</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Suffolk</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">East of England (regional average per local authority)</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">England (national average per local authority)</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><strong>All types of adult social care</strong></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}156,749{% elif data.ageGroup14 == "Aged 65 and over" %}250,058{% else %}406,807{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}1,196,896{% elif data.ageGroup14 == "Aged 65 and over" %}1,271,394{% else %}2,468,289{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}10,390,148{% elif data.ageGroup14 == "Aged 65 and over" %}11,614,660{% else %}22,004,808{% endif %}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <br>
          <strong>All types of community social care, including home care, supported living, community direct payments and other schemes</strong>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <br>
          &#163;{% if data.ageGroup14 == "Aged 18 to 64" %}65,221{% elif data.ageGroup14 == "Aged 65 and over" %}62,205{% else %}127,426{% endif %}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <br>
          &#163;{% if data.ageGroup14 == "Aged 18 to 64" %}761,148{% elif data.ageGroup14 == "Aged 65 and over" %}476,040{% else %}1,237,189{% endif %}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <br>
          &#163;{% if data.ageGroup14 == "Aged 18 to 64" %}6,530,543{% elif data.ageGroup14 == "Aged 65 and over" %}3,993,959{% else %}10,524,502{% endif %}
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-indent">Home care</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}27,076{% elif data.ageGroup14 == "Aged 65 and over" %}40,397{% else %}67,473{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}225,448{% elif data.ageGroup14 == "Aged 65 and over" %}317,930{% else %}543,378{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}1,104,538{% elif data.ageGroup14 == "Aged 65 and over" %}2,614,975{% else %}3,719,512{% endif %}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-indent">Supported living</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">{% if data.ageGroup14 == "Aged 18 to 64" %}<span class="govuk-hint">Not available</span>{% elif data.ageGroup14 == "Aged 65 and over" %}<span class="govuk-hint">Not available</span>{% else %}<span class="govuk-hint">Not available</span>{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}262,636{% elif data.ageGroup14 == "Aged 65 and over" %}41,449{% else %}304,085{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}2,954,525{% elif data.ageGroup14 == "Aged 65 and over" %}477,543{% else %}3,432,068{% endif %}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-indent">Community direct payments</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}19,303{% elif data.ageGroup14 == "Aged 65 and over" %}19,303{% else %}38,606{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}164,627{% elif data.ageGroup14 == "Aged 65 and over" %}72,338{% else %}236,966{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}1,603,811{% elif data.ageGroup14 == "Aged 65 and over" %}630,601{% else %}2,234,412{% endif %}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-indent">Other</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}18,842{% elif data.ageGroup14 == "Aged 65 and over" %}2,505{% else %}21,347{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}108,438{% elif data.ageGroup14 == "Aged 65 and over" %}44,323{% else %}152,760{% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&#163;{% if data.ageGroup14 == "Aged 18 to 64" %}867,669{% elif data.ageGroup14 == "Aged 65 and over" %}270,841{% else %}1,138,510{% endif %}</td>
      </tr>
    </tbody>
  </table>

</div>

<div class="govuk-form-block">
  <p class="govuk-body data-source">Source: Adult Social Care Activity and Finance Report from NHS England</p>
</div>