{% extends "private-beta/2025/june/layouts/signed-in.html" %}

{% set pageName = "Adult social care beds per 100,000 adult population" %}

{% block content %} 
<a href="present-demand" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
        <!-- 
      
      Left nav column 
      
    -->
    <div class="govuk-grid-column-one-third">      
      <nav class="moj-side-navigation" aria-label="Side navigation">
        <h3>Contents</h3>
        {% set items = [
          { link: "#definition", heading: "Indicator definition and supporting information" },
          { link: "#locations", heading: "Your selected locations" },
          { link: "#data", heading: "Data" },
          { link: "#smart-insights", heading: "Smart insights (experimental)" }
                  ] %}
        <ul class="moj-side-navigation__list">
                  {% for item in items %}
            <li class="moj-side-navigation__item"><a href="{{item.link}}">{{item.heading}}</a></li class="moj-side-navigation__item">
         {% endfor %}
        </ul>
      </nav>
</div>
  <!-- 
  
  Main column 
  
-->
  <style>
      h2{margin-top:4em}
    </style>
  <div class="govuk-grid-column-two-thirds">
    <!-- <span class="govuk-caption-l">Demand and capacity</span> -->
    <h1 class="govuk-heading-l">
      <!-- <span class="govuk-caption-m">Demand</span> -->
      {{pageName}}</h1>
      <!-- 
      
      Main content
      
      -->
      <h2 class="govuk-heading-m" id="definition">Indicator definition and supporting information</h2>
      <p class="govuk-body">
        The total number of beds recorded by care providers across health and adult social care, adjusted to a rate of 100,000 adults in the local authority population.
      </p>
      <p class="govuk-body">
        For detailed information about this indicator, including data definitions, data source, update schedule and limitations to be aware of before using this data, go to
        <a href="help/beds-per-100000-adult-population.html" class="govuk-link">supporting information for this data</a>.</li>
      </p>
      <h2 id="locations">
        Your selected locations
      </h2>
      <p>Select locations to view and compare data.</p>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Locations</th>
            <td class="govuk-table__cell">
              <ul class="govuk-list" style="text-align: left;">
                <li>Suffolk</li>
                <li>East of England</li>
              </ul>
            </td>
            <td class="govuk-table__cell">
              <a href="total-beds-edit-la">Change</a>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- 
      
      Tabs
      
      -->
      <h2 id="data">Data</h2>
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#chart">
              Bar chart
            </a>
          </li>
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#time-series">
              Time series
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#map">
              Map
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#table">
              Table
            </a>
          </li>
        </ul>
        <!-- 
        
        Panels 
        
        -->
        <div class="govuk-tabs__panel" id="chart">
          <h3 class="govuk-heading-m">Bar chart</h3>
          <p>This chart shows data for all local authorities in Suffolk.</p>
          <table class="govuk-table">
            <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Filter</th>
            <td class="govuk-table__cell">
              <ul class="govuk-list" style="text-align: left;">
                <li>Total beds</li>
              </ul>
            </td>
          <td class="govuk-table__cell">
            <a href="total-beds-edit-single-filter">Change</a>
          </td>
        </tr>
            </tbody>
          </table>
          {% include "private-beta/2025/june/layouts/_chart.html" %}
          <p class="govuk-body"><a href="#" class="govuk-link">Download chart image (PNG)</a><br>
            <a href="#" class="govuk-link">Download table data (CSV)</a>
            <p class="govuk-body">Source: Capacity Tracker<br>
              Data correct as of 24 December 2024<br>
             <!-- <a href="../v3/help/beds-per-100000-people.html" class="govuk-link">View supporting information for this data</a></p>-->
            </div>
            <!-- 
            
            Time series 
            
            -->
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="time-series">
              <h3 class="govuk-heading-m">Time series</h3>
              {% include "private-beta/2025/june/layouts/_time-series.html" %}
            </div>
            <!-- 
            
            Map 
            
            -->
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="map">
              <h3 class="govuk-heading-m">
                Map
              </h3>
              <p class="govuk-body">The map view is not yet available.</p>
              <p class="govuk-body">We are working to introduce this feature to the service. In the meantime, you can explore the data by chart, time series or table.</p>
              </p>
            </div>
            <!-- 
            
            Table 
            
            -->
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="table">
              <h3 class="govuk-heading-m" id="total">Table</h3>
              <table class="govuk-table">
                <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Filters</th>
                <td class="govuk-table__cell">
                  <ul class="govuk-list" style="text-align: left;">
                    <li>Total beds</li>
                    <li>Dementia Nursing</li>
                    <li>Dementia Residential</li>
                  </ul>
                </td>
              <td class="govuk-table__cell">
                <a href="total-beds-edit-table-filters">Change</a>
              </td>
            </tr>
                </tbody>
              </table>
              <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--s">Adult social care beds per 100,000 adult population at 24 December 2024</caption>
                <thead class="govuk-table__head">
                  <style>
                    th:nth-child(2),th:nth-child(3), th:nth-child(4), td:nth-child(2),td:nth-child(3), td:nth-child(4) {
                      text-align: right;
                    }
                  </style>
                  <th scope="col" class="govuk-table__header">Location</th>
                  <th scope="col" class="govuk-table__header">Suffolk</th>
                  <th scope="col" class="govuk-table__header">East of England region</th>
                  <th scope="col" class="govuk-table__header">All England</th>
                </thead>
                <tbody>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Total beds</td>
                    <td class="govuk-table__cell">2,398.4</td>
                    <td class="govuk-table__cell">1,969.5</td>
                    <td class="govuk-table__cell">2,088.2</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Dementia nursing</td>
                    <td class="govuk-table__cell">160.1</td>
                    <td class="govuk-table__cell">126.0</td>
                    <td class="govuk-table__cell">182.1</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Dementia residential</td>
                    <td class="govuk-table__cell">648.8</td>
                    <td class="govuk-table__cell">486.6</td>
                    <td class="govuk-table__cell">432.8</td>
                  </tr>
                </tbody>
              </table>
              <p class="govuk-body">
                <a href="#" class="govuk-link">Download table data (CSV)</a>
                <p class="govuk-body">Source: Capacity Tracker<br>
                  Data correct as of 24 December 2024<br>
                  <!-- <a href="../v3/help/beds-per-100000-people.html" class="govuk-link">View supporting information for this data</a></p>-->
                </div>
              </div>

              <h2 id="smart-insights">Smart insights (experimental)</h2>
              <div class="govuk-inset-text">
                Smart insights use artificial intelligence (AI) to analyse this data, highlighting trends and patterns to support your own analysis. As this is experimental, verify the insights to check they are appropriate and meet your needs. <a class="govuk-link" href="help/smart-insights.html">Learn more about smart insights</a>
              </div>
        
              <h3 class="govuk-heading-s">Summary of key trends</h3>
              <p>Suffolk has a higher number of dementia residential beds per 100,000 adult population (648.8) compared to the East of England region (486.6) and England overall (432.8). This suggests a stronger focus on residential dementia care in Suffolk than in many other areas.</p>

              <p>Additionally, while Suffolk provides more total care beds per 100,000 people (2,398.4) than the East of England region (1,969.5), its provision of dementia nursing beds (160.1 per 100,000) is slightly lower than the national average (182.1). This indicates that while residential dementia care is well-supported, access to specialist nursing care for dementia may be more limited compared to the national picture.</p>
        
              <h3 class="govuk-heading-s">Insight 1: Strong focus on dementia residential care in Suffolk</h3>
              <p>Suffolk has a 33% higher provision of dementia residential beds per 100,000 people than the East of England region and 50% more than the national average. This suggests that dementia residential care is more widely available in Suffolk compared to other areas.</p>
              <h4 class="govuk-heading-s">How you might use this insight</h4>
              
              <ul class="govuk-list govuk-list--bullet">
                <li>Review how demand for dementia residential care compares to other types of adult social care to ensure resources align with future needs.</li>
                <li>Assess whether the focus on dementia residential care affects the availability of other care types, such as general nursing or specialist mental health care.</li>
             </ul>
        
             <h3 class="govuk-heading-s">Insight 2: Lower provision of dementia nursing care compared to national average</h3>
             <p>While Suffolk has a strong provision of dementia residential care, its dementia nursing care beds per 100,000 adult population (160.1) are lower than the national average (182.1). This may indicate fewer options for those needing more intensive nursing support.</p>
             <h4 class="govuk-heading-s">How you might use this insight</h4>
             
             <ul class="govuk-list govuk-list--bullet">
               <li>Explore whether demand for dementia nursing care in Suffolk is increasing and if additional provision is needed.</li>
               <li>Consider whether individuals with complex dementia care needs have sufficient access to specialised nursing care locally.</li>
            </ul>
        
    <!-- <p class="govuk-body"><a class="govuk-link" href="#">Back</a></p> -->
    <!-- <p class="govuk-body govuk-!-margin-top-9"><a class="govuk-link" href="#">Get help with this page</a></p> -->
    <details class="govuk-details govuk-!-margin-top-9">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Get help with this page</span>
      </summary>
      
      <div class="govuk-details__text">
        If you have any issues using this service, email <a href="mailto:getadultsocialcaredata.team@dhsc.gov.uk" class="govuk-link">getadultsocialcaredata.team@dhsc.gov.uk</a>.
      </div>

    </details>
  </div>

</div>
{% endblock %}