{% extends "v6/layouts/logged-in.html" %}

{% set pageName = "Care homes" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../../home"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{pageName}}</h1>
    <p class="govuk-body-l">Find data on residential care homes and nursing homes across England.</p>

    <div class="gem-c-cards">
      <ul class="gem-c-cards__list gem-c-cards__list--one-column">
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="#" data-message="Sorry, this hasn’t been designed yet">Locations and services of care home providers</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Explore data on residential care homes and nursing homes by location. Filter by service and bed type.</p>
          </div>
        
        </li>
        <li class="gem-c-cards__list-item">

          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="#" data-message="Sorry, this hasn’t been designed yet">Care home bed provision and occupancy levels</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Compare capacity data for care homes in a local authority area to national and regional statistics.</p>
          </div>
        
        </li>
      </ul>
    </div>

  </div>

</div>
{% endblock %}